[2022-01-28 11:08] rjd22 commented on #1006
@Matt-Yorkley looks indeed like a bug. If you could make a PR that would be awesome! Thank you!

[2022-01-28 11:10] rjd22 commented on #1004
I'm thinking of downloading the google font and move it in the library. There is actually no reason to alway's get the font at googles servers IMO.

@codecalm what do you think?

[2022-01-28 12:21] codecalm commented on #1004
For me better idea is to load font via `<link rel="..." />` instead of css. If someone dont have `Inter` font will be loaded default system font.

[2022-01-28 12:30] rjd22 commented on #1004
@codecalm I was actually thinking of just bundling the Inter font files with tabler so they are always available and can be downloaded the following helper can help us bundle them:

https://google-webfonts-helper.herokuapp.com/fonts

[2022-01-29 13:59] #1006 closed

[2022-01-29 14:09] codecalm commented on #1004
I've changed it, now webfont is loaded locally instead of Google fonts :)

[2022-01-29 14:09] #1004 closed

[2022-01-29 15:45] ollym opened #1010 "[BUG] Card with bottom tabs has incorrect border radius"
![image](https://user-images.githubusercontent.com/143771/151667271-2eee3551-a371-4c64-bcb5-c097bb893254.png)

Bottom left of the main container has a border radius when it shouldn't

[2022-01-29 15:46] codecalm commented on #1010
thank you, I’ll check it!

[2022-01-29 22:32] AnTheMaker commented on #1004
Perfect, thanks a lot!!

By the way: Inter provides a variable font you could use instead of loading each differnet weight. Check out the page of the creator of the font: https://rsms.me/inter/

Thanks again for the change!

[2022-02-01 07:11] nejcdev opened #1011 "[FEATURE] - class w-100 for sm md lg xl ..."
is there an option to make w-100-sm ? w-100-md ?  for mobile  and on desktop have normal btn for example ?

[2022-02-01 17:28] alighasemzadeh opened #1012 "[FEATURE] SASS of landing page"
Hi
I need SASS https://tabler.io/ page.

[2022-02-02 01:33] alighasemzadeh opened #1013 "[BUG] btn-block"
I try to use btn-block but it doesn't work.
But if I try w-100 it is ok.

[2022-02-02 16:27] Nejcc opened #1014 "[FEATURE] - adding NEW or Updated flag in navigation menu on demo project"
nice feature will be if someone can add flag on the navigation or somewhere what was updated or added new  like this new awesome pages

https://preview.tabler.io/uptime.html
https://preview.tabler.io/playground-dark.html
https://preview.tabler.io/card-actions.html

Thank you very much

[2022-02-02 16:56] Nejcc opened #1015 "[FEATURE] - Ecommerce templates / features"
is there any plan to make like ecommerce admin features like (products, product details, add new product, checkout, orders, Ecommerce  dashboard, ...) ?

[2022-02-03 20:56] codecalm commented on #1013
in newest version Bootstrap changed `.btn-block` to `.w-100` class :)

[2022-02-03 20:56] #1013 closed

[2022-02-03 21:11] #1014 closed

[2022-02-03 21:15] codecalm commented on #1014
i've fixed :)

[2022-02-03 22:13] codecalm commented on #1010
fixed :)

[2022-02-03 22:25] ollym commented on #1010
Almost, i think the border radius should be the same as it is on the top

![image](https://user-images.githubusercontent.com/143771/152439490-ba8d0d25-fef7-4a68-b452-d23654949d00.png)

![image](https://user-images.githubusercontent.com/143771/152439519-0633ee30-7639-4095-a41e-afc7a16bb467.png)

[2022-02-03 22:42] #1010 closed

[2022-02-03 22:42] codecalm commented on #1010
fixed :)

[2022-02-04 08:03] nejcdev commented on #1014
Thats amazing!  FPR

[2022-02-04 08:05] nejcdev opened #1016 "[FEATURE] - adding section where you have by version snippets of new elements or updated changes"
One nice feature from @last PR  of adding "new " flag  will be  if  you can add new page where will be displayed all new widgets / elements and updated.

Thank you !

[2022-02-04 17:42] Nejcc opened #1017 "[FEATURE] - apexchart Radar charts"
nice feature will be to have radar charts like  monday to sunday or  january to december :)

[2022-02-04 17:47] Nejcc opened #1018 "[BUG] - vector map not working + navigation submenu not opening"
check the page https://preview.tabler.io/maps-vector.html @codecalm

[2022-02-04 17:58] Nejcc opened #1019 "[BUG] - project-overview.html 404 error"
inside https://preview.tabler.io/widgets.html  you have linked this page on widget that is 404 https://preview.tabler.io/project-overview.html

[2022-02-05 11:28] codecalm commented on #1019
fixed :)

[2022-02-05 11:28] #1019 closed

[2022-02-05 22:01] codecalm commented on #1016
@nejcdev you can see on the changelog: https://preview.tabler.io/changelog.html :)

[2022-02-06 00:17] ollym opened #1023 "[BUG] Tag select doesn't work"
![image](https://user-images.githubusercontent.com/143771/152663267-d1f2ae83-5d5d-4268-8672-bd14a2b7b938.png)

[2022-02-06 17:22] kevinpapst opened #1024 "[BUG] Dark mode issue for Tomselect"
**Describe the bug**

Some issues with Tomselect exist in dark mode at https://preview.tabler.io/form-elements.html:

- Selected text is not visible
- Not possible to identify optgroups (adding an example in one of the demo dropdowns would be great!)

<img width="429" alt="Bildschirmfoto 2022-02-06 um 18 03 42" src="https://user-images.githubusercontent.com/533162/152692103-9aca8d35-378b-47f4-87d8

[2022-02-06 17:24] Nejcc commented on #1024
Why this dropdown is not full width?

[2022-02-07 04:54] HoseinGhanbari opened #1025 "[BUG] postcss-import: @charset must precede all other statements"
**Describe the bug**

**(tabler+angular) integration using angular.json**

[code]

[code]

**Device**

 - Browser: Chrome v98
 - OS: Windows 10
 - Screen size: Laptop

**Env**
- NODE: v16.13.1
- NPM: 8.3.0
- Angular/CLI: 13.2.2

**To reproduce**

inside angular.json styles/scripts array load the tabler styles/scripts:

[code]

a simple fix would be commenting out `@charset`, but maybe its not the

[2022-02-07 07:25] Nejcc opened #1026 "[LARAVEL ITEGRATION] - Tabler on laravel"
9. February,  2022 - the new Laravel 9 release will came out. I wanna make this tabler template into laravel integration.
I wanna ask you devs if there is any particular things that i need to follow, recommendation about new future release and updates?

- Laravel (PHP) framework
- SCSS
- js
- vuejs
- localization support
- more...

1. I notice that tabler use different includes for css / js  + scr

[2022-02-07 08:41] kevinpapst commented on #1026
I made a Symfony bundle, so if you need some inspiration: https://github.com/kevinpapst/TablerBundle

[2022-02-07 08:43] Nejcc commented on #1026
Sure i will check it ! Do you guys have any community hub like discord? @kevinpapst @codecalm ?

[2022-02-07 08:46] Nejcc commented on #1026
Do you have preview url?

[2022-02-07 08:47] kevinpapst commented on #1026
Only a demo app: https://github.com/kevinpapst/TablerBundle-Demo - but not hosted, you have to spin it up yourself.

[2022-02-07 12:07] kevinpapst opened #1028 "[BUG] Inter font rendering issue"
**Describe the bug**

Since the integration of local font, I am seeing this issue for capital A & Q eg. [on this page](https://preview.tabler.io/form-elements.html):

<img width="449" alt="Bildschirmfoto 2022-02-07 um 12 57 21" src="https://user-images.githubusercontent.com/533162/152783999-a5a43c87-d772-4fd4-805b-2bbc87a42684.png">

There is a [pretty long thread about this issue](https://github.

[2022-02-07 15:02] Nejcc opened #1029 "[FEATURE] - adding icons in navbar dropdown"
nice feature will be to add icons to navbars dropdown menu  and sub-navbars

[2022-02-07 15:14] Nejcc opened #1032 "[FEATURE] - Roadmap"
is there any roadmap for the future updates / features / visions?

Some suggestions to add
- Different auth pages (combined login / register)
- verification inputs before login. like.  4 5 6 7.   or.  G 4 K 3 3 Q q... or google authenticstion code...
- count down screen
- subscription plans
- file manager
- galleries + lightbox?

[2022-02-09 12:02] reina3596 opened #1033 "[BUG] Error: Can't resolve '../../node_modules/@tabler/core/src/scss/fonts/inter-v7-latin-ext_latin-300.woff2'"
In a clean installation I receive with Laravel I receive

Error: Can't resolve '../../node_modules/@tabler/core/src/scss/fonts/inter-v7-latin-ext_latin-300.woff2'

[2022-02-11 18:11] df2 opened #1035 "[BUG] Wrong background color of hovered list group items in dark mode"
**Describe the bug**

Non-active list group items have a light background in dark mode when hovered over.

**To reproduce**

Create a list group of ```<a>```'s and hover over one in dark mode.

**Screenshots**

![Screenshot_20220211_095234](https://user-images.githubusercontent.com/1834925/153644029-aa3782f9-652b-4596-85f4-37e7c983be81.png)
![Screenshot_20220211_095254](https://user-images.githubu

[2022-02-14 04:05] shukriYusof commented on #1026
i think you can compile it on webpack , sass or js. cause tabler also a part of npm packages.

[2022-02-14 06:37] nejcdev commented on #1026
yes i will do that  it's already in progress?

[2022-02-14 15:02] Andyfoo opened #1036 "[BUG] "invalid-feedback" in "input-group" input focus border highlight error"
**Describe the bug**

"invalid-feedback" in "input-group" input focus border highlight  error

**Device**

 - Browser Microsoft Edge 98.0.1108.43
 - OS: Windows 10]
 - Screen size 3840x2160

**To reproduce**

html code:
`	           <div class="p-2">
                        <label>Email address</label>
			 <div class="input-group input-group-flat">
                        <input type="email" class

[2022-02-15 12:37] oldcastlehq opened #1037 "[BUG] Form helper hijacked the input checkbox actions."
When you use form helper with checkbox, its hijacked the checkbox action. For example. If you click on the ?, the checkbox is actived.

	<div class="row mb-3">
		<label for="product_review" class="col-sm-2 form-label">"allow customer reviews"
		<span class="form-help ms-2" data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true" data-bs-content="<p>ZIP Code must be US or CDN format.</p

[2022-02-15 13:54] tomchandra opened #1038 "[BUG]"
Hallo, such a great work!

i work with many nav item ( > 10 ) but navbar goes wrong and seems overflow, ho i can fix this? sorry for bad english, thanks!

<img width="1440" alt="Screen Shot 2022-02-15 at 20 52 42" src="https://user-images.githubusercontent.com/73766836/154075589-8a685387-137c-4674-8fe4-c8883ed7775a.png">

[2022-02-15 21:00] alighasemzadeh commented on #1012
@codecalm
Can you share https://tabler.io/ page css or scss files?

[2022-02-16 11:47] oldcastlehq opened #1041 "[FEATURE] Vertical tab"
A vertical tab like https://github.com/tromgy/bootstrap-5-vertical-tabs

[2022-02-17 06:15] alighasemzadeh commented on #1026
https://github.com/alighasemzadeh/bap
You can use it but Laravel 8.
I will update it soon.
Livewire + Tabler.

[2022-02-17 11:02] rjd22 commented on #1032
Since this theme is actually quite feature complete changes are made on what the needs of the developers are. If you want a feature feel free to contribute by sending us a PR.

Since this is a really broad issue. I'm closing this to keep track of specific requests.

[2022-02-17 11:02] #1032 closed

[2022-02-18 11:44] AnTheMaker commented on #1028
That seems like an interesting bug... does this only happen with the woff2 files sourced from google fonts or also with the original font files from https://github.com/rsms/inter?
Alternatively, we could also try to use the variable font from the rsms/inter repo which shouldn't have this bug (afaik).

[2022-02-19 02:42] alejandrodevs opened #1045 "Wrong path to compile bootstrap using esbuild"
Using rails 7 and cssbundling-rails I installed tables using `yarn add @tabler/core` and in the application.scss I imported it like this:
[code]

But I am getting the following error because of the `~` in the path:
[code]

If I remove the ~ from paths, everything works as expected.
I found an existing issue but Im continue having the issue.
https://github.com/tabler/tabler/issues/226

Any ideas to

[2022-02-19 11:15] codecalm commented on #1012
I am working on a new version of the Tabler website. When it is ready I will publish its source code.

![Screenshot 2022-02-19 at 12 14 08](https://user-images.githubusercontent.com/1282324/154798556-083c067f-8a4a-4870-b2ae-52bbfa2af543.png)

[2022-02-19 11:15] #1012 closed

[2022-02-19 11:21] codecalm commented on #1037
it's not a but, it's normal behaviour. You use `label` tag, so everything clicked inside `label` tag will activate checkbox.

You should use code like that to expected behaviour:

[code]

[2022-02-19 11:46] #1035 closed

[2022-02-19 11:47] codecalm commented on #1035
fixed :)

[2022-02-19 13:11] FreexD commented on #1045
Try using a path alias plugin for esbuild or perhaps the jsconfig will suffice - https://github.com/evanw/esbuild/issues/38

[2022-02-19 18:50] #1018 closed

[2022-02-19 19:09] #1028 closed

[2022-02-20 12:23] diomed opened #1052 "[BUG] Card background icon is practically invisible"
I know that background icon is supposed to be unobtrusive, but icon displayed in card with icon bg is practically invisible.
I suggest changing its color to more visible one. Such as baby blue or similar.

[2022-02-20 17:33] kevinpapst commented on #1052
Are you talking about these new styles? I find them quite appealing, but only from a visual perspective:
<img width="643" alt="Bildschirmfoto 2022-02-20 um 18 21 06" src="https://user-images.githubusercontent.com/533162/154855422-b046f30b-c3f7-443a-83ff-3a820b4dbc2c.png">

Sorry if you meant something else, but I wanted to share my 5 cents as well:

I was thinking about using them in my app and as

[2022-02-21 09:49] diomed commented on #1052
![card with icon bg](https://user-images.githubusercontent.com/72777/154929988-e1039477-3c18-40ad-ba4a-ed6731632feb.png)

no, I'm talking about this. apparently, when you squint your eyes you'll see that this card actually has icon in its background.
should really be more noticeable.

[2022-02-21 10:09] kevinpapst commented on #1052
Ah right, hm an opacity of `.card-stamp-icon{opacity: .3;}` would indeed look better.
<img width="336" alt="Bildschirmfoto 2022-02-21 um 11 06 06" src="https://user-images.githubusercontent.com/533162/154933337-4d8d84a2-2d0c-4e15-9198-250f2ddda07e.png">
The opacity of `opacity: .075;` is [currently hardcoded](https://github.com/tabler/tabler/blob/main/src/scss/ui/_cards.scss#L69), you we can't use

[2022-02-21 13:28] df2 commented on #1035
Looks like there's still an issue with the `:active` state in dark mode:

![Screenshot_20220221_052709](https://user-images.githubusercontent.com/1834925/154964244-6e21dcff-9998-4f28-9620-4531b588f469.png)

[2022-02-22 16:16] ashrafkamarudin opened #1056 "[BUG] Missing fonts in scss/fonts"
I tried installing Tabler with Laravel 9 and came across this error

[code]

So I guess this is a bug?

[2022-02-22 16:21] ashrafkamarudin commented on #1056
I see. I can't find the issue so opened new one. Glad it's fixed !

[2022-02-22 16:21] kevinpapst commented on #1056
This was the PR removing the fonts: https://github.com/tabler/tabler/pull/1048

[2022-02-23 02:19] JordanTAdelman commented on #241
Hey @codecalm I have a question regarding Dark Mode for Tabler.io. When it comes to implementing it you stated you need to change the ```.theme-dark``` to ```.theme-dark-auto``` Do I need to also do what @earboxer did, ```"tabler": "github:tabler/tabler#ff5e69da"```, to implement this change?

[2022-02-23 23:04] miladimos opened #1058 "add some useful pages"
this is good template but missing - account setting - profile page - single post page, .... pages and some landing page please add these pages

[2022-02-25 10:50] diomed commented on #1058
I think that there are various pages that you can use as single post page.

Typography / Markdown being one of them.
Even Licence page or if you want minimal just edit Terms of service page.

[2022-02-25 14:18] alighasemzadeh opened #1059 "[BUG] Upload button in form element in dark view has problem"
Upload button in form element in dark view has problem.

**Screenshots**
![image](https://user-images.githubusercontent.com/26847446/155730422-d388c863-9ae7-457a-9820-9befaf5f891b.png)

[2022-02-25 17:02] fedale opened #1060 "[BUG] layout-fluid not present in CSS"
It seems that .layout-fluid class is not present in https://unpkg.com/@tabler/core@1.0.0-beta8/dist/css/tabler.min.css CSS file even if I see in https://preview.tabler.io/dist/css/tabler.min.css

[2022-02-26 11:30] #1052 closed

[2022-02-26 11:31] codecalm commented on #1052
yellow is very specific colour, so i've changed stamp opacity to `.2`. I've also added `$card-stamp-opacity` variable to config :)

[2022-02-26 11:40] kevinpapst commented on #1052
thanks @codecalm 👍

[2022-02-26 11:43] codecalm commented on #1059
fixed

[2022-02-26 16:28] kevinpapst opened #1063 "New pre-release"
Hi @codecalm,

any chance we could get a new pre-release?

There were many bigger changes, including

- the font BC break
- the boxed layout
- the new tasks view 👍
- so many bugfixes

I'd like to test without depending on the main branch.

Thank you for your work!

[2022-02-26 18:28] kevinpapst commented on #1063
Thanks for your quick reaction 🚀

See https://github.com/tabler/tabler/releases/tag/v1.0.0-beta9

[2022-02-26 18:28] #1063 closed

[2022-02-26 18:32] codecalm commented on #1060
@fedale I've released new version (1.0.0-beta9) :) try now :)

[2022-02-26 18:32] #1060 closed

[2022-02-26 18:34] Nejcc opened #1065 "[FEATURE] - task page as actual todo"
it will be nice if you can somehow make https://preview.tabler.io/tasks.html# this page as actual tasks for tabler development :)

@codecalm  is doable?

[2022-02-26 18:37] Nejcc opened #1066 "[BUG/MISSING] - layout-boxed missing NEW flag"
https://preview.tabler.io/layout-boxed.html :) missing NEW or Updated.  can be old one added too?

[2022-02-26 19:04] Nejcc opened #1067 "[FEATURE] - tabler icons sortable by groups"
is there an option to make tabler icons  grouped by  groups / sections ?

like.  user icons togergher, brand icons together,  social media icons together ,  ecommerce icons together etc...

[2022-02-26 19:07] Nejcc opened #1068 "[BUG] - map-fullsize not working"
https://preview.tabler.io/map-fullsize.html

[2022-02-26 19:07] codecalm commented on #1066
fixed, thank you!

[2022-02-26 19:07] #1066 closed

[2022-02-26 19:10] Nejcc opened #1069 "[FEATURE] - profile page"
is there any plans for profile page ?  @codecalm

[2022-02-26 19:11] #1056 closed

[2022-02-26 19:12] Nejcc commented on #1066
@codecalm   https://preview.tabler.io/layout-boxed.html.  without background dark?

[2022-02-26 19:13] codecalm commented on #970
@nejcdev try http://localhost:3000/layout-fluid-vertical.html or http://localhost:3000/layout-fluid.html :)

[2022-02-26 19:13] #970 closed

[2022-02-26 19:17] kevinpapst commented on #1066
Adding a css rule is the option of choice I assume:
[code]

[2022-02-26 19:18] Nejcc opened #1070 "[FEATURE] - settings page with sub sections?"
is there any plan for settings page ?
 - personal info
 - data & privacy
 - security
 - people & sharing
 - passwords ...
 - payment and subscription...

@codecalm

[2022-02-26 19:18] Nejcc commented on #1066
tnx :)

[2022-02-26 19:19] Nejcc commented on #1069
<img width="550" alt="image" src="https://user-images.githubusercontent.com/6236128/155856298-59ec254c-5f3d-482e-81fc-00d6c20b60c9.png">

[2022-02-26 19:20] Nejcc commented on #1070
<img width="483" alt="image" src="https://user-images.githubusercontent.com/6236128/155856310-fb939b58-c581-4eab-a396-187baedba1a0.png">

[2022-02-26 19:34] Nejcc opened #1071 "[BUG] issues with install jekyll on osx"
i get errors like  when i do sudo gem install bundler jekyll. or bundle install

<img width="912" alt="image" src="https://user-images.githubusercontent.com/6236128/155856639-4495a64a-abcf-444b-84ec-7233a0a90a9b.png">

[2022-02-26 19:48] Nejcc commented on #1071
let me try  will be nice if there is in readme for osx  install tutorial too :)

[2022-02-27 01:20] kikikiblue commented on #988
👍

[2022-02-27 11:35] Bronxphoneix opened #1073 "tabler.min.js:9 / Uncaught RangeError: Maximum call stack size exceeded."
Hello, When open modan in modal, and when close it Console Error:

`Uncaught RangeError: Maximum call stack size exceeded.
    at Os._handleFocusin (tabler.min.js:9:112250)
    at HTMLDocument.<anonymous> (tabler.min.js:9:111875)
    at HTMLDocument.n (tabler.min.js:9:86335)
    at HTMLDocument.<anonymous> (modal.js:287:23)
    at HTMLDocument.n (event-handler.js:101:15)
    at Os._handleFocusin (

[2022-02-28 12:04] fedale commented on #1068
I think the problem is related not to Tabler.io map but to the "rate limit" on the counterpart API.

[2022-02-28 18:21] Nejcc opened #1075 "[HELP] - how to do for loops"
can someone help me to do for loop with data placeholder like username and comments ?

https://github.com/Nejcc/tabler/blob/features/timeline/src/pages/timeline.html

[2022-02-28 18:42] Nejcc opened #1076 "[FEATURE] - discord for interaction & chat"
I've made discord hub to get more interactive [https://discord.gg/JjmwwbsCRQ](https://discord.gg/JjmwwbsCRQ)

[2022-03-02 20:47] novastream commented on #1068
Like Tabler I had this setup:
<div class="page-wrapper page-wrapper-full">
<div class="page-body">
<div id="map" class="flex-fill">

flex-fill requires the parent element to have:
display: flex;
flex: 1;
flex-direction: column;

so just add this till fixed:
/* Tabler fixes */
.page-wrapper .page-body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

[2022-03-04 08:47] woto opened #1078 "Sorry. Temporary stopped sponsoring."
Sorry. Temporary stopped sponsoring until war with Ukraine stops.

I'm from Russia and I'm very sorry for what's happened now. And that good people of Russia can't affect the current situation :disappointed:.

[2022-03-04 18:50] Thaffa opened #1079 "Minor [BUG] On mozilla in Form-Select on focusing text is vanishing"
In mozila firefox, on the component FORM-SELECT when get focusing by press tab in previous component, the text is turning transparent, the bug/error is ocuring by

[code]
on tabler css. I dont know if was proposital to get transparent on that, but only afecting on mozila, in lightmode and only plain formselect when using tomselect works fine.

 - Browser [Fiferox 97.0.1]
 - OS: [e.g. Windows 10]

[2022-03-09 09:59] JustGreg opened #1082 "[BUG] bg-*color* overwrites font-color"
**Describe the bug**

In [utils/_colors.scss](https://github.com/tabler/tabler/blob/main/src/scss/utils/_colors.scss) font-color is set to `#ffffff !important`.
Generated CSS would look like this:
[code]

The following HTML-Code will display a white text on a white background:
[code]
(this is because bg-white is declared after text-dark)

For some reason this part is missing in https://preview.tab

[2022-03-11 08:54] rjd22 commented on #1079
@Thaffa does this fix your issue? https://github.com/tabler/tabler/pull/1085

[2022-03-11 09:04] rjd22 commented on #1082
@JustGreg I could not replicate your issue. I did make a fix on it based on your feedback but @codecalm needs to check if my fix is appropriate:

https://github.com/tabler/tabler/pull/1086

[2022-03-14 08:03] jobber2955 opened #1087 "[BUG] Failed to run npm install in MacOS"
**Describe the bug**

When running ```npm install``` after ```cd /tabler```, I will get an error says ```ERROR: Failed to download Chromium r722234! Set "PUPPETEER_SKIP_CHROMIUM_DOWNLOAD" env variable to skip download.
npm ERR! TypeError [ERR_INVALID_PROTOCOL]: Protocol "https:" not supported. Expected "http:"```

#### I know that i can set that env and skip download chromium, but in my opinion, f

[2022-03-14 08:45] jobber2955 commented on #1087
After searching in puppeteer's repo, and remove proxy setting, this issues is gone

[2022-03-14 08:45] #1087 closed

[2022-03-16 14:04] leandrodelgado7 opened #1088 "Problems with Dropdown menu and Angular"
I am developing an application in Angular 11 which has a menu. Routing must be done from routerLink. The problem is that after changing the route, the menu remains open. I am using version 1.0.0-beta9. In an old version it worked fine.

[2022-03-19 21:17] soinalastudio opened #1089 "Why in my setup I have to toggle manually in js dropdowns or popovers"
Hello,
Is there any methods to activate automatically dropdowns or popovers as per data attributes or to initialize all tabler stuffs?
For now, for dropdown for example, I have to add $("#buttonid").dropdown("toggle") in the button click event to toggle the dropdown menu.
For form-help popovers, I have to initialize manually $("#spanid").popover() so that popover will be triggered.
In tabler demo,

[2022-03-22 07:51] arezascarlet opened #1090 "[BUG] element tag select error"
i found  the bug when i fill the form use Tab key, select tag is blank, but if we click with cursor is normally

![image](https://user-images.githubusercontent.com/49219720/159432982-1c66726a-d0ce-4275-a110-4bdb44e0d506.png)

[2022-03-23 03:43] handsome-me commented on #1090
Hello,
Can you assign this issue to me?

[2022-03-23 04:04] arezascarlet commented on #1090
sorry i don't have permission to assign

[2022-03-23 09:36] #1079 closed

[2022-03-23 09:38] rjd22 commented on #1090
This is a duplicate of #1079 and a fix is waiting for release

[2022-03-23 09:38] #1090 closed

[2022-03-23 09:58] handsome-me commented on #1090
I want to contribute to tabler so where can I start?

[2022-03-23 09:59] rjd22 commented on #1089
@soinalastudio I'm not sure, this seems to be something on your end since it's working correctly in our demo and on my installation.

Are you sure you are running the included tabler.js? https://github.com/tabler/tabler/blob/main/dist/js/tabler.js

Without an error there is little that can be done to help you.

[2022-03-23 10:34] rjd22 commented on #1070
@Nejcc there are no plans for such a page. Would you like to design one for us and contribute it?

[2022-03-23 10:35] rjd22 commented on #1069
@Nejcc no plans yet but if you like you can contribute one to us.

[2022-03-23 10:38] rjd22 commented on #1058
There are some other issues that ask for these pages. I'm closing this as a duplicate.

But if you like you are free to contribute one of those pages by sending us a PR.

[2022-03-23 10:38] #1058 closed

[2022-03-24 09:33] #975 closed

[2022-03-24 09:36] rjd22 commented on #574
Closing this since it doesn't seem relevant anymore. If you feel this is still relevant feel free to mention me.

[2022-03-24 09:36] #574 closed

[2022-03-24 09:37] rjd22 commented on #611
This seems to be fixed now

[2022-03-24 09:37] #611 closed

[2022-03-24 09:42] rjd22 commented on #689
Since we have a calendar in tabler v2 I'm closing this one.

[2022-03-24 09:42] #689 closed

[2022-03-24 09:43] rjd22 commented on #338
Since selectize is replaced with tom-select this issue is now closed

[2022-03-24 09:43] #338 closed

[2022-03-24 09:46] rjd22 commented on #897
This is fixed now

[2022-03-24 09:46] #897 closed

[2022-03-24 09:55] kevinpapst commented on #897
@rjd22 this is not fixed, see https://preview.tabler.io/tabs.html

<img width="491" alt="Bildschirmfoto 2022-03-24 um 10 53 56" src="https://user-images.githubusercontent.com/533162/159890275-82841b92-3ee1-471a-9fd5-d189cb9a10d3.png">

Or is this really intentional?

[2022-03-24 10:00] rjd22 commented on #1024
@kevinpapst would it be possible to make an code example of the optgroups for me? I might fix that too.

[2022-03-24 16:48] rjd22 commented on #802
Since there was not response I'm closing this

[2022-03-24 16:48] #802 closed

[2022-03-24 16:50] #859 closed

[2022-03-24 16:52] rjd22 commented on #957
Since everyone's printing requirements are different we won't be able to fix this while suiting everyone's needs.

I would recommend making your own css styles that you require for printing.

[2022-03-24 16:52] #957 closed

[2022-03-30 08:14] Kaylin6688 commented on #1073
SUN DeFi is the safest financial product, profitable every day, every week, high deposit interest in ETH and TROX, USDT
 daily interest:
 deposit 5000usdt = 630 USDT
 deposit 30,000usdt=750 USDT
 deposit 60,000usdt= 1920 USDT
 deposit 80,000usdt= 2880 USDT
 deposit 100,000usdt = 4000USDT
 inbox for detailed advice: https://www.funawealth.com?share_address=0x0E2E7bb6D1A83eDAB9C84411C018a050E7BE406C

[2022-03-30 08:41] Kaylin6688 commented on #1025
SUN DeFi digital currency financial product with annual income up to 1440%!  !  !
 70,000 customers have used and trusted the platform
 Click the link to start the journey to get rich:
https://www.funawealth.com?share_address=0x0E2E7bb6D1A83eDAB9C84411C018a050E7BE406C
![IMG_20220329_083442_957.jpg](https://user-images.githubusercontent.com/102297226/160789758-a8c74c59-0848-457d-9d22-bfef0ae75591.j

[2022-03-30 08:43] Kaylin6688 commented on #1073
SUN DeFi digital currency financial product with annual income up to 1440%!  !  !
 70,000 customers have used and trusted the platform
 Click the link to start the journey to get rich:
https://www.funawealth.com?share_address=0x0E2E7bb6D1A83eDAB9C84411C018a050E7BE406C
![IMG_20220329_083442_957.jpg](https://user-images.githubusercontent.com/102297226/160790035-3d11fed1-d31b-4444-b4df-e1549b08fac7.j

[2022-03-30 09:57] kevinpapst commented on #1073
User @Kaylin6688 and postings reported to Github

[2022-04-05 03:53] devzakir opened #1103 "[FEATURE] Using my own brand color by replacing default color"
## I love Tabler, I used in my many applications! One of the problem I find is changing primary and secondary color globally to match my brand color scheme

@codecalm can you guide how to change color scheme globally in tabler from scss file!

Or can you use css variable for colors? So we can define color variable in the root and update anytime without any hassle!

[2022-04-05 10:20] codecalm commented on #1103
@devzakir collapsed sidebar and color variables are number one now in our priority list :)

[2022-04-06 04:08] devzakir commented on #1103
good to hear that, I am excited about tabler and it's feature releases!

[2022-04-08 15:59] Nejcc opened #1105 "[FEATURE] search on icons view"
@codecalm  can you make search field on icons https://preview.tabler.io/icons.html#navbar-help.  will be much easier to find what you are looking for or put into groups  like u have for brands done ?  thank you

[2022-04-08 16:02] codecalm commented on #1105
search for icons is available on https://tabler-icons.io

[2022-04-08 16:10] Nejcc commented on #1105
@codecalm yeah i know there but in here   then put on help another dropdown link to this site  to not have on both sides   is there anywhere option to preselects settings of tabler theme.  proper colors light/dark. and size ?

[2022-04-08 16:12] Nejcc commented on #1105
oh the page was updated on icons :)

[2022-04-11 07:11] rjd22 commented on #1024
Outgroups still need to be fixed.

[2022-04-20 13:20] zolzaya commented on #1045
@alejandrodevs hey have you solved it?

[2022-04-20 18:07] renancarvalhoo commented on #1045
I'm facing the same issue

[2022-04-22 15:49] denistorresan opened #1111 "[FEATURE] Breadcrumb"
I think may be useful to add a Breadcrumb component, for example for situations like list -> detail elements and nested navigation pages.

![immagine](https://user-images.githubusercontent.com/1846826/164749720-4e268143-b750-495f-badd-944b5e411ae6.png)

[2022-04-22 15:52] denistorresan commented on #1111
found that is already on plan. sorry.

[2022-04-22 15:52] #1111 closed

[2022-04-24 02:27] majedooona commented on #155
TERMUX 👇

1-  cd ..
2-  cd usr/lib/ruby/gems/2.7.0/gems/cd eventmachine-1.2.7/lib
3-  nano eventmachine.rb
قم بكتابة هذا بالسطر اول بالبدايه
require 'em/pure_ruby'

أإأذأإأ مادخلت للمكان المطلوب عدل الارقام على حسب التحديث الموجود عندك
وذلك عبر الانتقال على امر واحد مثل
cd usr
ls
cd lib
ls
ونظر ماهو موجود عندك وادخله
واكمل الباقي نفس الطريقه

[2022-04-24 10:08] ishita-chandra commented on #1082
[PR-1112](https://github.com/tabler/tabler/pull/1112)
I've added a pull request to fix the text colour being overwitten by bgcolour issue. Please have a look.

[2022-04-27 03:41] dqhung311 commented on #1069
<img width="1267" alt="Screen Shot 2022-04-27 at 10 37 30" src="https://user-images.githubusercontent.com/26315867/165435325-aa8af86b-dc77-4d0e-8903-b9d7cc8ffe66.png">

[2022-05-02 04:17] MaoShengXiaoXiao521 opened #1116 "[FEATURE] Hello, we would like to have a Chinese version"
Hello, dear developers, we are a team from China.
In the process of using your UI library, because the language problem has brought us a lot of distress, we hope to launch a Chinese version.
In addition, our team can provide you with Chinese translation support, so we may need your authorization.
You can contact us by email: hello@heminran.email.cn

[2022-05-04 15:03] diomed commented on #1116
you don't need any authorisation, just fork it and make it.
project is MIT - open source - anyone can edit and do what they want with it.

https://github.com/tabler/tabler/blob/main/LICENSE

[2022-05-08 10:32] #1082 closed

[2022-05-08 13:18] redstonedesigner opened #1119 "[BUG] Pricing Table on Dark Mode doesn't change separator text"
**Describe the bug**

A clear and concise description of what the bug is.

Within the new "Pricing Table" example, the usage of Dark Mode results in the table separators showing as white bars with white text.  This does not seem like the intended behaviour, as it renders the separators completely useless.

**Device**

 - Browser: Latest Brave
 - OS: Windows 10
 - Screen size: 2560x1440

**To repro

[2022-05-08 13:24] #1119 closed

[2022-05-08 13:24] codecalm commented on #1119
fixed :)

[2022-05-10 03:14] hachi-eiji opened #1121 "[FEATURE] disable `text-transform: uppercase` on table header"
**Is your feature request related to a problem? Please describe.**
I'd like to display lowercase characters on table header.
But, it does not work because of `text-transform: uppercase` style in `th` tag

refs.
https://github.com/tabler/tabler/blob/f12a41a872d43c6b23fe1622422844302f904de5/src/scss/ui/_tables.scss#L6

**Describe the solution you'd like**
remove `text-transform: uppercase`

**Descri

[2022-05-10 13:10] vogelor opened #1122 "issue with dark mode"
i am using a php script to generatge the html-output.
this script sets the class of the body to dark-mode. means, every page from the server has body class="theme-dark".
this works fine.
BUT when i try to print the page, the dark mode is also in the preview-window and the page is printed in dark mode.

can you please add a media query that the dark mode css is NOT PRINTED.

if you have a question

[2022-05-13 08:00] rjd22 commented on #1122
What browser are you using? Afaik this should work like you suggested because the code is there:

https://github.com/tabler/tabler/blob/5a9ae94e5824f151a3ccfb35618d73c8abe323a4/src/scss/mixins/_mixins.scss#L50

[2022-05-13 08:30] vogelor commented on #1122
Hmm - that`s really strange....
i found out, that the background is only black if i activate the printing-option "background" (or background images not really sure, because my browser is in english).
you can take a look here:

https://help.waniba.de/

BUT! you can only see the dark mode here if you activate the dark mode in your OS! i do auto-detect with javascript and php...

[2022-05-13 08:39] rjd22 commented on #1122
What I do is use a cookie to store the preference of the dark-mode of the user and use that cookie to set the css `theme-dark` class in PHP.

Most likely if you do this printing will work fine because there is not much we can do about browsers ignoring our css flags.

[2022-05-13 08:45] vogelor commented on #1122
ok - if it works for you then i think this is "my problem". so i close the issue...

[2022-05-13 08:45] #1122 closed

[2022-05-13 12:44] ab623 commented on #1121
Wouldn't it come down to preference and design decision? I prefer the uppercase.

In this situation an override would be the best option.

[2022-05-13 13:45] hachi-eiji commented on #1121
Thank you for your reply. I think that when a developer writes lowercase, it is better to display lowercase.

[2022-05-13 16:23] gladtoseeugo commented on #1122
Unscribe
----- Original Message -----
From: Oliver Vogel ***@***.***>
To: tabler/tabler ***@***.***>
Cc: Subscribed ***@***.***>
Sent: Fri, 13 May 2022 04:46:19 -0400 (EDT)
Subject: Re: [tabler/tabler] issue with dark mode (Issue #1122)

ok - if it works for you then i think this is "my problem". so i close the issue...

--
Reply to this email directly or view it on GitHub:
https://github.com/tabl

[2022-05-13 19:14] gladtoseeugo commented on #1121
Unscribe
----- Original Message -----
From: Eiji Hachiya ***@***.***>
To: tabler/tabler ***@***.***>
Cc: Subscribed ***@***.***>
Sent: Fri, 13 May 2022 09:46:02 -0400 (EDT)
Subject: Re: [tabler/tabler] [FEATURE] disable `text-transform: uppercase` on table header (Issue #1121)

Thank you for your reply. I think that when a developer writes lowercase, it is better to display lowercase.

--
Reply to

[2022-05-14 08:52] ab623 commented on #1121
Wouldn't the developer then just write the CSS code to override?

[2022-05-14 15:00] hachi-eiji commented on #1121
yes. I will it.

[2022-05-16 17:24] gladtoseeugo commented on #1121
unscribe me

From: "Eiji Hachiya" ***@***.***>
To: "tabler/tabler" ***@***.***>
Cc: "Sheila Jordan" ***@***.***>, "Comment" ***@***.***>
Sent: Saturday, May 14, 2022 7:00:41 AM
Subject: Re: [tabler/tabler] [FEATURE] disable `text-transform: uppercase` on table header (Issue #1121)

yes. I will it.

—
Reply to this email directly, [ https://github.com/tabler/tabler/issues/1121#issuecomment-11267319

[2022-05-24 09:23] jozefrebjak opened #1124 "[FEATURE] Please update Composer version"
@codecalm I found that there is a composer version of the Tabler [here](https://packagist.org/packages/tabler/tabler), but is not updated. Can you please update to the latest version and keep updating it.

[2022-05-26 10:24] plastininikolay opened #1125 "[BUG] incorrect chart display in the mobile version"
![Screenshot_2022-05-26-18-22-25-45_21da60175e70af211acc4f26191b7a77](https://user-images.githubusercontent.com/67545744/170469570-0d474355-133f-497f-9928-69bd952f1470.jpg)

[2022-05-27 07:59] #1116 closed

[2022-05-27 08:03] #1073 closed

[2022-05-27 18:02] gladtoseeugo commented on #1073
UNSCRIBE

From: "Robert-Jan de Dreu" ***@***.***>
To: "tabler/tabler" ***@***.***>
Cc: "Subscribed" ***@***.***>
Sent: Friday, May 27, 2022 12:03:42 AM
Subject: Re: [tabler/tabler] tabler.min.js:9 / Uncaught RangeError: Maximum call stack size exceeded. (Issue #1073)

Closed [ https://github.com/tabler/tabler/issues/1073 | #1073 ] as completed.

—
Reply to this email directly, [ https://github.com

[2022-05-27 18:03] gladtoseeugo commented on #1125
UNSCRIBE

From: "Николай Пластинин" ***@***.***>
To: "tabler/tabler" ***@***.***>
Cc: "Subscribed" ***@***.***>
Sent: Thursday, May 26, 2022 2:24:57 AM
Subject: [tabler/tabler] incorrect chart display in the mobile version (Issue #1125)

[ https://user-images.githubusercontent.com/67545744/170469570-0d474355-133f-497f-9928-69bd952f1470.jpg ]

—
Reply to this email directly, [ https://github.com/ta

[2022-05-28 06:46] #1105 closed

[2022-05-29 10:29] jozefrebjak opened #1126 "[BUG] Issues with using listjs datatable"
**Describe the bug**

@codecalm  I'm trying to use new datatable component, which is using ListJS. Sorting is working as expected, but when I'm trying to add Pagination there is an issues with class `page`. ListJS is using class `page` within `<a class="page">`and Tabler is using class `page` as a global for page.

There is how to get working pagination
HTML

[code]

JS
[code]

As you can see we m

[2022-05-31 11:07] slav0nic opened #1127 "[BUG] range slider demo is broken"
sliders are not displayed

https://preview.tabler.io/docs/range-slider.html

[2022-06-03 08:35] dqhung311 opened #1129 "Disabled hide modal when click outside ?"
Anyone know how to disabled hide modal when click outside ?

[2022-06-03 09:41] gladtoseeugo commented on #1129
Unscribe
----- Original Message -----
From: dqhung311 ***@***.***>
To: tabler/tabler ***@***.***>
Cc: Subscribed ***@***.***>
Sent: Fri, 03 Jun 2022 04:35:44 -0400 (EDT)
Subject: [tabler/tabler] Disabled hide modal when click outside ? (Issue #1129)

Anyone know how to disabled hide modal when click outside ?

--
Reply to this email directly or view it on GitHub:
https://github.com/tabler/tabler/i

[2022-06-06 23:56] #1125 closed

[2022-06-06 23:56] codecalm commented on #1125
thank you for help :)

[2022-06-07 02:38] MaoShengXiaoXiao521 opened #1133 "[FEATURE] How do I change the color displayed around the button after clicking?"
Hello,
How do I change the color displayed around the button after clicking?
Or click on the color diaplayed around the text box?

[2022-06-07 02:43] MaoShengXiaoXiao521 commented on #990
I also need this feature!

[2022-06-08 02:16] ischaojie opened #1136 "The litepicker project looks abandoned"
The homepage of `litepicker` say:

The GitHub last commit at 2021.

[2022-06-08 14:13] tacman opened #1137 "[FEATURE] use li in nested menu"
**Is your feature request related to a problem? Please describe.**

I'm generating the menu dynamically, and the "leaf" links are not list item elements, which would be easier to generate and I think would be more semantically correct.
**Describe the solution you'd like**

This is the current (simplifed) menu html:
[code]

What I'd like to see is the two dropdown-item links inside of a ul / li, wi

[2022-06-09 12:30] kevinpapst opened #1145 "[BUG] Multiple bugs after Bootstrap update"
Not sure if this is related to the "Bootstrap beta" PR, but it was working just a couple of days ago and this here was the biggest change lately. So I assume this update broke several things, one of it was modals:
https://preview.tabler.io/docs/modals.html

Unreadable in both dark and normal mode now, e.g.
<img width="883" alt="Bildschirmfoto 2022-06-07 um 21 12 56" src="https://user-images.github

[2022-06-10 21:01] artknight opened #1146 "[BUG] /dist/ files are not updated!"
**Describe the bug**

I am seeing some new additions to the framework such as `dropzone` and `tinyMCE`, etc.. but I just checked the compiled `/dist/css/tabler-vendors.css` file and I do not see those changes.

Would you please update the `/dist` folder every time there is an update!

Thank you!

[2022-06-13 07:24] yangfancn opened #1147 "Beta10 not in npm packages?"
I see the latest version in npmjs.com/package/ is 1.0.0-beta9

[2022-06-14 18:08] tacman opened #1148 "[FEATURE] Add Example pages for related entities"
First, what a lovely set of components!  Really sharp looking.

**Is your feature request related to a problem? Please describe.**

In real world apps, frequently the design needs to reflected related data and navigation.  I'd love to see some example of that.

**Describe the solution you'd like**

You have an invoice page (which looks great).  What I'd like to see is a way to navigate to the clie

[2022-06-16 10:02] cavasinf commented on #876
Still an issue in `1.0.0-beta10`.
Possible workaround is to remove the responsiveness of the div table container `table-responsive`.

![image](https://user-images.githubusercontent.com/25293190/174046284-5783773e-5fa1-4d88-ba0d-2314f5bcfda8.png)

[2022-06-18 08:57] copulatrix opened #1149 "[BUG] Nav overflow on Vertical Layout"
**Describe the bug**
With the Vertical layout. The nav is overflowing.

**Device**
 - Browser:
   -  Chrome: v102.0.5005.115
   - Edge: 102.0.1245.41
   - Firefox: 101.0.1
 - OS: Windows 10 Pro N, v21H2, Build 19044.1766
 - Screen size: 1920x1080

**To reproduce**
***Light Mode***
Steps to reproduce the behaviour:
1. Go to 'https://preview.tabler.io/layout-vertical.html?theme=light'
2. While the x

[2022-06-21 00:50] lilidream opened #1156 "[FEATURE] Taiwan area in maps"
It is a great project for web development, but I found that maps in Vector Maps and other map components, Taiwan area is regarded as a country. In fact, Taiwan has always been part of China and it is not a independent country.

Please put Taiwan area back into China in maps, thank you!

[2022-06-21 21:31] kevinpapst commented on #1156
This nonsense issue should be closed immediately.

[2022-06-21 21:32] #1156 closed

[2022-06-22 11:26] zhu0629 commented on #1156
Taiwan is an inalienable part of the Chinese territory.

[2022-06-22 11:30] codecalm commented on #1156
@lilidream @zhu0629 we use `jsvectormap` library, so your request is independent of us
please ask author of this library

[2022-06-24 16:57] kevinpapst commented on #1147
Here as well, `yarn upgrade` still installs beta9:
<img width="286" alt="Bildschirmfoto 2022-06-24 um 18 56 46" src="https://user-images.githubusercontent.com/533162/175607583-dfe8ea01-75dd-45a0-a498-ab3afd5b836b.png">

@codecalm can you push the beta-10 update to npm, so we can start testing?

[2022-06-30 09:23] #1127 closed, assigned to nobody

[2022-07-05 08:28] kevinpapst commented on #1147
For everyone else who has hard times (like me) figuring this one out, the version is indeed available but not tagged as latest.

The website shows beta9 as latest, but if you switch to the Versions page you see beta10:
https://www.npmjs.com/package/@tabler/core?activeTab=versions

So you have to set the version in your update command:
[code]

[2022-07-05 08:31] #1147 closed

[2022-07-08 05:19] ZeoNish opened #1163 "[BUG] Nav Logo on Vertical Layout"
![tabler_bug](https://user-images.githubusercontent.com/8596319/177921947-ed6e3c0f-cba2-4855-8225-cfcb1fd294aa.gif)

Logo jump

build tabler last
test to browser Opera last, Edge last

and

![image](https://user-images.githubusercontent.com/8596319/177922498-97ed3d5d-aa54-45ef-ba06-2a63c67c3d2e.png)

[2022-07-08 09:29] ZeoNish commented on #1163
fix... need use in ".dropdown-item" span.nav-link-icon and span.nav-link-title

`<a class="dropdown-item"><span class="nav-link-icon d-md-none d-lg-inline-block"><svg class="icon icon-tabler icon-tabler-math-symbols"></svg></span><span class="nav-link-title">text</span></a>`

[2022-07-09 09:56] OgreTransporter commented on #1103
Variables for the colors would be very nice. Then you could create the CSS files multiple times and create themes in different colors.

[2022-07-12 12:38] KSruthiVel commented on #1029
Hey! Can I work on this issue?

[2022-07-18 04:35] kikikiblue opened #1166 "[BUG] border and box shadow of toast at beta10 looks weird"
**Describe the bug**

The border and box shadow css is weird.

**Device**

 - Browser [e.g. Chrome ver.103.0.5060.114]
 - OS: [MAC OS Monterey v12.4]
 - Screen size [e.g. 1680x1050]

**To reproduce**

can be checked at Tabler sample page https://preview.tabler.io/docs/toasts.html

**Screenshots**
<img width="455" alt="스크린샷 2022-07-18 오후 1 32 49" src="https://user-images.githubusercontent.c

[2022-07-21 21:12] artknight opened #1167 "[BUG] The pricing table in the demo is not responsive"
The pricing table in the demo is not responsive.
https://preview.tabler.io/pricing-table.html

A clear and concise description of what the bug is.

**To reproduce**

Steps to reproduce the behavior:
1. Go to https://preview.tabler.io/pricing-table.html on any mobile device

**Screenshots**

<img width="417" alt="Screen Shot 2022-07-21 at 5 12 24 PM" src="https://user-images.githubusercontent.com/1

[2022-07-27 12:39] tacman opened #1168 "[BUG] Bootstrap 5.2 is out of beta"
**Describe the bug**

package.json locks bootstrap to the beta version, but it's released now.

[2022-07-27 16:44] Lombra opened #1169 "[BUG] Font customisation not working as instructed"
**Describe the bug**

Font customisation as per [instructions](https://preview.tabler.io/docs/customize.html) are ineffective.

**Device**

 - Browser: Firefox 102
 - OS: Windows 10

**To reproduce**

Include the following style:

[code]

Example of working style
[code]

[2022-07-28 08:35] MrSquaare opened #1170 "[BUG] Active state on button doesn't work"
**Describe the bug**

Adding `.active` class or `:active` doesn't render the button as active

**Device**

 - Browser: Firefox 102
 - OS: Ubuntu 20.04
 - Screen size: 1920x1080

**To reproduce**

Steps to reproduce the behavior:
1. Setup a projet with `@tabler/core@1.0.0-beta10`
2. Add a button with `.active` class
3. The button keep no state style

[2022-07-28 13:04] dheineman commented on #1170
I have the same issue in my project but both the `.active` class and `:active` state seem to trigger just fine on preview.tabler.io so i assume this is already fixed in main but no new version which includes the fix has been released yet.

![tabler_active](https://user-images.githubusercontent.com/516028/181511074-25907182-61b0-458e-aa21-55d54fe11361.png)

[2022-07-30 03:30] SomwareHR opened #1172 "[FEATURE] Please, avoid epilepsy-inducing white flashes when Dark mode is active"
**Is your feature request related to a problem? Please describe.**
When in Dark mode - clicking on many, if not all, options first flashes short bright white page, then turns into dark mode.

**Describe the solution you'd like**
When in Dark mode - stay in dark mode. Or fade in. Or something.

**Describe alternatives you've considered**
Not many out there, true; there is a giant lack of attention

[2022-07-30 08:18] voltcode opened #1173 "Feature request - cross panel interactivity"
It would be amazing if tabler supported cross panel dependencies.
For example - support clicking USA on one panel could trigger data filtering in other panels.
An example of this behavior can be seen on dc.js home page:
https://dc-js.github.io/dc.js/

I wouldn't expect tabler to implement everything though but provided essential hooks for triggering updates of other panels, or maybe made it easy t

[2022-07-30 09:25] dheineman commented on #1173
I am not familiar with this library but from what i can tell by reading the documentation/examples you should already be able to implement this yourself in your application.

Tabler does not have a javascript framework from which to provide hooks or the likes and personally i do not think it should.

Take for example the ApexCharts integration: Tabler provides CSS styling that will make the charts

[2022-07-30 10:47] #1167 closed

[2022-07-30 10:55] rjd22 commented on #1173
Tabler is indeed a UI framework. We do use some vanilla js for the examples but encourage users to implement their own solutions.

There are just so many ways of solving things in JS that we rather focus on UI side of things and less on the front end frameworks.

[2022-07-30 10:55] #1173 closed

[2022-07-30 10:57] #1024 closed

[2022-07-30 10:58] #1023 closed

[2022-07-30 10:58] dheineman commented on #1145
@kevinpapst I cannot seem to reproduce the second glitch where the button text is not visible. Are you still seeing this and if so, do you have a specific way to reproduce it?

[2022-07-30 11:03] kevinpapst commented on #1145
Interesting, now that you answered I tried in other browsers (Firefox works) and maybe it is a Safari only bug.

I made this screenshot right now:
<img width="847" alt="Bildschirmfoto 2022-07-30 um 13 02 20" src="https://user-images.githubusercontent.com/533162/181908014-f798a10c-4afd-484e-9686-82cbe979c0be.png">

So nothing special, just open the page.

[2022-07-30 11:06] kevinpapst commented on #1145
Firefox says this:
<img width="546" alt="Bildschirmfoto 2022-07-30 um 13 05 02" src="https://user-images.githubusercontent.com/533162/181908080-6b66707c-290e-4603-9f10-03e1e1e58bf9.png">
Maybe the variable `--tblr-color-text` is missing and different browsers handle that problem in different ways?

[2022-07-30 11:15] kevinpapst commented on #1024
Yeah sorry, didn't follow the bug. Main point is fixed.

The optgroup is still white, but that is less problematic:

<img width="423" alt="Bildschirmfoto 2022-07-30 um 13 14 53" src="https://user-images.githubusercontent.com/533162/181908422-ca969377-e787-4244-a110-8cbf0ee49d3a.png">

[2022-07-30 11:27] dheineman commented on #1145
yeah i just came to the same conclusion.

It was indeed caused by the [bootstrap 5.2.0-beta1 PR ](https://github.com/tabler/tabler/pull/1131/files#diff-f98448f89da1f5adc93e201b22af74c3ca4c7739062f52f27c2cd90540fa01c3L1) but i am unsure if and where this variable should be defined so i will leave this one to @codecalm :)

[2022-07-30 11:30] rjd22 commented on #1024
If you're willing and have time to make an PR for it I will gladly merge it ;).

[2022-07-30 11:59] kevinpapst commented on #1024
I'd be happy to invest more, but I am really missing the communication how the project is going forward. Is the dark mode replaced by the Bootstrap native dark mode that is now in alpha/beta? Is it even worth investing any time into the dark mode right now?

How many breaking changes can we expect in the beta cycle (usually only used for bug fixing and not for introducing major changes) before a s

[2022-07-30 12:06] kevinpapst opened #1177 "[BUG] Button text and icon is invisible due to missing CSS variable"
**Describe the bug**

This bug seems to have different visible consequences in different browsers:
<img width="545" alt="Bildschirmfoto 2022-06-07 um 21 21 26" src="https://user-images.githubusercontent.com/533162/172464832-c08329e3-20e3-429f-88db-fb8a1cc83948.png">

Firefox says this:
<img width="546" alt="Bildschirmfoto 2022-07-30 um 13 05 02" src="https://user-images.githubusercontent.com/53316

[2022-07-30 12:07] kevinpapst commented on #1145
Thanks for helping to investigate the issue! I opened a follow up bug, so it is easier for @codecalm to understand it:
https://github.com/tabler/tabler/issues/1177

I am closing here, as you fixed the modals already 😄

[2022-07-30 12:07] #1145 closed

[2022-07-30 12:12] kevinpapst commented on #1070
@rjd22 can be closed as this was added recently https://preview.tabler.io/settings.html

Unfortunately it looks terrible with overlapping navigation ... but that is for another issue.

[2022-07-30 12:14] kevinpapst commented on #1069
@dqhung311 can you share the css/html for the tabbed navigation in the modal? Looks really good, but I can't remember seeing something like that in the Tabler demo, so I guess it is custom project code?

[2022-07-30 12:25] kevinpapst commented on #1029
Already possible (here with an example for Fontawesome):
[code]

There is even an example in the official demo:
<img width="466" alt="Bildschirmfoto 2022-07-30 um 14 25 06" src="https://user-images.githubusercontent.com/533162/181914107-136988c0-129f-4ab7-8a42-e32fa7a464cf.png">

[2022-07-30 13:03] NinadRao0707 commented on #1172
Hello @SomwareHR ,
If you can add this script tag at the very start after adding the body tag in the base.html, it should work.

`<script>
const selectedTheme = localStorage.getItem('selected-theme')
document.body.classList[selectedTheme === 'dark' ? 'add' : 'remove'](darkTheme)
</script>`

Hope this solves your issue of having a white background while refreshing or clicking on some of the options

[2022-07-30 13:29] rjd22 commented on #1024
@codecalm would be the one to answer correctly but I would guess that the original dark mode will not be replaced with Bootstrap dark mode soon.

It would be an good idea to focus releasing a stable version and improving tabler on a feature by feature basis.

[2022-07-30 14:09] rjd22 commented on #1070
@kevinpapst What would be a good way to improve it?

[2022-07-30 18:55] kevinpapst commented on #1070
I guess the user who contributed the settings page did not test overlapping navigation and the merger didn't either.

This is how it looks, simply unusable:
<img width="1349" alt="Bildschirmfoto 2022-07-30 um 20 47 46" src="https://user-images.githubusercontent.com/533162/181937434-b310beaf-299c-4410-9223-f522eefcb4dc.png">

I am not sure if Tabler aims to support every component in every page sty

[2022-07-30 20:15] rjd22 commented on #1070
IMO that seems like a bug. I will take a look at that since I like to support as much as possible. Ofcourse with all the different mixes and matches this is really hard to test but pages should work properly with all navigation versions.

[2022-07-31 01:05] Kerrick commented on #1103
I've noticed that _some_ colors can be customized by customizing `--tblr-primary` at the `:root` level, but others (such as those [here](https://github.com/tabler/tabler/blob/dc8cad144a05afb443a10bfa8a803e430d54c8e5/src/scss/layout/_navbar.scss#L228)) cannot. I, too, would love universal support for a globally-customizable primary color (plus `--tblr-body-bg` and a few others).

[2022-08-01 08:29] dheineman commented on #1070
Using the overlapping navigation, all other pages that do not put content like that in a card will have this problem.

The search results page shows a similar problem.
![Screenshot 2022-08-01 at 09 18 19](https://user-images.githubusercontent.com/516028/182093964-2ccd9b4b-7d4c-44f0-b2fa-be147109c71c.png)

A possible solution for the settings page is moving the menu into a card.
![Screenshot 2022-0

[2022-08-01 10:09] kevinpapst commented on #1070
True.
In my case the settings page is really long, horizontal tabs are not working (too many) and vertical tabs are not existing (without javascript workaround).
But you upper card solution looks okay'ish 👍 I will give it a try.

[2022-08-01 10:59] martyncoup opened #1178 "Issue with the bottom on small charts on dashboard"
I have this issue with one of the widgets on the dashboard, I can't seem to get to the bottom of it.

![image](https://user-images.githubusercontent.com/184028/182133726-f7a7b363-f39c-478c-8823-df205575ce6e.png)

Notice from the image that on the right side, the chart does not stay right at the bottom of the widget, but it does on the left. I have tried different chart types and ranges of data. Th

[2022-08-01 14:27] jaideepghosh commented on #1069
@ rjd22 I'm working on this UI component.
Will raise a PR soon.

[2022-08-01 16:54] martyncoup commented on #1178
I've solved this now, looks like a custom style was interrupting things, removed and now sorted!

[2022-08-02 15:29] msayed98 opened #1180 "[BUG] number input with `form-control-sm` looks weird"
**Describe the bug**

number input with `form-control-sm` looks weird.

**Device**

 - Browser Chrome 103.0.5060.134
 - OS: Ubuntu 20.04.4 LTS
 - Screen size 1920x1080

**To reproduce**

Steps to reproduce the behavior:
1. Go to https://preview.tabler.io/docs/form-elements.html#input-size
2. inspect on the small input and change the type to `number`

**Screenshots**
![image](https://user-images.gi

[2022-08-02 15:44] msayed98 opened #1181 "[BUG] number input in RTL mode looks weird"
**Describe the bug**

number input in RTL mode looks weird

**Device**

 - Browser Chrome 103.0.5060.134
 - OS: Ubuntu 20.04.4 LTS
 - Screen size 1920x1080

**To reproduce**

Steps to reproduce the behavior:
1. Go to https://preview.tabler.io/layout-rtl.html
2. scroll to invoices section
3. inspect the input element and change the type to number, you may also remove `form-control-sm` class

**Scre

[2022-08-03 06:24] noobyogi0010 commented on #1181
Hey @msayed98
I would like to work on this issue if no one else if working on it.
Thanks!

[2022-08-03 12:08] kevinpapst commented on #1180
I can confirm in Safari 15.5:
<img width="792" alt="Bildschirmfoto 2022-08-03 um 14 06 22" src="https://user-images.githubusercontent.com/533162/182603752-7fc67e1c-7fe2-42f6-b8f9-c248e8212eb8.png">

But why do you open two issues, #1181 is the same bug.

[2022-08-03 12:42] msayed98 commented on #1180
I thought they are 2 different issues, merge them if you want

[2022-08-04 08:50] #1168 closed

[2022-08-05 00:13] olariuromeo opened #1186 "htmlbeautifier"
run bundle instal get this error : htmlbeautifier-1.4.1 requires ruby version >= 2.6.0, which is incompatible with the current version, ruby 2.5.5p157 but [Install Ruby](https://ruby-lang.org/en/documentation/installation/) - the recommended version is [2.5.5](https://cache.ruby-lang.org/pub/ruby/2.5/ruby-2.5.5.tar.gz).

[2022-08-05 01:26] asharnadeem opened #1187 "[BUG] `datagrid` classes not rendering as expected"
**Describe the bug**

The `datagrid` classes don't seem to be rendering as expected. Copy pasting the HTML from the docs results in something drastically different. I didn't find any reference to datagrid in the tabler source code either.

**Device**

Latest Chrome, MacBook Pro 2022, all screen sizes

**To reproduce**

Steps to reproduce the behavior:

1. Try to use `datagrid` classes in HTML
2. S

[2022-08-05 05:56] DanieleRigo opened #1188 "Tabler design template/components"
Are Tabler design template/components to mockup interfaces available somewhere?
either for Figma, Illustrator or similar.

IMHO Design components would be very useful if an user is planning to start using Tabler and wants to experiment with the design.

[2022-08-05 06:48] dheineman commented on #1187
If you are using the latest published version on npm (`1.0.0-beta10`) than that is correct. The datagrid is recently new and has not made it into a released version yet.

The source for datagrid can be found [here](https://github.com/tabler/tabler/blob/0b76efb9e9fef7a5b14b6e54fb5f74849fa16895/src/scss/ui/_datagrid.scss) btw :)

[2022-08-05 07:13] dheineman commented on #1186
Can you try using ruby 2.7

I am not quite sure why there is a lower version in the readme for osx users but i use  ruby 2.7.4p191 mysql on which works just fine.

[2022-08-05 10:11] gladtoseeugo commented on #1186
Unscribe
----- Original Message -----
From: Dave Heineman ***@***.***>
To: tabler/tabler ***@***.***>
Cc: Subscribed ***@***.***>
Sent: Fri, 05 Aug 2022 03:14:06 -0400 (EDT)
Subject: Re: [tabler/tabler] htmlbeautifier (Issue #1186)

Can you try using ruby 2.7

I am not quite sure why there is a lower version in the readme for osx users but i use  ruby 2.7.4p191 mysql on which works just fine.

--

[2022-08-05 10:11] gladtoseeugo commented on #1188
Unscribe
----- Original Message -----
From: DanieleRigo ***@***.***>
To: tabler/tabler ***@***.***>
Cc: Subscribed ***@***.***>
Sent: Fri, 05 Aug 2022 01:57:14 -0400 (EDT)
Subject: [tabler/tabler] Tabler design template/components (Issue #1188)

Are Tabler design template/components to mockup interfaces available somewhere?
either for Figma, Illustrator or similar.

IMHO Design components would be

[2022-08-05 10:11] gladtoseeugo commented on #1187
Unscribe
----- Original Message -----
From: Ashar Nadeem ***@***.***>
To: tabler/tabler ***@***.***>
Cc: Subscribed ***@***.***>
Sent: Thu, 04 Aug 2022 21:26:48 -0400 (EDT)
Subject: [tabler/tabler] [BUG] `datagrid` classes not rendering as expected (Issue #1187)

**Describe the bug**

The `datagrid` classes don't seem to be rendering as expected. Copy pasting the HTML from the docs results in some

[2022-08-05 15:03] asharnadeem commented on #1187
@dheineman Sounds good, thanks for that clarity! Is the same also true for the calendar component?

[2022-08-05 15:44] dheineman commented on #1187
The [calendar code](https://github.com/tabler/tabler/blob/4dff0e733b97c1baf87c80e967006f39249f47bd/src/scss/ui/_calendars.scss) was added a while ago but there does not seem to be a demo or docs page for it so i am unsure of the current status.

@codecalm is the calendar component just missing docs/examples or was it intended to be removed and not fully cleaned up?

fyi: a new version of tabler (b

[2022-08-05 21:31] #974 closed

[2022-08-05 22:51] kevinpapst commented on #1177
@codecalm this is a blocker for me (and likely every other Safari user). I tested Safari on Mac and iPad with latest versions, and both cannot be used in dark mode because the buttons are unreadable. I can try to fix it, but I need some ideas where to start. Any hint that you want to share?

[2022-08-06 02:20] asharnadeem commented on #1187
`beta11` looks awesome, just started using it, thank you!

To clarify, by calendar component, I was referring to the date picker in the form components. I get the following when trying to use the inline date picker, and for the input field date pickers, nothing renders at all.

<img width="101" alt="Screen Shot 2022-08-05 at 10 19 57 PM" src="https://user-images.githubusercontent.com/47264377/1832

[2022-08-06 05:02] #1103 closed

[2022-08-07 08:53] dheineman commented on #1187
Ah that is the [litepicker](https://www.npmjs.com/package/litepicker) plugin.

It seems there is no documentation page for this on either, though given that it has been sort of superseded by [easepick](https://easepick.com/) and there is an open issue https://github.com/tabler/tabler/issues/1136 to switch it might be replaced at some point.

Either way for now, if you have the litepicker plugin in

[2022-08-07 09:04] dheineman commented on #1166
Not sure what you find weird about the shadow that looks fine to me but the left border does look a off.

@rjd22 You specifically set the left border to be different from the rest in [#1091](https://github.com/tabler/tabler/pull/1091/files#diff-5cf19fd0bfc348d096349ef9be45d819971bb2d66a439317d71cad7d5286e657R4) was there any reasoning behind this?

[2022-08-07 19:14] asharnadeem commented on #1187
Appreciate all the help, thank you! Closing this out for now :)

[2022-08-07 19:14] #1187 closed

[2022-08-08 07:36] dheineman opened #1193 "[BUG] Table colors in dark mode look too bright"
**Describe the bug**

The table (row) colors do not look very good/integrate properly in dark mode.

**Device**

 - Browser: Chrome Version 103.0.5060.134 (Official Build) (arm64)
 - OS: macOS 12.4 (21F79)
 - Screen size: not applicable

**To reproduce**

Steps to reproduce the behavior:
1. Add a table as defined in the [bootstrap docs](https://getbootstrap.com/docs/5.2/content/tables/#variants) t

[2022-08-10 11:58] rjd22 commented on #1193
@dheineman would you be willing to make a fix for this?

[2022-08-10 12:00] #1172 closed

[2022-08-10 12:00] rjd22 commented on #1172
This should be fixed now.

[2022-08-10 12:23] tbolon opened #1196 "[BUG] Radio button not working correctly on demo page"
**Describe the bug**

In the [form elements](https://preview.tabler.io/form-elements.html) demonstration page, the radio buttons at the right of the page does not work correctly: previous choices remains checked and you can't uncheck them.

It's not a bug on the lib itself, but a strange behavior which could suggest a bug in the project.

You should simply add a name attribute at least for inputs

[2022-08-10 12:26] tbolon opened #1197 "[BUG] Radio button check not centered on HiDPI"
**Describe the bug**

When browsing the [form elements](https://preview.tabler.io/form-elements.html) demo page, the checkmark in the center of the radio button is not perfectly centered.

It seems too far on the right and to the bottom.

**Device**

 - Browser: Chrome v104
 - OS: Windows 11
 - Screen size: 3840 x 2560, 150%

**To reproduce**

Steps to reproduce the behavior:
1. Go to [form elemen

[2022-08-10 12:43] tbolon commented on #1197
(note: it seems the toggle switches have the same problem):

![Screenshot 2022-08-10 144214](https://user-images.githubusercontent.com/127185/183904023-24852d47-614a-49e4-a54a-e4b1923e72c5.jpg)

[2022-08-10 12:43] jozefrebjak opened #1199 "[BUG] Popover doesn't work with tabs."
**Describe the bug**

Popover doesn't work with tabs. Popovers from docs:  https://preview.tabler.io/docs/popover.html works only on single page.

**Device**

 - Browser [All Browsers]
 - OS: [MacOS ]

**To reproduce**

[2022-08-10 14:09] razaahmad333 commented on #1178
@codecalm please close this issue,
seems resolved

[2022-08-10 23:36] gladtoseeugo commented on #1178
----- UnSubscribed -----
From: Ahmad Raza ***@***.***>
To: tabler/tabler ***@***.***>
Cc: Subscribed ***@***.***>
Sent: Wed, 10 Aug 2022 10:09:56 -0400 (EDT)
Subject: Re: [tabler/tabler] Issue with the bottom on small charts on dashboard (Issue #1178)

@codecalm please close this issue,
seems resolved

--
Reply to this email directly or view it on GitHub:
https://github.com/tabler/tabler/issues/11

[2022-08-10 23:37] gladtoseeugo commented on #1197
0UnSubscribed
----- Original Message -----
From: Thomas Bolon ***@***.***>
To: tabler/tabler ***@***.***>
Cc: Subscribed ***@***.***>
Sent: Wed, 10 Aug 2022 08:27:02 -0400 (EDT)
Subject: [tabler/tabler] [BUG] Radio button check not centered on HiDPI (Issue #1197)

**Describe the bug**

When browsing the [form elements](https://preview.tabler.io/form-elements.html) demo page, the checkmark in the c

[2022-08-10 23:37] gladtoseeugo commented on #1196
UnSubscribed
----- Original Message -----
From: Thomas Bolon ***@***.***>
To: tabler/tabler ***@***.***>
Cc: Subscribed ***@***.***>
Sent: Wed, 10 Aug 2022 08:24:30 -0400 (EDT)
Subject: [tabler/tabler] [BUG] Radio button not working correctly on demo page (Issue #1196)

**Describe the bug**

In the [form elements](https://preview.tabler.io/form-elements.html) demonstration page, the radio buttons

[2022-08-10 23:37] gladtoseeugo commented on #1199
UnSubscribed
----- Original Message -----
From: Jozef Rebjak ***@***.***>
To: tabler/tabler ***@***.***>
Cc: Subscribed ***@***.***>
Sent: Wed, 10 Aug 2022 08:44:07 -0400 (EDT)
Subject: [tabler/tabler] [BUG] Popover doesn't work with tabs. (Issue #1199)

**Describe the bug**

Popover doesn't work with tabs. Popovers from docs:  https://preview.tabler.io/docs/popover.html works only on single page.

[2022-08-10 23:37] gladtoseeugo commented on #1172
UnSubscribed
----- Original Message -----
From: Robert-Jan de Dreu ***@***.***>
To: tabler/tabler ***@***.***>
Cc: Subscribed ***@***.***>
Sent: Wed, 10 Aug 2022 08:01:22 -0400 (EDT)
Subject: Re: [tabler/tabler] [FEATURE] Please, avoid epilepsy-inducing white flashes when Dark mode is active (Issue #1172)

This should be fixed now.

--
Reply to this email directly or view it on GitHub:
https://git

[2022-08-11 01:04] gladtoseeugo commented on #1178
UNSCRIBE

From: "Ahmad Raza" ***@***.***>
To: "tabler" ***@***.***>
Cc: "Subscribed" ***@***.***>
Sent: Wednesday, August 10, 2022 6:09:56 AM
Subject: Re: [tabler/tabler] Issue with the bottom on small charts on dashboard (Issue #1178)

[ https://github.com/codecalm | @codecalm ] please close this issue,
seems resolved

—
Reply to this email directly, [ https://github.com/tabler/tabler/issues/1178

[2022-08-11 01:05] gladtoseeugo commented on #1199
UNSCRIBE

From: "Jozef Rebjak" ***@***.***>
To: "tabler" ***@***.***>
Cc: "Subscribed" ***@***.***>
Sent: Wednesday, August 10, 2022 4:44:07 AM
Subject: [tabler/tabler] [BUG] Popover doesn't work with tabs. (Issue #1199)

Describe the bug

Popover doesn't work with tabs. Popovers from docs: [ https://preview.tabler.io/docs/popover.html | https://preview.tabler.io/docs/popover.html ] works only on

[2022-08-11 01:05] gladtoseeugo commented on #1197
UNSCRIBE

From: "Thomas Bolon" ***@***.***>
To: "tabler" ***@***.***>
Cc: "Subscribed" ***@***.***>
Sent: Wednesday, August 10, 2022 4:43:46 AM
Subject: Re: [tabler/tabler] [BUG] Radio button check not centered on HiDPI (Issue #1197)

(note: it seems the toggle switches have the same problem):

[ https://user-images.githubusercontent.com/127185/183904023-24852d47-614a-49e4-a54a-e4b1923e72c5.jpg ]

[2022-08-11 01:05] gladtoseeugo commented on #1197
UNSCRIBE

From: "Thomas Bolon" ***@***.***>
To: "tabler" ***@***.***>
Cc: "Subscribed" ***@***.***>
Sent: Wednesday, August 10, 2022 4:27:02 AM
Subject: [tabler/tabler] [BUG] Radio button check not centered on HiDPI (Issue #1197)

Describe the bug

When browsing the [ https://preview.tabler.io/form-elements.html | form elements ] demo page, the checkmark in the center of the radio button is not pe

[2022-08-11 01:06] gladtoseeugo commented on #1196
UNSCRIBE

From: "Thomas Bolon" ***@***.***>
To: "tabler" ***@***.***>
Cc: "Subscribed" ***@***.***>
Sent: Wednesday, August 10, 2022 4:24:30 AM
Subject: [tabler/tabler] [BUG] Radio button not working correctly on demo page (Issue #1196)

Describe the bug

In the [ https://preview.tabler.io/form-elements.html | form elements ] demonstration page, the radio buttons at the right of the page does not

[2022-08-11 01:06] gladtoseeugo commented on #1193
UNSCRIBE

From: "Robert-Jan de Dreu" ***@***.***>
To: "tabler" ***@***.***>
Cc: "Subscribed" ***@***.***>
Sent: Wednesday, August 10, 2022 3:59:28 AM
Subject: Re: [tabler/tabler] [BUG] Table colors in dark mode look too bright (Issue #1193)

[ https://github.com/dheineman | @dheineman ] would you be willing to make a fix for this?

—
Reply to this email directly, [ https://github.com/tabler/tabler

[2022-08-11 01:07] gladtoseeugo commented on #1193
UNSCRIBE

From: "Dave Heineman" ***@***.***>
To: "tabler" ***@***.***>
Cc: "Subscribed" ***@***.***>
Sent: Sunday, August 7, 2022 11:37:24 PM
Subject: [tabler/tabler] [BUG] Table colors in dark mode look too bright (Issue #1193)

Describe the bug

The table (row) colors do not look very good/integrate properly in dark mode.

Device

    * Browser: Chrome Version 103.0.5060.134 (Official Build) (ar

[2022-08-11 01:08] gladtoseeugo commented on #1168
UNSCRIBE

From: "Paweł Kuna" ***@***.***>
To: "tabler" ***@***.***>
Cc: "Subscribed" ***@***.***>
Sent: Thursday, August 4, 2022 12:51:24 AM
Subject: Re: [tabler/tabler] [BUG] Bootstrap 5.2 is out of beta (Issue #1168)

Closed [ https://github.com/tabler/tabler/issues/1168 | #1168 ] as completed via [ https://github.com/tabler/tabler/pull/1182 | #1182 ] .

—
Reply to this email directly, [ https:/

[2022-08-11 01:11] gladtoseeugo commented on #1103
UNSCRIBE

From: "Kerrick Long" ***@***.***>
To: "tabler" ***@***.***>
Cc: "Subscribed" ***@***.***>
Sent: Saturday, July 30, 2022 5:05:50 PM
Subject: Re: [tabler/tabler] [FEATURE] Using my own brand color by replacing default color (Issue #1103)

I've noticed that some colors can be customized by customizing --tblr-primary at the :root level, but others (such as those [ https://github.com/tabler/t

[2022-08-11 01:11] gladtoseeugo commented on #1172
UNSCRIBE

From: "Ninad Rao" ***@***.***>
To: "tabler" ***@***.***>
Cc: "Subscribed" ***@***.***>
Sent: Saturday, July 30, 2022 5:04:13 AM
Subject: Re: [tabler/tabler] [FEATURE] Please, avoid epilepsy-inducing white flashes when Dark mode is active (Issue #1172)

Hello [ https://github.com/SomwareHR | @SomwareHR ] ,
If you can add this script tag at the very start after adding the body tag in the b

[2022-08-11 04:37] SomwareHR commented on #1172
Thank you.

[2022-08-11 06:13] gladtoseeugo commented on #1172
Unscribe
----- Original Message -----
From: SomwareHR ***@***.***>
To: tabler/tabler ***@***.***>
Cc: gladtoseeugo ***@***.***>, Comment ***@***.***>
Sent: Thu, 11 Aug 2022 00:37:45 -0400 (EDT)
Subject: Re: [tabler/tabler] [FEATURE] Please, avoid epilepsy-inducing white flashes when Dark mode is active (Issue #1172)

Thank you.

--
Reply to this email directly or view it on GitHub:
https://github.

[2022-08-11 09:38] dheineman commented on #1193
I am not that good with SCSS but i gave it an attempt in https://github.com/tabler/tabler/pull/1200

[2022-08-11 10:17] #1193 closed

[2022-08-12 04:08] pravy83 opened #1201 "Issue with Tabler Data tables"
Dear All - greetings,

I was going through the Live Demo of Tabler bootstrap template.
**https://preview.tabler.io/tables.html**

Realized that there are 3 issues with the Data Tables in the demo.

1) Search in data tables is not working.
2) Pagination of the data tables is not working.
3) Select all records feature is not working (Selecting all records by clicking on the checkbox of the 1st Colum

[2022-08-12 12:39] kevinpapst opened #1202 "[BUG] Active item in pagination disappears on hover"
**Describe the bug**

When hovering the active link in a pagination, it will be hidden due to the transparent background.

Don't know when this was introduced, but I am sure it worked in the past.
The [SCSS file wasn't touched in a long while](https://github.com/tabler/tabler/blob/dev/src/scss/ui/_pagination.scss#L10), so it might be a regression coming from another change.

**Device**

Happens in

[2022-08-12 14:21] aperezApartments247 commented on #1201
Noticed this issue as well Pravy. From diving a little deeper, it looks like they went the bootstrap method where they provide the aesthetics, but its up to the developer to add logic to the table component.

Having said that, I did notice that they added a new "datatable" component that seems to have a sort feature working. However, this component is not in the docs. Id be interested if anyone kn

[2022-08-12 18:01] artknight opened #1204 "[BUG] Popover not opening correctly in beta-11"
**Describe the bug**

The Popover is not opening at the correct location starting in beta 11 release.

**Device**

 Chrome, Edge, FF

**To reproduce**

Open the popover

[2022-08-14 09:32] ShubhamGoyal7125 commented on #1197
Hey @tbolon,
I just opened the form elements page and found the checkmark in the center of the radio button is centered.
Is there any other page, I am missing to see, or has the issue been resolved?
![image](https://user-images.githubusercontent.com/85388284/184530964-60959059-eacf-4824-8105-78cbbc11f2bc.png)

[2022-08-14 14:17] rathboma commented on #834
I also need to do this, but I think it's probably already possible with the right combo of stuff right?

[2022-08-14 16:04] ShubhamGoyal7125 commented on #1197
Hey @tbolon,
Can I work on this issue?
This is how I will be solving it -
There will be some minor changes in the CSS to make the radio button checkmarks centred at 150%.

[2022-08-14 17:40] tbolon commented on #1197
Yes, I am not confident enough to work on this issue 😊 thanks.

[2022-08-14 17:46] ShubhamGoyal7125 commented on #1197
So, can you assign me this issue?

[2022-08-15 06:10] tbolon commented on #1197
I am not responsible for this project and I can't assign issues. If you want to submit a fix, you should create a PR or wait for a maintainer to manifest here.

[2022-08-16 04:07] Lickity commented on #1201
The Datatables example is using https://listjs.com/ for sorting.

[2022-08-16 07:31] ShubhamGoyal7125 commented on #1197
hey @codecalm,
Can you assign me this issue?

[2022-08-16 11:32] bfmvsa opened #1205 "[BUG] Wrong icon position if input has some content under itself"
**Describe the bug**

Incorrect position of input's icon if parent container `.input-icon` has higher height than input inside:

**Device**

 - All browsers

**To reproduce**

Steps to reproduce the behavior:
1. Create input with icon.
2. Add to the input invalid state with `.invalid-feedback` error message Or add `.form-hint` form hint next to the input with icon.

**Screenshots**

<img width="44

[2022-08-16 17:04] arnauos commented on #1201
Any more details on how you did use the markup and classes? Adding both DTT js and css (bs5 version) makes everything work but elements like the search box, buttons and pagination look a bit out of place (mostly wrong spacing or alignment).

[2022-08-16 20:35] Ajtak opened #1206 "[FEATURE] Two columns on vertical menu"
I would welcome a double vertical menu like in the picture, most left with blue color. Some templates allow you to have a two column left menu. I think it could be useful for other people as well. Would it be possible to add it? Thanks
![Zachycení webu_16-8-2022_221731_preview tabler io](https://user-images.githubusercontent.com/4963819/184978313-44253280-e772-458c-b3bf-56e11f7cc6b4.jpeg)
.

Some

[2022-08-17 06:48] fy403 opened #1207 "[FEATURE]"
How about supporting this style？
![火狐截图_2022-08-17T06-48-37 912Z](https://user-images.githubusercontent.com/51740518/185053227-31002d63-2c01-48f6-85c7-f9631ae5e9d2.png)

[2022-08-17 09:32] #1202 closed

[2022-08-17 09:33] #1196 closed

[2022-08-18 18:05] dearmosin opened #1209 "Pagination Active Hover"
**Describe the bug**

Pagination active hover class is not present in complied css, it would be great if you can add this to production

[code]

[2022-08-18 18:23] dearmosin commented on #1209
Oops sorry this issue has already been taken care of here **[#1203](https://github.com/tabler/tabler/pull/1203)**

[2022-08-19 05:02] sensahin opened #1210 "[BUG] lastmod not generated for Pages in sitemap.xml"
**Describe the bug**

`lastmod` not generated for `Pages` in sitemap.xml. It is working fine for `Docs`. See below screenshot.

**Device**

 - All Browser, OS and devices

**To reproduce**

Steps to reproduce the behavior:
1. Go to [https://preview.tabler.io/sitemap.xml](https://preview.tabler.io/sitemap.xml)
2. Scroll down to find non-doc pages.. You can search for accordion.html
3. You will see

[2022-08-19 05:06] sensahin commented on #1201
This works fine;

[code]

[2022-08-19 07:55] #1209 closed

[2022-08-19 07:58] rjd22 commented on #1199
Most likely this is not a Tabler bug. This has to do with re-initializing the popovers when changing the tabs since javascript possibly skips content that is not rendered.

[2022-08-19 07:58] #1199 closed

[2022-08-19 18:35] sanzstez commented on #1045
+1

[2022-08-23 01:51] razaahmad333 commented on #1206
I think that could be more complex user experience

[2022-08-23 16:46] kevinpapst commented on #1207
The year 2000 says hello 😁 how does that fit into Tabler?

[2022-08-23 16:50] kevinpapst commented on #1204
I added the popover docs https://preview.tabler.io/docs/popover.html in https://github.com/tabler/tabler/pull/1157 but there were no functional changes made.

Can you add expected and current status, so it is easier to verify?

[2022-08-25 18:00] eisler opened #1215 "[BUG] TinyMCE dark mode"
https://www.tiny.cloud/docs/release-notes/release-notes51/#addedadarkcontentcssskin

[2022-08-28 03:18] kikikiblue commented on #1166
@dheineman You're right. What I find weird is the left border. I'm sorry I should have been clearer. It's because English is not my first language

[2022-08-29 14:18] kikikiblue commented on #1204
There is another bug in beta 11 release. (It is working well in beta 9)
If popover is set `data-bs-trigger="manual"`, and call 'toggle' call by javascript, the popver closes as soon as it opens.
but `show()` and `hide()` works well.

[code]
and the popover's location is always right. even though I set it bottom

[2022-08-30 07:10] wangkanai opened #1219 "[BUG] .btn-white - theme-dark"
**Describe the bug**

`.btn-white` does not invert color when in `.theme-dark`

**Device**

 - Browser [Google Chrome v104]
 - OS: [Windows 10 Pro]
 - Screen size [e.g. 3840 x 2400]

**To reproduce**

Steps to reproduce the behavior:
1. Go to [Tabler preview -> Form element ](https://preview.tabler.io/form-elements.html?theme=dark)
2. Click on
![image](https://user-images.githubusercontent.com/106

[2022-08-30 20:33] rathboma opened #1221 "[QUESTION] Best way to adapt the dark theme to have a black-base rather than a blue base?"
Firstly - Tabler is fantastic. Thank you so much for creating it.

I've noticed there are other discussions on the repo about css variables and using those for customization, but as things stand, not everything is a variable, and so customizing a whole site when using the `min.css` file is a bit tough on a limited time budget.

Question:
Does anyone have a template for how they've customized the t

[2022-08-31 08:54] rjd22 commented on #1166
@dheineman I think it was copied from another boxed layout. I think we can change it.

[2022-08-31 08:56] rjd22 commented on #1221
@rathboma if you use scss to build the theme you can just change the base theme color to black by changing the $dark variable:

[code]

[2022-08-31 08:56] #1221 closed

[2022-08-31 08:58] rjd22 commented on #1207
Since I thing this is a really used specific function IMO I would suggest making your own implementation. For this reason I will be closing this one.

[2022-08-31 08:58] #1207 closed

[2022-08-31 08:59] rjd22 commented on #1206
Since this is a really user specific feature I would suggest making your own implementation. I will be closing this issue.

[2022-08-31 08:59] #1206 closed

[2022-08-31 09:02] rjd22 commented on #1201
The tables on the https://preview.tabler.io/tables.html page are not real data table implementations but style samples for you to add logic to yourself. For the data table implementation check this page: https://preview.tabler.io/datatables.html

Closing this because it's not a bug.

[2022-08-31 09:02] #1201 closed

[2022-08-31 09:02] rjd22 commented on #1197
@ShubhamGoyal7125 assigned the issue to you. Good hunting!

[2022-08-31 11:08] #786 closed

[2022-08-31 11:09] #720 closed

[2022-08-31 11:12] #725 closed

[2022-08-31 11:13] rjd22 commented on #109
Dropzone was added: https://preview.tabler.io/dropzone.html

[2022-08-31 11:13] #109 closed

[2022-08-31 11:15] #835 closed

[2022-08-31 11:19] #905 closed

[2022-08-31 11:20] #1017 closed

[2022-08-31 11:21] #1178 closed

[2022-08-31 11:21] #1170 closed

[2022-08-31 11:23] rjd22 commented on #1065
This is a lot of work that can be used for normal tabler bugfixing and development. Since fixing bugs on tabler is already a lot of work lets keep tasks in Github for now.

[2022-08-31 11:23] #1065 closed

[2022-08-31 11:24] rjd22 commented on #1146
Should be fixed now.

[2022-08-31 11:24] #1146 closed

[2022-08-31 11:29] rjd22 commented on #1137
Since this would be a breaking change without any big gains I would not date to touch it. sub-menu's are already something that are different from how bootstrap has intended.

[2022-08-31 11:29] #1137 closed

[2022-08-31 11:30] #1029 closed

[2022-08-31 11:32] rjd22 commented on #1011
I would recommend adding these in your own styles because they are really user specific.

[2022-08-31 11:32] #1011 closed

[2022-08-31 11:37] #968 closed

[2022-09-01 08:33] mkhairi commented on #1045
I'm shared my minimal setup for rails 7 + esbuild + tabler starter template
repo: https://github.com/mkhairi/rails-tabler-starter (see esbuild.config.js)
demo: https://tabler.fly.dev/

[2022-09-05 18:18] ShubhamGoyal7125 commented on #1197
Hey @codecalm,
I have corrected this issue by doing changes in "css/tabler.css" inside the ".tmp" folder. So just wanted to know, if is it the correct folder to make changes, as the changes are getting reflected on my localhost correctly but are not shown in the git status or if I have to make changes in some other folder.

[2022-09-07 08:31] dheineman commented on #1197
@ShubhamGoyal7125 the `css/tabler.css` file in the `.tmp` folder is generated based on the actual source files which are located in the `src` folder. The `.tmp` folder is excluded from git as it is only used during development.

⚠️ Make sure to backup you changes before applying your fix to the src files as everything in `.tmp` will be overwritten if `npm run start-plugins` is running.

[2022-09-07 09:21] HashenUdara opened #1238 "slow when open a model window"
When clicking on a modal window, it opens a bit slow, I think it's not a bug, the reason is the transition time.
Please reduce the transition time when opening the mode window.

[2022-09-07 23:10] Vivyanne-504 commented on #1197
has this bug been fixed?

[2022-09-08 06:45] ShubhamGoyal7125 commented on #1197
Yes, the bug has been fixed.

[2022-09-08 06:49] ShubhamGoyal7125 commented on #1197
Hey @codecalm,
I have resolved the issue and made the pull request.
Thanks for assigning me the issue.

[2022-09-08 07:36] #1070 closed

[2022-09-08 09:16] kevinpapst commented on #1070
Yep, I saw the changes, but forgot about the issue. Thanks for taking care @rjd22 and @dheineman !

[2022-09-08 10:04] nejcdev opened #1240 "[FEATURE] - popup alerts in corners of browser"
example:
`
<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">

  <div style="position: absolute; top: 0; right: 0;">

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="..." class="rounded mr-2" alt="...">
        <strong class="mr-auto">Bootstrap</strong>
        <small class="tex

[2022-09-08 11:07] dheineman commented on #1240
@nejcdev can you please provide a proper description of what feature you are proposing?

From the title i would guess you want notification toasts, but this is already implemented. (See the [tabler](https://preview.tabler.io/docs/toasts.html) and [bootstrap](https://getbootstrap.com/docs/5.2/components/toasts) documentation) Which i think you know as the example code you added seems to a tweaked s

[2022-09-08 13:11] baa-ableton opened #1242 "[BUG] Disabling BrowserSync service for non-development environments"
**Describe the bug**

Hello, I am setting up a tabler instance for the analysts in my team. I wrote the commit involving the Docker image with alpine base, so I am using docker with the following command, taken from the Readme:

`docker run -p 127.0.0.1:3000:3000 -p 3001:3001 -v $(pwd)/src:/app/src -v $(pwd)/_config.yml:/app/_config.yml tabler`

Since the entrypoint is `npm run start-plugins`, and

[2022-09-08 14:09] dheineman commented on #1242
Hello @baa-ableton i am a little confused on what you are trying to achieve. As far as i am aware the docker image was created for the purposes of development given that the webserver it uses to serve the files is BrowserSync itself.

If you want to host your own version of https://preview.tabler.io/ in a docker container i recommend creating a DockerFile with multistage building. A stage to creat

[2022-09-09 06:53] baa-ableton commented on #1242
@dheineman
Thanks for getting back as quickly as you did.

It would be nice to have a multistage docker file for a non-dev build of tabler. However, I'm not sure if I would like to go for the final step you describe, namely the nginx/apache/webserver container part. I'm already managing NGINX on my environment and I would like to keep its management separate from the dockerfile for tabler.

I'll t

[2022-09-11 13:59] #1166 closed

[2022-09-11 14:00] #1169 closed

[2022-09-11 14:00] #1215 closed

[2022-09-13 14:05] cavasinf opened #1248 "[BUG] Disabled fields are barely noticeable"
**Describe the bug**
When fields are disabled (HTML attribute), it's hard to know which one is disabled or not..
Even harder when using `fieldset` !

![image](https://user-images.githubusercontent.com/25293190/189919358-f5666cce-2889-4945-809d-865b717c7551.png)

### Little game
Can you guess which one is disable ?
(Done on https://preview.tabler.io/)
<details>
  <summary>Answer</summary>

[code]
<

[2022-09-15 03:07] adolfoflores opened #1249 "[BUG] Dropdown issue on tables"
**Describe the bug**

Dropdown is not working correctly in tables.

**Device**

Tested in Chrome and Safari.

**To reproduce**

You can reproduce it in the demo page: https://preview.tabler.io

<img width="570" alt="CleanShot 2022-09-14 at 22 05 07@2x" src="https://user-images.githubusercontent.com/2294172/190304391-2bf19c97-dc8c-4b59-ac58-b5a07221e184.png">

[2022-09-15 03:23] adolfoflores commented on #1238
Actually if you guys try the modal in Safari and Chrome you will notice that Chrome is slower.

In Safari is smoother and faster, in Chrome looks kind of slow.

Tested in Mac.

[2022-09-15 03:37] NageshMandal commented on #1249
I want to work on this issue. Could you please assign it to me.

[2022-09-15 03:47] adolfoflores commented on #1249
I think you can fix it and make a pull request.

[2022-09-15 03:50] NageshMandal commented on #1249
Could you please explane the Dropdown issue In More Details

[2022-09-15 03:56] adolfoflores commented on #1249
1. Go here: https://preview.tabler.io
2. Scroll down until the "Invoices" table.
3. Click on "Actions" dropdown.

You'll see how is not displaying correctly. Looks like a z-index issue, but is not.

<img width="235" alt="CleanShot 2022-09-14 at 22 54 42@2x" src="https://user-images.githubusercontent.com/2294172/190310246-f020a931-1148-45dc-81ab-2d06a1228688.png">

[2022-09-15 04:45] fahad-islam commented on #1249
@adolfoflores Do you want it like this one?

![Screenshot from 2022-09-15 08-41-46](https://user-images.githubusercontent.com/89579421/190316534-4abde5ee-f5b5-41af-a528-bd47423cd157.png)

[2022-09-18 00:56] #1238 closed

[2022-09-18 11:22] ncullen93 commented on #659
+1 for this.. seems to have been reverted

[2022-09-18 16:36] ViovMedia opened #1251 "[BUG] 3 versions of dark theme?"
**Describe the bug**

There is 3 versions of dark theme to choose from. It's a bit confusing, I assume Dark theme 3 is the latest shouldn't the demo folder be sync with either live or most recent updates?

Dark theme 1:
When you preview the dark theme on https://preview.tabler.io/ or use the cdn links.

Dark theme 2:
When you download latest Tabler repository and open the "demo" folder "index.html

[2022-09-18 17:10] codecalm commented on #1251
`npm run build` build latest version from dev branch. At this moment dev branch is developed strongly, so sometimes are differencies between dev and preview. When I'll release new version everything should be okay :)

[2022-09-19 08:10] baa-ableton commented on #1242
Sorry, I said I would work on this last week but I was busy with other tasks. So I'll make the same promise for this week :D

[2022-09-19 19:50] jozefrebjak opened #1261 "[BUG] Broken offcanvas"
**Describe the bug**

Offcanvas is broken after update to 1.0.0-beta12.

**Device**

 - Browser [Safari 16]
 - OS: [MacOS 12.6]
 - Screen size [1440x900]

**To reproduce**

Steps to reproduce the behavior:

Go to https://preview.tabler.io/offcanvas.html and try to open some offcanvas.

**Screenshots**
![CleanShot 2022-09-19 at 21 47 34@2x](https://user-images.githubusercontent.com/36922215/1911033

[2022-09-20 05:30] ipmeel78 opened #1262 "[BUG] .bg-opacity-xx class is not functioning at https://preview.tabler.io/"
**Describe the bug**

The .bg-opacity-xx class is not functioning at https://preview.tabler.io/

**Device**

 - Browser [Google Chrome	105.0.5195.127 (Official Build) (64-bit)]
 - OS: [Windows 11]
 - Screen size [any]

**To reproduce**

Steps to reproduce the behavior:
1. Go to '[(https://preview.tabler.io/)'
2. Click on 'inspect any div element and apply any .bg- class and .bg-opacity'
3. No effe

[2022-09-20 08:37] skorokithakis opened #1263 "[BUG] SVG icons are thicker when included as SVG files"
**Describe the bug**

Icons included as SVG files (`<img src="file.svg" />`) are chonkier than SVG icons pasted in directly:
![image](https://user-images.githubusercontent.com/23648/191209879-967c6508-15d2-49ae-9ce4-8a7a62cf21b8.png)

**Device**

 - Browser: Vivaldi
 - OS: Linux
 - Screen size: 1080x1920

**To reproduce**

Steps to reproduce the behavior:
1. Paste the SVG source code in the HTML
2

[2022-09-20 09:13] #1261 closed

[2022-09-20 09:13] codecalm commented on #1261
fixed, thank you for help! :)

[2022-09-20 09:16] codecalm commented on #1251
in version 1.0.0-beta12 should be fine eveythink :)

[2022-09-20 09:16] #1251 closed

[2022-09-20 09:21] skorokithakis commented on #1263
Ah, thank you! Can I work around this somehow (e.g. by adding something to the icon's SVG) for now?

[2022-09-20 09:23] codecalm commented on #1263
just replace `stroke-width="2"` to `stroke-width="1.5"` :)

[2022-09-20 09:26] skorokithakis commented on #1263
Fantastic, thanks!

[2022-09-20 14:16] Santanu-dev commented on #1249
This change needs to be done using boundary options
https://popper.js.org/docs/v2/utils/detect-overflow/#boundary

[2022-09-20 17:42] FuryCraft opened #1270 "[BUG] TinyMCE Dark Mode is broken"
**Describe the bug**

There is a line in the box

**Device**

 - Browser: Brave (Chromium 105)
 - OS: Windows 11
 - Screen size: 1920*1080

**To reproduce**

Steps to reproduce the behavior:
1. Go to settings page
2. Activate Dark Mode

**Screenshot**
![image](https://user-images.githubusercontent.com/44116544/191327260-a46674d7-7a24-45e6-9f03-a35dba950093.png)

[2022-09-21 08:17] cognvn opened #1271 "[BUG] .btn-outline-* class is broken"
**Describe the bug**

Outline buttons are not working properly on hover, active or disable. Many `--tblr-btn-*` variables are not set for `.btn-outline-*` class

**Device**

 - Browser [Microsoft Edge 105.0.1343.42 (Official build) (64-bit), Firefox 104.0.2 (64-bit)]
 - OS: [Windows 11]
 - Screen size [any]

**To reproduce**

Steps to reproduce the behavior:
1. Go to https://preview.tabler.io/butt

[2022-09-21 14:03] #1263 closed

[2022-09-21 14:04] #1219 closed

[2022-09-21 14:05] #1197 closed

[2022-09-21 14:09] rjd22 commented on #1240
This can be done with toast indeed (I did this) but you will need to write the placement CSS yourself. Because this is really a user specific requirement I would recommend making your own implementation because it's impossible for us to cover all the wishes of all the users using tabler.

[2022-09-21 14:09] #1240 closed

[2022-09-21 14:10] rjd22 commented on #1069
@jaideepghosh How is it going? Do you have any update on this?

[2022-09-22 04:21] adolfoflores opened #1273 "[BUG] datepicker background color broken."
**Describe the bug**

The background color of the date picker is broken.

Broken in Chrome (Mac)
Working good in Safari (Mac)

**To reproduce**
Enter to: https://preview.tabler.io/form-elements.html

**Screenshots**
<img width="589" alt="CleanShot 2022-09-21 at 23 20 01@2x" src="https://user-images.githubusercontent.com/2294172/191657783-6c970111-645d-4788-83b0-acd91b01046d.png">

[2022-09-22 07:00] cavasinf opened #1274 "[FEATURE] Quill JS integration in Tabler"
**Is your feature request related to a problem? Please describe.**
We've switch form TinyMCE to [Quill JS](https://quilljs.com/) to be able to add [mentions](https://github.com/quill-mention/quill-mention) `@someone` inside text rich input.

But QuillJs style is not ready for Tabler.

**Describe the solution you'd like**
Can you provide styles for Quill inside Tabler

**Describe alternatives you'v

[2022-09-22 07:48] baa-ableton commented on #1242
New update:

My team decided that Tabler is not a tool that they're considering anymore so I'll close this issue.

[2022-09-22 07:48] #1242 closed

[2022-09-22 11:53] cavasinf opened #1275 "[BUG] Remove last border-right on progress bar"
**Describe the bug**

Last `progress-bar` item on `progress progress-separated` should not have `border-right`.
It makes the progress bar seems to not be fully completed event if one item at width 100%.

**To reproduce**

1. Have `progress progress-separated`
2. Add one item `progress-bar` at width 100%
3. See error

**Screenshots**

Current (on [preview.tabler.io](https://preview.tabler.io/index.

[2022-09-22 13:19] ShubhamGoyal7125 opened #1276 "[BUG] Color of Free space section in Progress bar should be same as it's labeled color"
The color of the Progress bar representing the free space should be same as the color of the box representing the meaning of the color.

**To reproduce**

1. Go to (https://preview.tabler.io)
2. Have `progress` `progress-separated`
3. See error

**Screenshots**

Current:
![image](https://user-images.githubusercontent.com/85388284/191756790-f0bb6075-4c77-4478-965b-845367d61f8c.png)

Expected:
![ima

[2022-09-22 14:39] SUGARXUST commented on #1276
I would like to have a look at this, you got any idea where to look for the code?

[2022-09-22 14:50] rufinus opened #1278 "Order of SCSS"
Bootstrap classes are loaded AFTER Tabler and so tabler changes are overwritten.
This happens since beta10.

I built via webpack:
admin.js:
[code]

common/js/tabler.js:
[code]

Example of font-size in a table. tabler uses 14px, Bootstrap defaults to 16px.
![beta12](https://user-images.githubusercontent.com/343160/191779302-d95f4796-6fb4-4128-95d9-bdb2b0a81d59.png)
![beta9](https://user-images.gith

[2022-09-22 16:01] cavasinf commented on #1275
A simple `:not(:last-child)` should be enough on the border-right CSS, no ?

Le jeu. 22 sept. 2022, 17:57, Shubham Goyal ***@***.***> a
écrit :

[2022-09-22 16:20] ShubhamGoyal7125 commented on #1275
Yes, that worked.
Great

[2022-09-24 10:25] drop1down opened #1283 "Button border (beta12)"
beta12 have many issues with button border colors

1) on hover, border is disappear (this do not happen on tabler website)
2) hover on color outline buttons turn to black border - looks bad
3) disabled button have darker color that non-disabled - looks bad

i was not able to fix easily, because my changes also change other buttons like filled buttons etc.

i tried to make a button group

https://u

[2022-09-24 11:43] anayatkhan1 commented on #1270
hey @FuryCraft
I would like to work on this bug
could you please assign me

[2022-09-24 12:12] anayatkhan1 commented on #1270
hey @FuryCraft , i would like work on this bug
can you provide me where to find on source code

[2022-09-24 12:16] FuryCraft commented on #1270
Maybe https://github.com/tabler/tabler/blob/dev/demo/tinymce.html

[2022-09-24 12:17] FuryCraft commented on #1270
Or https://github.com/tabler/tabler/tree/dev/dist/libs/tinymce

[2022-09-24 17:13] anayatkhan1 commented on #1205
hey there, i would to work on this bug,
anyone send me the source code section of this bug

[2022-09-24 21:32] murilomagalhaes opened #1284 "[BUG] npm installation fails on node v18.9"
Npm installation fails on an existing project with nodejs v18.9. I've tried cleaning the node-gyp cache and removing the node_modules directory, but the error stays the same. Not sure if it's something with my environment, but i don't know what else to try. I'm running a fresh Fedora 37 install.

Steps to reproduce the behavior:
1: npm install @tabler/core

Screenshot:
![image](https://user-images

[2022-09-25 22:09] shakti1590 commented on #1163
anyone work on this issue?

[2022-09-26 15:41] electrocoder opened #1285 "Tabler logo.svg font name"
Hi, what is the name of the svg logo font.
![image](https://user-images.githubusercontent.com/628144/192320482-8f9d0230-1a7c-42ec-b48d-d8daf868cb7d.png)

[2022-09-27 19:13] #1275 closed

[2022-09-29 08:57] StenXP commented on #1278
I have same problem and traced it to this  https://github.com/tabler/tabler/blob/8d6898ed268c851742e4acfd72a28ceb302da4b6/src/scss/utils/_colors.scss#L1

In latest commit its fixed...

[2022-09-30 10:56] #1276 closed

[2022-09-30 11:00] rjd22 commented on #1274
There are so many rich text editors out that that we won't be able to support them all. I've been using CKEditor with tabler without big restyles. Quill also didn't get a new version since 2019 so I think we won't be supporting it if the maintainer doesn't support the editor.

Building your own custom CSS changes to support external modules is a fine way to solve this problem ;)

[2022-09-30 11:00] #1274 closed

[2022-10-01 17:27] uday-kiranreddy commented on #1283
i can fix thus issue

[2022-10-02 21:33] malyounes commented on #1273
Also broken on Chrome (Windows).
I'm going to take a stab at it and put up a PR.

[2022-10-04 00:45] asharnadeem opened #1290 "[BUG] Usage of '~' in imports is deprecated"
**Describe the bug**

When importing tabler core into `styles.scss` in order to override colors, the styling breaks and warnings are thrown that the usage of tildes when importing is deprecated. Any help is appreciated. I can trudge onwards by just using the base theme colors, but would need to eventually override them with the brand colors.

**Device**
 - OS: MacOS

**To reproduce**

Steps to rep

[2022-10-04 14:26] nerijunior commented on #1290
Are you using webpack? If so you can configure an alias to solve it. I faced the same problem when using Vite, my solution was to import all tabler files manually and all bootstrap dependencies too.

[2022-10-04 16:49] UnnikrishnanBhargavakurup opened #1291 "ReferenceError: primordials is not defined"
I'm facing the following issue while running the application.

[code]

[2022-10-04 19:52] UnnikrishnanBhargavakurup commented on #1291
please ignore fixed using the followeing method

https://stackoverflow.com/questions/63711192/i-get-the-error-fs-js36-primordials-referenceerror-primordials-is-not

[2022-10-04 23:14] asharnadeem commented on #1290
I am not using webpack. Are there plans to address this bug going forward without needing to manually import every file?

[2022-10-05 20:50] dekoza opened #1292 "[Bug] Sorting icon invisible in dark theme"
**Describe the bug**

On dark theme, the icon for sorting is invisible. Screenshot made using [demo site](https://preview.tabler.io/layout-navbar-sticky.html?theme=dark)
![obraz](https://user-images.githubusercontent.com/210980/194160127-c47c8d6a-2435-4363-9ffa-dd18e7cf3c4a.png)

**Device**

Firefox 105, Linux Manjaro, 1280x1024 / 1920x1200

[2022-10-06 16:26] nicodemuz opened #1294 "[FEATURE] Create a radio button version of image check (instead of using checkboxes)"
I'd like to have the same as below but with radio selection instead of checkboxes. This is to allow the user to select a single image.

<img width="429" alt="Screenshot 2022-10-07 at 12 24 52 AM" src="https://user-images.githubusercontent.com/1620454/194367320-9b6ab3ce-76e3-4aa9-a72f-31d0202bd82c.png">

[2022-10-06 21:45] kanhaiya04 commented on #1270
hi @FuryCraft  I am able to find the issue and the code where changes are required, can you guide me little bit how to execute it.

![image](https://user-images.githubusercontent.com/93936630/194424340-a4b1dcf6-20e3-42e7-b024-e74b4e6517ba.png)

here option.content_css manages the color, but how to fix it i can't get it.

[2022-10-06 22:51] fixingitnow commented on #1292
Can I take this issue on ?

[2022-10-07 08:39] codecalm commented on #1292
fixed, will be released in next package :)

[2022-10-07 08:39] #1292 closed

[2022-10-07 09:40] #1294 closed

[2022-10-07 09:54] #1273 closed

[2022-10-07 09:56] codecalm commented on #1273
fixed :)

[2022-10-07 19:10] dekoza opened #1299 "[BUG] Active tabs are white in dark mode."
In dark mode, active tabs are white but I feel they should be ~80% dark (in contrast to 100% dark for inactive tabs)

**Device**

 - Browser Firefox 105
 - OS: MacOS
 - Screen size 3456×2234

**Screenshots**

Taken on [demo site](https://preview.tabler.io/tabs.html?theme=dark)
<img width="186" alt="obraz" src="https://user-images.githubusercontent.com/210980/194636666-e756ddbc-6237-4d92-9c88-a449a

[2022-10-07 20:19] dekoza opened #1300 "[BUG] Disabled tab is not distinct enough in light mode"
Disabled tab is not distinct enough in light mode. In dark mode the text is dimmed nicely.

**Device**

 - Browser Firefox 105
 - OS: MacOS
 - Screen size 3456×2234

**Screenshots**

Made on [demo site](https://preview.tabler.io/tabs.html?theme=light)
<img width="271" alt="obraz" src="https://user-images.githubusercontent.com/210980/194646274-6b2cbc2e-39f3-4f0d-b240-db8c378710c6.png">

[2022-10-07 20:23] dekoza opened #1301 "[BUG] Code snippets in docs look bad in dark mode."
In dark mode the code snippets have white background.

**Device**

 - Browser Firefox 105
 - OS: MacOS
 - Screen size 3456×2234

**Screenshots**

From [official documentation](https://preview.tabler.io/docs/tabs.html?theme=dark).
<img width="359" alt="obraz" src="https://user-images.githubusercontent.com/210980/194646789-0d38429d-0969-4bce-b7f7-8dcdf3a6e65b.png">

[2022-10-08 06:43] dekoza commented on #1205
What does "work on this bug" mean to you if you want the bug handed to you on a silver platter?

[2022-10-08 09:23] dekoza opened #1302 "[BUG] Wrong card header in dark mode"
Screenshot taken on [demo page](https://preview.tabler.io/cards.html?theme=dark).

<img width="492" alt="obraz" src="https://user-images.githubusercontent.com/210980/194700333-5f3f6d46-2391-420e-a0e5-e8d0facfec33.png">

[2022-10-08 23:44] bnkas opened #1303 "[BUG] Wrong color when hovering over "selectgroup" in dark mode"
When **hovering** over items with `form-selectgroup-label` class, the items become really dark and essentially disappear in dark mode.

The screenshot is taken from current live demo site: https://preview.tabler.io/form-elements.html?theme=dark. Here, I am hovering over the second item. Notice it is not visible anymore.

![Screenshot dark mode selectgroup hover](https://user-images.githubuserconte

[2022-10-09 05:11] kikikiblue commented on #1136
[air-datepicker](https://github.com/t1m0n/air-datepicker) is more active and it's documentation is better.
I think air-datepicker is worth including in the discussion

[2022-10-09 10:31] kevinpapst opened #1304 "[FEATURE] responsive view for settings page"
**Is your feature request related to a problem? Please describe.**

Activate mobile view on https://preview.tabler.io/settings.html

The settings navigation is gone - having a navigation that is invisible is the worst UX you can imagine 😁

**Describe the solution you'd like**

Find a way to make it available in mobile.
E.g. a "burger" icon next to the title, so slide in/out the left navigation?

*

[2022-10-09 17:07] dekoza commented on #1304
I'd call the disappearing navigation a bug.

[2022-10-09 17:32] dekoza opened #1305 "[FEATURE] different default link color for dark mode"
Currently the links in dark mode have too little contrast, they should be a bit brighter.
Right now the color is `rgb(32, 107, 196)`  and it should be rather `rgb(88, 166, 255)` - like in GitHub which has darker backgrounds which gives even better contrast.

This is how links inside table look like;  added class `text-decoration-none`:

![image](https://user-images.githubusercontent.com/210980/194

[2022-10-10 09:49] eiths opened #1306 "Commercial inquiry"
Hello, developer. Our company thinks that the tabler is very beautiful. Is it completely free if we use it commercially (no cost in the future)?

[2022-10-10 09:52] codecalm commented on #1306
hi @eiths, Tabler is on MIT license, so it's free for use in commercial projects :)

If you want to help us create and develop Tabler, you can become our sponsor and have a greater impact on the further development of the project :) https://github.com/sponsors/codecalm

[2022-10-10 12:22] dekoza opened #1308 "[BUG] Striped table - bad coloring in dark mode"
Screenshot from [demo page](https://preview.tabler.io/tables.html):
![image](https://user-images.githubusercontent.com/210980/194865192-50d86ef5-66a4-476e-a2d4-61d0e8be65fe.png)

Linux, Firefox 105

[2022-10-10 16:04] Nejcc opened #1309 "[FEATURE] - Switch from gulp / webpack to VITE"
i think will be good idea to switch from webpack or gulp to vite it's so much better

[ttps://vitejs.dev/guide/why.html](https://vitejs.dev/guide/why.html)

What do you think @codecalm  ?

[2022-10-10 16:53] Nejcc commented on #1309
can anyone help ?

[2022-10-10 18:30] tjarbo commented on #241
Hi @JordanTAdelman

it is not required anymore to pin the tabler.io version in order to use the dark mode feature 🎉 just install/use the latest release.

---

In order to use the dark theme, you have two options:
1. using `<body class="theme-dark-auto">..</body>` enables/disables the dark mode based on the system settings set by the user. Compare this with the[ "Sync with system" feature provided

[2022-10-10 20:00] #1308 closed

[2022-10-10 20:04] #1303 closed

[2022-10-10 20:05] #1302 closed

[2022-10-10 20:14] #895 closed

[2022-10-10 20:17] #1210 closed

[2022-10-10 20:24] #1291 closed

[2022-10-11 01:40] HxzZzx opened #1311 "[FEATURE]"
Hello author, we are a software company, your prototype is very good, I wonder if it can be commercial? It's totally free from now on?thank!!!

[2022-10-11 02:14] haitanghuadeng opened #1312 "[BUG] Offcanvas: Incorrect display effect"
You can click the [link](https://preview.tabler.io/offcanvas.html) to see what 'offcanvas' looks like, click the' Toggle start offcanvas' button, and the problem reappears.

[2022-10-11 02:19] haitanghuadeng opened #1313 "[BUG] The 'table-striped' can appear abnormal in late night mode"
You can click the [link](https://preview.tabler.io/tables.html?theme=dark) to add 'table-striped' to the table style, then toggle the late-night theme, and the question reappears.

[2022-10-12 04:59] #1290 closed

[2022-10-12 12:41] nerijunior commented on #1290
@asharnadeem did you solved or imported entirely?

[2022-10-13 18:42] gustavi commented on #1311
https://github.com/tabler/tabler/blob/dev/LICENSE

[2022-10-14 11:44] #1311 closed

[2022-10-16 17:42] thakurprathya commented on #1312
Can you please elaborate the issue?? And is anyone working on it?

[2022-10-16 22:49] dekoza commented on #1313
Duplicate of #1308 ?

[2022-10-16 22:51] dekoza opened #1316 "[FEATURE] tab scroll"
If I have a lot of tabs, I'd like them to be scrollable, not to form another row of tabs. If this is already possible, please add a demo of this.

[2022-10-16 23:06] dekoza commented on #1316
[Possible solution](https://github.com/SupernovaIC/scrollable-tabs-bootstrap-5)

[2022-10-17 02:29] haitanghuadeng commented on #1312
![test](https://user-images.githubusercontent.com/43346455/196076225-ece006d2-40db-41ea-8efd-b41d6f258b4f.png)
Pictures of the sample

[2022-10-17 02:30] haitanghuadeng commented on #1312
There seems to be something wrong with its display.In daytime mode, there are display problems.

[2022-10-17 09:45] codecalm commented on #1313
Duplicate of https://github.com/tabler/tabler/issues/1308

[2022-10-17 09:45] #1313 closed

[2022-10-17 12:30] behalp commented on #659
I can't find toggle function for vertical menu as well

[2022-10-17 12:36] behalp commented on #288
need this function as well

[2022-10-17 14:13] thakurprathya commented on #1312
I think it's because of colour overlapping with the background try changing
div colour or class colour for proper visibility.
On Mon, 17 Oct 2022, 08:00 HaiTangHuaDeng, ***@***.***> wrote:

[2022-10-18 00:43] haitanghuadeng commented on #1312
If I change the background color while using it, I will lose visibility compatibility for day/night mode.

[2022-10-18 00:43] haitanghuadeng commented on #1312
If I change the background color while using it, I will lose visibility compatibility for day/night mode.

[2022-10-18 00:47] haitanghuadeng commented on #1312
So, for now, all I can do is temporarily give it a background color. But this is not very project friendly, and I hope it will be compatible in the next release of tabler.

[2022-10-18 19:34] codecalm commented on #1312
it's already fixed, will be released in next version

https://dev.tabler.io/offcanvas.html :)

[2022-10-18 19:34] #1312 closed

[2022-10-18 20:52] codecalm commented on #1177
fixed

[2022-10-18 20:52] #1177 closed

[2022-10-18 20:54] kevinpapst commented on #1177
thanks!

[2022-10-18 21:02] codecalm commented on #1305
fixed :)

[2022-10-18 21:02] #1305 closed

[2022-10-18 21:05] #1301 closed

[2022-10-18 21:05] codecalm commented on #1301
fixed :)

[2022-10-18 21:19] #1271 closed

[2022-10-19 12:41] kevinpapst opened #1320 "[BUG] Active item in vertical navigation is unreadable with beta 13"
**Describe the bug**

Highlighted item has no accent color.

**Device**

Chrome, Safari, Brave, Firefox

**To reproduce**

https://preview.tabler.io/layout-vertical.html

**Screenshots**

<img width="252" alt="Bildschirmfoto 2022-10-19 um 14 39 23" src="https://user-images.githubusercontent.com/533162/196693141-c174efcc-04d4-47b5-8d3e-b531141f87d3.png">

[2022-10-19 12:52] codecalm commented on #1309
it's good idea, but at this moment there are more important things to do :)

[2022-10-19 14:17] MarkusBansky opened #1321 "[BUG] Datagrid SCSS missing from latest release (1.0.0-beta13)"
**Describe**

Recently there was a release of an updated beta version of `v1.0.0-beta13` which had missing `.scss` for `datagrid`.

**Device**

Any

**To reproduce**

- Create a project
- Install package from npm
- Check the `scss` folder in `tabler/code` inside `node_modules` for `_datagrid.scss`

[2022-10-19 14:46] dekoza commented on #1299
I'm sorry but the newest release makes things even worse
![obraz](https://user-images.githubusercontent.com/210980/196724575-4c8e546f-88ea-4f39-8d2a-315fae431556.png)

[2022-10-19 17:09] codecalm commented on #1283
its aleeady fixed

[2022-10-19 17:09] #1283 closed

[2022-10-19 19:31] moisesalmonte commented on #1283
unsubscribe

El mié, 19 oct 2022 a las 11:59, codingday123 ***@***.***>)
escribió:

[2022-10-19 21:58] codecalm commented on #1299
I've fixed it in #1322

@dekoza can you give it a try and see if it's ok? ->  https://tabler-git-dev-dark-mode-fixes-tabler-ui.vercel.app/

[2022-10-19 22:59] kevinpapst commented on #1299
So much better now!

[2022-10-20 06:21] dekoza commented on #1299
@codecalm Looks awesome!

[2022-10-20 07:45] dekoza commented on #1300
With recent update in light mode it's OK but it got broken in dark mode:
<img width="448" alt="obraz" src="https://user-images.githubusercontent.com/210980/196887380-77c5a770-9db0-43ad-a800-1e18bcce4476.png">

<img width="419" alt="obraz" src="https://user-images.githubusercontent.com/210980/196887343-3f9202d9-fe15-456c-8557-94264a4dfa77.png">

Also, the active tab in dark mode looks OK while in l

[2022-10-20 17:18] mholt opened #1323 "[FEATURE] Make dropdown toggling smooth and pleasant"
**Is your feature request related to a problem? Please describe.**
Not a problem. I was just thinking it could be nice if the dropdowns appeared a little more gracefully than just suddenly.

**Describe the solution you'd like**
I made this addition to my CSS:

[code]

I tried to get a screen recording but I use Linux so of course the built-in screen capture tool isn't working, it was only capturin

[2022-10-20 17:31] mholt commented on #1136
I like easepick's date range UI better. (air-datepicker requires you to use 2 separate pickers)

But I like air-datepicker's singule date picker UI better, the ability to click through months and years, and also the _time picker_ is really useful.

Sigh, I wish there was a lib that merged the best of those two.

[2022-10-20 18:56] #1299 closed

[2022-10-20 19:06] codecalm commented on #1300
fixed :)

![Screenshot 2022-10-20 at 21 06 30](https://user-images.githubusercontent.com/1282324/197036121-aec97316-18f4-49c0-8854-cd8dcf70475f.png)
![Screenshot 2022-10-20 at 21 06 36](https://user-images.githubusercontent.com/1282324/197036127-e0a9a52b-d72b-4420-be9a-e6cb94b278fa.png)

[2022-10-20 19:06] #1300 closed

[2022-10-20 23:00] kevinpapst commented on #1320
fixed with beta 14, thanks @codecalm

[2022-10-20 23:00] #1320 closed

[2022-10-21 02:12] mholt opened #1324 "[BUG] Labels in dropdown should not close the dropdown when clicked"
**Describe the bug**

A `<label>` in a dropdown should not close the dropdown when clicked (IMO):

**Device**

 - Browser Chrome, Firefox, Safari
 - OS: Linux, Mac
 - Screen size: any

**To reproduce**

[code]

Clicking the checkboxes themselves does not close the popup, as expected. However, clicking the text in the `<label>` tab, while toggling the checkbox, _does_ close the dropdown. This makes

[2022-10-21 02:23] mholt commented on #1323
I just realized "Discussions" are a thing :man-facepalming: and this is probably a better fit for that than issues. So I'll close this, since it's merely a preference thing.

[2022-10-21 02:23] #1323 closed

[2022-10-21 09:04] JohnAxae opened #1325 "[BUG] Only one page is printed"
**Describe the bug**
When printing a webpage, the first page of the full document is printed.

**Device**
 - Browser: Chrome 106.0.5249.119 & Firefox 106.0.1
 - OS: Windows 10
 - Screen size: 1920 x 1080
 - Version: 1.0.0-beta14

**To reproduce**
Steps to reproduce the behavior:
1. Go to any page
2. Print the page (works on preview.tabler.com)
3. Only 1 page is visible

**Screenshots**
How it is (

[2022-10-21 20:36] FuryCraft commented on #1270
Fixed

[2022-10-21 20:36] #1270 closed

[2022-10-23 19:35] murilomagalhaes commented on #1284
It's working again. Still don't know if it had something to do with my env, since i haven't done anything different.

[2022-10-23 19:35] #1284 closed

[2022-10-23 22:56] mholt commented on #756
This is still not working for me. Dev tools shows that no event handlers are event bound to the helper. Does this work for helpers used in modals and/or in containers with `display: none`? The form helper may be rendered after the page loads. I assume Tabler is using a binding on `<body>` or similar, instead of selecting the individual elements just once?

[2022-10-24 06:56] Virility opened #1328 "[FEATURE] Color input should show different color for inner check symbol on white ellipse."
**Is your feature request related to a problem? Please describe.**
White color shows white check instead something that indicates that it's selected. White on white = contrast == non-existent.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
It should show black

**Describe alternatives you've considered**
A clear and concise description of any alte

[2022-10-25 18:11] nerdoc commented on #808
This is not best practice, in fact this is a violation of the HTML specs. an id must only exist once in a HTML document.
Another thing: the "Interface" link has a href="'#navbar-base" which is non-existent. This IMHO should be "#" as it's just a dropdown.

can't the navbar-menu that appears the vertical sidebar be renamed to e.g. "#navbar_secondary"?
This bug is now nearly 2 years old, and could b

[2022-10-25 18:56] codecalm commented on #1325
@JohnAxae can you show me the code or url to this example?

[2022-10-26 09:58] JohnAxae commented on #1325
This is de code of the page, with latest version of tabler included:
https://gist.github.com/JohnAxae/3327aa6385cca3bc6231ff9a4ff63def

[2022-10-26 12:11] cavasinf opened #1335 "[BUG] Missing color variables usage"
**Describe the bug**

When redefining colors of tabler variables:
- `--tblr-primary`
- `--tblr-danger`
- ...

Some class color definition is not fully link to that:
1. `btn-ghost`
https://github.com/tabler/tabler/blob/e9f5df4f3be110257f071aa08b16fe58123de452/dist/css/tabler.css#L16013-L16029
2. `alert-xxx`
https://github.com/tabler/tabler/blob/e9f5df4f3be110257f071aa08b16fe58123de452/dist/css/tabl

[2022-10-26 12:53] JohnAxae commented on #1325
It's okay. I found out with a colleague that some new lines in the stylesheet from tabler overwrote my print stylesheet.

[2022-10-26 12:53] #1325 closed

[2022-10-27 08:40] #1249 closed

[2022-10-27 08:43] rjd22 commented on #1136
@codecalm I'm thinking of reintroducing https://github.com/flatpickr/flatpickr again. It's not extremely actively developed anymore but imo that is a sign of it being quite mature. Also vue and react support is there so it has high portability.

What do you think?

[2022-10-28 04:18] brianglz commented on #1312
Hello Paweł Kuna,
One query, you have the possibility to open Offcanvas like bootstrap does

<code>new bootstrap.Offcanvas(bsOffcanvas)</code>

[2022-10-28 04:32] haitanghuadeng commented on #1312
Thanks for your reply. This problem has been fixed and released in version 14.

[2022-10-28 22:08] #1335 closed

[2022-10-28 22:08] codecalm commented on #1335
fixed :)

[2022-10-28 22:20] #808 closed

[2022-10-28 22:20] codecalm commented on #808
fixed :)

[2022-10-28 22:22] codecalm commented on #1321
fixed in `v1.0.0-beta14` :)

[2022-10-28 22:22] #1321 closed

[2022-10-31 03:42] wkoszek opened #1340 "[BUG] Docker image doesn't build on Ubuntu 20.04 server"
**Describe the bug**

Docker fails to build

**Device**

 - Browser [e.g. Chrome ver.22, Safari ver.10]
 - OS: [e.g. Windows 10]
 - Screen size [e.g. 800x600]

**To reproduce**

1. fetched the latest Git repo2.
2. I'm on Ubuntu box as rootps to reproduce the behavior:
3. I follow the Docker building steps from README

**Screenshots**
[code]

[2022-10-31 20:34] mholt opened #1341 "[BUG] Form helpers do not work"
**Describe the bug**

Dev tools shows that no event handlers are event bound to the helper. The form helper may be rendered after the page loads. I assume Tabler is using a binding on <body> or similar, instead of selecting the individual elements just once?

Clicking a form helper in a modal does not do anything. Dev tools shows that no event handlers are event bound to the helper.

As mentioned

[2022-11-01 10:45] tarunvelli opened #1343 "[BUG] Dropdown menu in single-row tables not displaying correctly"
**Describe the bug**

When a table container a single row, and the row contains a dropdown menu, the dropdown menu is displayed incorrectly. I would expect the dropdown menu to "pop out" from the table instead of requiring to scroll in the table.

**Device**

 - Browser: Chrome Version 106.0 & Firefox Version 106.0
 - OS: macOS Monterey
 - Screen size: 3456 × 2234

**To reproduce**

Steps to repro

[2022-11-01 17:19] codecalm commented on #1136
I've tested both `air-datepicker` and `litepicker` and have few problems:

`litepicker` uses Shadow DOM and it's very hard to styling it and extends default tabler styles
`air-datepicker` is better, but native is in russian language, and user mush include english language on each time

[2022-11-01 17:47] takielias commented on #77
This is the Latest Laravel Admin Dashboard Scaffolding Package with built-in Auth https://github.com/takielias/tablar

[2022-11-01 23:21] #1262 closed

[2022-11-01 23:21] codecalm commented on #1262
fixed :)

[2022-11-02 08:28] rjd22 commented on #1136
@codecalm Wouldn't it not be better to choose a well established project? My reasoning would be that lately datapickers seem to jump out of the ground like mushrooms but when summer comes around the development seems to stop.

[2022-11-03 22:29] mholt commented on #118
(Sorry to comment on an old issue, but) how can modals be activated or triggered programmatically with JS?

[2022-11-05 15:23] alighasemzadeh opened #1348 "[BUG] Job listing is not responsive"
![image](https://user-images.githubusercontent.com/26847446/200127176-dc820f00-caf2-48e1-bf29-2143ed119d84.png)
Job listing is not responsive.

[2022-11-07 06:20] mholt commented on #1324
Ah, apparently Bootstrap is responsible for this, and adding `data-bs-auto-close="outside"` to the button that triggers the dropdown fixes it, allowing multiple checks to be toggled without having to re-open the menu.

Apologies for the noise (I'm new to Bootstrap).

[2022-11-07 06:20] #1324 closed

[2022-11-08 00:37] mholt commented on #1136
I've been playing with air-datepicker and really like it. The locale can be easily inlined, for example:

[code]

Customization is easy as well, it uses CSS variables. All other styles can be easily overridden with local style sheet as far as I can tell.

[2022-11-08 18:06] msboffl commented on #1348
Can you please assign this to me, I will work

[2022-11-09 07:44] alighasemzadeh commented on #1348
@msboffl
Check image please.

[2022-11-09 10:42] rjd22 commented on #1348
@msboffl feel free to make an PR. Good luck!

[2022-11-09 10:54] rjd22 commented on #1343
@tarunvelli This is expected behavior with tables the `table-responsive`. When fields don't fit on mobile it makes the tables scrollable. Sadly this means that when there is no room for the action box it also becomes scrollable.

you have 3 ways to solve this:
1: Give the table a min-height to make accommodate the size for the dropdown.
2: Remove the table-responsive class so the dropdown overflow

[2022-11-09 10:59] rjd22 commented on #1341
@mholt most likely you need to rebind the form helpers after the modal is open to make them work. Is the content of the modal in the DOM before you opened it?

Can you make a working example in jsfiddle?

[2022-11-09 11:00] #1149 closed

[2022-11-09 11:03] rjd22 commented on #1069
This is now available at https://preview.tabler.io/settings.html

[2022-11-09 11:03] #1069 closed

[2022-11-09 11:07] rjd22 commented on #1180
Looks quite ok now in Firefox. Is this still an issue?

![2022-11-09T12:07:03,032763903+01:00](https://user-images.githubusercontent.com/160743/200814457-29d3db8c-815d-4a8b-ac87-dd0a68bc57b0.png)

[2022-11-09 12:05] kevinpapst commented on #1180
Still an issue IMO.

Safari at https://preview.tabler.io/docs/form-elements.html#input-size:
<img width="846" alt="Bildschirmfoto 2022-11-09 um 12 58 16" src="https://user-images.githubusercontent.com/533162/200824721-b50b1271-6043-4ad7-9ff7-33d51b47c34c.png">

Brave / Chrome at https://preview.tabler.io/docs/form-elements.html#input-size:
<img width="838" alt="Bildschirmfoto 2022-11-09 um 12 59 0

[2022-11-09 17:18] mholt commented on #1341
I'll try to do that if I can make some time soon. Thanks for the idea.

Also just realizing that this might be more Bootstrap-related than Tabler. (I'm new to both.) If so, sorry for the noise and we can close this.

[2022-11-09 20:00] #1341 closed

[2022-11-10 13:27] rjd22 opened #1352 "[BUG] Fix deprecation warning when Bootstrap releases version 5.2.3 by updating bootstrap"
**Describe the bug**

Added this issue so we won't forget to update bootstrap soon to avoid deprecation warnings from SASS.

See: https://github.com/twbs/bootstrap/pull/37425

**To reproduce**

Steps to reproduce the behavior:
1. Build with SASS

**Screenshots**

![2022-11-10T14:27:30,415225961+01:00](https://user-images.githubusercontent.com/160743/201103967-6845e729-ac5e-4b75-99b1-5ad10e9864fa.p

[2022-11-11 00:55] abalter opened #1354 "Adjustable splitter."
Is there a way to have the gutters between blocks act like slidable splitters?

[2022-11-11 06:18] paulchubatyy opened #1355 "[BUG] Missing Font Sizes (fs-* classes)"
Bootstrap provides [utility classes](https://getbootstrap.com/docs/5.2/utilities/text/#font-size) to adjust the font size. Those are missing from default Tabler distribution `tabler.min.css`.

**Device**

- Not device specific

**To reproduce**

Steps to reproduce the behavior:
1. On tabler page add `fs-1`, `fs-2` or `fs-3` class to `<p>` element
2. Expected behavior: text actually changes size
3.

[2022-11-11 10:56] dmenne opened #1357 "Example page: buttons group not active"
On https://preview.tabler.io/form-elements.html#, buttons group and buttons group with dropdown do not change on click. Dropdown is ok

[2022-11-11 14:07] codecalm commented on #1352
it's fixed in https://github.com/twbs/bootstrap/pull/37425
we're waiting for new bootstrap release

[2022-11-11 15:09] #1355 closed

[2022-11-11 15:09] codecalm commented on #1355
fixed, thank you ❤️

[2022-11-11 15:37] codecalm commented on #1180
I've fixed it in #1360

[2022-11-11 16:16] codecalm commented on #1328
it was a bug, it should work. I've fixed it in #1362

[2022-11-11 16:27] codecalm commented on #1343
unfortunately it's expected behaviour :( until dropdown-menu is assigned inside `.table-responsive` it's impossible to show dropdown outside :(

[2022-11-11 16:31] #701 closed

[2022-11-11 16:59] #1328 closed

[2022-11-11 17:00] #1180 closed

[2022-11-11 17:00] #1357 closed

[2022-11-11 18:06] nicodemuz opened #1363 "[BUG] Floating input with an input group causes label to disappear on focus"
**Describe the bug**

Floating input with an input group causes label to disappear on focus.

Normal state:

<img width="333" alt="Screenshot 2022-11-12 at 2 02 32 AM" src="https://user-images.githubusercontent.com/1620454/201401527-e01569bc-f86e-4afa-9984-9ff2ace6bdf6.png">

Focus state:

<img width="339" alt="Screenshot 2022-11-12 at 2 02 39 AM" src="https://user-images.githubusercontent.com/162

[2022-11-11 21:22] #1343 closed

[2022-11-12 00:33] abalter opened #1367 "Can you post some links to real-word dashbaords using tabler?"
Can you post some links to real-word dashbaords using tabler?

[2022-11-12 21:05] #1348 closed

[2022-11-13 04:48] qwer130140190 opened #1369 "[FEATURE] I hope tabs support scrolling when there are too many tabs"
Especially for horizontal tabs, the inability to scroll will result in the inability to deform in small mobile devices.
Or add left and right buttons on both sides

[2022-11-13 11:39] robertsimionescu opened #1370 "[BUG] Avatar stacked list is not staked anymore"
**Describe the bug**

Avatars do not overlap each-other when grouped in an avatar-list-stacked class.

I've seen it both in [v1.0.0-beta15] and [v1.0.0-beta16]

**Device**

 - Browser: Chrome, Safari
 - OS: Mac OS 13
 - Screen size: any size

**To reproduce**

Steps to reproduce the behavior:
1. Go to 'https://preview.tabler.io/docs/avatars.html'
2. Scroll down to the end where 'Stacked List' para

[2022-11-14 11:49] rjd22 commented on #1348
Thank you for merging @codecalm !

[2022-11-14 23:28] #1370 closed

[2022-11-14 23:29] codecalm commented on #1370
fixed! thank you :)

[2022-11-14 23:29] codecalm commented on #1352
fixed! :)

[2022-11-14 23:29] #1352 closed

[2022-11-15 14:55] neacon-ivalkenburg opened #1373 "[BUG] Dark mode datatable sortable column header"
**Describe the bug**
Looks like sortable column header in dark mode is missing some theme specific styling. Selected column text color and sort icon fill color. Awesome project btw.

**Device**
- Chrome
- MacOSX

**To reproduce**
1. Go to: https://preview.tabler.io/datatables.html?theme=dark
2. Sort a column

**Screenshots**

<img width="440" alt="Screenshot 2022-11-15 at 15 49 25" src="https://us

[2022-11-17 17:30] klaustopher commented on #1045
@mkhairi Your example app does no longer work with [`esbuild-sass-plugin`](https://github.com/glromeo/esbuild-sass-plugin) versions `> 2.3.0`. I have extracted a sample and opened an issue over at the sass-plugin repo. See https://github.com/glromeo/esbuild-sass-plugin/issues/102

[2022-11-20 13:32] Aribaskar-jb commented on #917
i can work on this ..bug

[2022-11-21 15:48] evrifaessa opened #1377 "Outdated payment provider logos"
Hey, thanks for this great project!

I've found out some payment provider logos are outdated.
Here is a list of what I've noticed at a first glance:
* Mastercard
* Maestro
* Cirrus
* Google Wallet
* Klarna

[2022-11-22 00:21] #966 closed

[2022-11-22 03:18] beginor opened #1378 "[FEATURE] Detect dark mode of browser"
Most of the modern browsers support dark mode, it would be nice to detect whether the browser is prefered to dark mode.

Detect dark mode by javascript is easy:

[code]

And then set tabler default theme (dark or light) by the value of `isDarkMode`  .

Currently, the default theme is hard coded in

<https://github.com/tabler/tabler/blob/dev/src/js/demo-theme.js>

[2022-11-23 20:24] dcortez commented on #1378
looks like there is already a class that utilizes `@media(prefers-color-scheme: dark)` that you can use. That class is `.theme-dark-auto`. Not sure when that was introduced, but it's there in the latest beta for sure.

[2022-11-24 00:26] beginor commented on #1378
Does the `.theme-dark-auto` can be used on body as `.theme-dark` ?

[2022-11-24 00:30] dcortez commented on #1378
`<body class="theme-dark-auto">` will automatically apply the dark or light theme based on the OS/Browser preference, whereas `.theme-dark` tells it to always be dark theme, at least from my testing earlier today.

[2022-11-24 03:05] aarushisoni commented on #1316
Hi i would like to resolve this issue

[2022-11-24 08:22] beginor commented on #1378
I have tried to set `<body class="theme-dark-auto">` in page <https://preview.tabler.io> with chrome developer tools, and I got corrent theme based on OS/Browser preference.

But after that I found that `.hide-theme-dark` and `.hiden-theme-light` do not work with `theme-dark-auto`, then only work with `.theme-dark` and `.theme-light`, is this a feature or a bug?

Maybe `.theme-dark-auto` is not th

[2022-11-24 08:38] aarushisoni commented on #1377
hi i want to contribute to this issue . Can you please tell where exactly i have to look into for this issue

[2022-11-24 09:14] evrifaessa commented on #1377
The files are under `/src/img/payments`. That's all I know.

[2022-11-24 09:19] beginor opened #1385 "[BUG] .page-item-title does not work with .theme-dark"
`.page-item-title` is hardcoded to use color `#1d273b`, and it can not be seen in dark mode unless mouse hover it.

[code]

The color of `.page-item-title` should be the same as `.page-item-subtitle`

[code]

**Device**

 - All browsers.

**Screenshots**

![image](https://user-images.githubusercontent.com/159065/203744789-eb5d3009-a5f7-41ea-913e-e97ecb1854fe.png)

After override  the color value o

[2022-11-24 11:08] #1385 closed

[2022-11-24 11:13] codecalm commented on #1385
fixed, thank you! :)

[2022-11-27 16:22] mstfyii opened #1386 "[FEATURE] Calendar and Stepper"
Hello,

I just started following his work and found it very successful. I have a few suggestions as it is under development.

Is it possible to add calendar and stepper? or do you have the possibility to develop the wizard form in the next tab type.

best regards.

[2022-11-28 18:38] codecalm opened #1389 "Replace <div> with syntaxic HTML5 tags"
### Discussed in https://github.com/tabler/tabler/discussions/1383

<div type='discussions-op-text'>

<sup>Originally posted by **dascritch** November 22, 2022</sup>
The interface is really cool, eye-candy, catchy, productive-oriented and you have set a very large lot of components. The rendered result is really good.
Except I find it too verbose : too many meaningless `<div>` and `<span>`, a lot

[2022-11-30 11:12] rjd22 commented on #1389
While I agree it is a lot prettier. It's also important to not break older installations. So if we can do this without breaking older versions I'm all okay with this but if we do break older installations I would be against it.

Syntactic sugar is less important than keeping backward compatibility.

[2022-11-30 13:05] TrendSonic commented on #241
Hi everyone,
I have a problem with dark theme on tabler when updated newset version 1.0.0 - beta16.
Seems like its not setting a class to body element when clicked on link and its not setting tablerTheme to local storage either, what is the problem here?

[2022-11-30 14:55] promatik opened #1392 "[BUG] Advanced Select should have a padding right"
**Describe the bug**

When there is no minimum width for an advanced select, the carret overlaps the text, like this;

![image](https://user-images.githubusercontent.com/1838187/204810655-c99fae92-2b3e-459a-9920-f5c4e5b2175a.png)

**Device**

 - Chrome 107 (but it happens everywhere)
 - Windows 10
 - 4k

**To reproduce**

Steps to reproduce the behaviour:
1. On demo, go to the forms page; https://

[2022-11-30 14:59] promatik commented on #1392
Added the fix on #1393.