[2018-02-22 15:23] Wipsly opened #3 "Documentation"
Hi,

it would be awesome if you could write a documentation how to install this template.

Thanks

[2018-02-22 15:25] codecalm commented on #3
Hi Wipsly,
thanks for your feedback. I'm working on documentation, in a couple of days should be live.

[2018-02-22 22:11] codecalm commented on #3
@Wipsly I've created few steps in README.md, co you can test app locally.
Check it out: https://github.com/tabler/tabler#getting-started

Any feedback is welcome ;)

[2018-03-08 16:48] janschloss opened #7 "Jekyll dependency"
Hey,

the Jekyll dependency makes this project very hard to actually use in a real project.

Are there any plans to make this CSS and HTML available as a standalone version?

[2018-03-12 15:50] codecalm commented on #7
Hi @janschloss!
I'm newbie and this is my first open-source project. I don't have a lot of experience with this topic.
I'm open to any suggestions. If you have any idea how to do this better I can change the code to make it more useful.

[2018-03-14 19:22] jtreminio opened #8 "Header navbar dropdown not right-aligned to parent"
Even though you're using `dropdown-menu-right` it's not right-aligning:

![image](https://user-images.githubusercontent.com/589398/37425128-52e2923c-2790-11e8-866a-e6e4a6fe6e9a.png)

It's more apparent when you remove the user's name and make some inner text longer:

![image](https://user-images.githubusercontent.com/589398/37425747-70ff3c3c-2792-11e8-8c4a-be28ab5f1fb9.png)

The reason is BS4 has

[2018-03-20 17:36] zaguini opened #9 "Floating point bug on Store page"
The floating point is not getting rendered correctly: https://tabler.github.io/tabler/store.html

[2018-03-23 12:10] noxify commented on #7
@janschloss - correct me if I'm wrong, but the `standalone` version is available in the `dist` directory.

[2018-03-23 15:32] codecalm commented on #8
I've fixed it in commit 0ace1b8b1abc1a6b13c20d22b1de18dbce4b5ab1

[2018-03-23 21:56] namerci opened #10 "Profile message icon"
Great work Paweł!

On the profile page https://tabler.github.io/tabler/profile.html there is a missing icon next to message input. There is element with classes `si si-camera`. Probably it should be `fa fa-camera` or `fe fe-camera`. Maybe better will be use here a `fe fe-plus` or something similar.

![image](https://user-images.githubusercontent.com/1153631/37854942-4c045806-2eed-11e8-8eaf-09739d8

[2018-03-25 10:37] noxify commented on #7
Maybe some alternatives:
* http://assemble.io/
* https://www.staticgen.com/

[2018-03-25 11:04] noxify commented on #7
Or maybe the simple way via https://handlebarsjs.com/ and https://www.npmjs.com/package/gulp-handlebars

[2018-03-26 15:31] #3 closed

[2018-03-26 15:34] codecalm commented on #10
thanks @namerci for feedback!
i've fixed it, soon will be online ;)

[2018-03-26 15:35] alexbainbridge opened #11 "Top menu when on responsive"
Hi - this looks great. Evaluating right now.

The top menu, when in small width mode, disappears and there is no alternative way of accessing the same functionality / menu links.

Any thoughts on making the top menu have a thin width alternative?

Thanks. Alex

[2018-03-26 15:37] codecalm commented on #11
Hi @alexbainbridge
thanks for feedback, I've fixed it in 0ace1b8b1abc1a6b13c20d22b1de18dbce4b5ab1

[2018-03-26 15:37] codecalm commented on #11
soon should be online

[2018-03-26 16:04] alexbainbridge opened #12 "Colour input on form page bleeds into middle column"
On this page
https://tabler.github.io/tabler/form-elements.html when in slightly thin screen layout, the colour input bleeds into the middle column
![colour_choice](https://user-images.githubusercontent.com/1144763/37917897-8edd1e70-3117-11e8-9fa2-091a2054b36a.png)

[Mac chrome]

Thanks! Alex

[2018-03-26 16:05] alexbainbridge commented on #11
Great :)

That was a little TOO quick !!

[2018-03-26 16:07] simeun opened #13 "Sidebar menu overlaps main nav dropdown on email page"
![tabler](https://user-images.githubusercontent.com/5261024/37918113-6de054c2-3120-11e8-95e5-8fac14147807.png)

[2018-03-26 16:08] codecalm commented on #13
thanks for feedback!

[2018-03-26 16:08] codecalm commented on #12
thanks for feedback Alex!!

[2018-03-26 16:13] codecalm commented on #11
@alexbainbridge I must recreate top menu, this is only fast fix.
For few days should be better ;)

[2018-03-26 16:14] codecalm commented on #10
fixed, online :)

[2018-03-26 16:14] #10 closed

[2018-03-26 16:14] codecalm commented on #8
fixed, online :)

[2018-03-26 16:14] #8 closed

[2018-03-26 16:16] codecalm commented on #13
fixed! ;)

[2018-03-26 16:19] codecalm commented on #9
hi @zaguini
could you send me any screenshot of this bug?

[2018-03-26 16:20] zaguini commented on #9
apparently it's fixed 🤔 couldn't reproduce it again

[2018-03-26 16:22] codecalm commented on #7
I would like to host static assets on https://cdnjs.com/
Demo files will be hosted on Github Pages from `dist/` directory

[2018-03-26 16:24] codecalm commented on #9
Sometimes I fix bugs when I see it. It probably was one of them ;)
thanks for feedback!

[2018-03-26 16:24] #9 closed

[2018-03-26 19:18] #12 closed

[2018-03-26 19:18] #13 closed

[2018-03-26 23:00] noxify commented on #7
BTW. I have tested it with assemble.

Yes it works, but, for me, there are some „limitations“.

For example:

In the header partial you have currently a `assign` method to get a user from the `users.yml`.

With assemble i was not able to get it work.
Also in the error templates. I had to pre-define the object ... maybe some small stuff, but requires some refactoring.

I have it currently only at m

[2018-03-26 23:07] noxify opened #16 "Horizontal scrollbar in mobile view"
Hi,

While testing the demo on my mobile phone (iPhone 7+ with the latest iOS - used safari browser) I see a horizontal scrollbar.

![Image](https://i.imgur.com/RIYpRq0.jpg)

[2018-03-27 08:20] codecalm commented on #7
@noxify Jekyll files are only for generate demo data. You can use your own backend framework to generate your dashboard. The idea was that only css and js files are required.

[2018-03-27 09:34] #16 closed

[2018-03-29 07:36] facundofarias commented on #11
Hi there!
Already live? I cannot see the menu in mobile!

Thanks

[2018-03-29 09:25] domenrogina opened #18 "Template not work in IE 11"
![image](https://user-images.githubusercontent.com/8709441/38081229-ce0ae1b2-3343-11e8-9441-59920b974c7d.png)

How can I fix that ..? Thank you :)

P.S.
This templete are awesome!

[2018-03-29 10:08] noxify commented on #18
@domenrogina - (OT) Use a modern browser :D

[2018-03-29 18:16] simshaun opened #19 ".card break-word can make numeric figures look odd"
Opened up dev tools to look at the demo and immediately noticed the Today Profit box wraps oddly (`$652` becomes `$65\n2`)

![image](https://user-images.githubusercontent.com/379519/38105915-6983f4f0-335b-11e8-95a3-eaa2a371a564.png)

[2018-03-29 18:22] simshaun opened #20 "Inline radios & Checkboxes not clickable/working"
Win/Chrome

https://tabler.github.io/tabler/form-elements.html

Trying to click Option 2 or Option 3 and it doesn't work.

![image](https://user-images.githubusercontent.com/379519/38106291-831af7a0-335c-11e8-80e9-4c4301f54f2b.png)

Edit: Clicking the checkboxes does not work either.

![image](https://user-images.githubusercontent.com/379519/38106418-e8f21856-335c-11e8-8117-0af5b9080096.png)

[2018-03-30 05:57] domenrogina commented on #18
@noxify yeah .. I use it :) but in our company are still some users who prefer IE ... (sad, angry) :) :)

[2018-03-30 06:48] axheine opened #21 "401 demo page"
Hi,
New issue to notify that the 401 demo page is linked to [https://tabler.github.io/tabler/104.html](https://tabler.github.io/tabler/104.html) and shows the 404 page.

[2018-03-30 17:59] stoutZero commented on #7
can you at least list the dependencies (with version) in `package.json`
people that know webpack can do lots of stuff from the information in `package.json`
and people that have the time to contribute can do so with relative ease :)

thanks :D

[2018-03-30 18:13] #21 closed

[2018-03-31 13:07] domProjects commented on #20
Hi,
In the meta name do not put dash "**-**".

Replace for example: `name="example-radios"` by `name="exampleRadios"`

For input type radio:
[code]
For input type radio inline:
[code]
For input type checkbox:
[code]

[2018-04-01 20:52] beeman opened #23 "Publish SCSS file to npm"
Hi @codecalm - Great work on Tabler! I really love the look and feel!

I was wondering if you could publish the SCSS on NPM. That will make it easy to integrate with projects that are using SCSS, while allowing those projects to override certain things.

Thanks for considering!

[2018-04-01 21:38] PrototypeXenon opened #24 "Readme is confusing"
The readme file could definitely use some rewording in order to make it easier to understand and be more correct. I could do it if you would like.

[2018-04-01 22:58] OmgImAlexis commented on #18
It should be working with IE10 and IE11 according to the docs.

[2018-04-02 18:43] KiarashS opened #26 "Add RTL Support"

[2018-04-02 19:46] leandromatos commented on #11
Here the responsive menu has not yet appeared on the mobile.

[2018-04-03 07:15] bipon68 opened #30 "Failed at the tabler-ui@0.0.16 serve script."
Got message. This is probably not a problem with npm. There is likely additional logging output above.

[2018-04-03 09:56] koningsvh opened #31 "run tabler on other interface then localhost"
I cant find a way to make tabler listen on 0.0.0.0
Is this possible? If not, I would like to see it implemented

[2018-04-03 10:37] beeman commented on #31
What command are you using to run it?

[2018-04-03 10:39] beeman commented on #30
Can you paste the complete message? As it states: `There is likely additional logging output above`

[2018-04-03 10:45] koningsvh commented on #31
@beeman
`npm run serve`

[2018-04-03 10:50] beeman commented on #31
Can you try setting `host: 0.0.0.0` in `_config.yml`?

[2018-04-03 10:52] koningsvh commented on #31
That did the trick! Thanks!

[2018-04-03 10:52] #31 closed

[2018-04-03 12:46] NateRadebaugh opened #32 "Docs link to 401 page demo links to 104 page instead"
https://tabler.github.io/tabler/104.html should be https://tabler.github.io/tabler/401.html

[2018-04-03 14:30] drale2k opened #34 "[Request] Publish as ruby gem"
It would be great to have it as a gem to easily add it to any Rails app. I think it would help adoption a lot.

[2018-04-03 17:18] beeman commented on #32
Hey @NateRadebaugh - they content of the dist folder will be automatically generated when a new build is created, so there is no need to update all the references here as the changes should be applied automatically.

[2018-04-03 18:00] bipon68 commented on #30
Using gulpfile ~/test/admin/tabler/gulpfile.js
Starting 'styles'...
Starting 'styles-plugins'...
Finished 'styles' after 769 ms
Finished 'styles-plugins' after 759 ms
Starting 'build'...
Finished 'build' after 493 μs

Using gulpfile ~/test/admin/tabler/gulpfile.js
Starting 'styles'...
Starting 'styles-plugins'...
WARN: Unresolved specs during Gem::Specification.reset:
      rb-fsevent (>= 0.9.4, ~

[2018-04-03 18:18] drale2k opened #35 "How to integrate into Ruby on Rails Asset Pipeline"
Can you give any direction on how to integrate Tabler with the Rails Asset Pipeline? Tabler is using requirejs which i ran into some issues with the asset pipeline in rails.

What js file are absolutely required? I think anyone integrating tabler with any web framework will have the same question actually.

[2018-04-03 18:24] beeman commented on #30
It looks like there is something wrong with getting `jekyll` started, which might have something to do with your local ruby setup.

Did you run this step from the README?

[2018-04-03 19:00] NateRadebaugh commented on #32
@beeman  I didn't see anything incorrect in the pre-generated files, but without running

[2018-04-03 19:00] #32 closed

[2018-04-03 19:00] NateRadebaugh commented on #32
OK.

[2018-04-03 20:46] jamiebuilds opened #37 "There are more than two genders"
Only two binary genders are presented as options:

<img width="219" alt="screen shot 2018-04-03 at 1 20 15 pm" src="https://user-images.githubusercontent.com/952783/38273895-f9cc1f4e-3741-11e8-951e-4cfe8d334847.png">

Here is the relevant code:

https://github.com/tabler/tabler/blob/568950f0a4a62ed7b6c50da7365047ca439e185d/src/_includes/cards/form-all-elements.html#L175-L184

Allowing a third opti

[2018-04-04 00:51] eugene1g commented on #18
FYI fixing layout issues in IE is quite easy  - I opened a PR to do this (#38), but if it takes a while to merge you can copy the same 7 lines directly into your projects.

[2018-04-04 02:03] roanvanbao opened #42 "Support composer"
#46

[2018-04-04 03:35] Shloken commented on #11
![nav](https://user-images.githubusercontent.com/36431703/38287206-6cf28c60-3797-11e8-9309-335a3987c1a6.png)

Can view source code: shloken.github.io

That's the best way to do it, it transitions from a standard css nav into a vertical drop-down. I'd be happy to do it for you if you want.

[2018-04-04 06:11] Shloken commented on #11
@codecalm Made a bare bones version with just Bootstrap. This being the mobile side of the transition. Let me know if you want to collaborate. I can build you a sweet navbar and you can just throw it in whatever div container you want.

[2018-04-04 07:16] #18 closed

[2018-04-04 07:42] codecalm commented on #42
Hi @roanvanbao, do you have any ideas how it should works?

[2018-04-04 07:58] codecalm commented on #26
good idea! thanks @KiarashS

[2018-04-04 08:01] Nilpo commented on #37
Fork it and add it. That's the beauty of Github.

[2018-04-04 08:01] codecalm commented on #24
Hi @PrototypeXenon, thanks for good feedback!
I made tabler in free time for fun and I did not expect such a big response. If you can help us with it I will be grateful!

[2018-04-04 08:07] Nilpo commented on #20
Radio buttons work, but checkboxes do not.

[2018-04-04 08:18] jamiebuilds commented on #37
I opened an issue and am waiting for a response from the maintainer. That's the beauty of GitHub.

[2018-04-04 08:34] Nilpo commented on #7
No need to overcomplicate things. Grabbing the html files and the assets folder is not that difficult. All the dependencies are self-contained except for Bootstrap and Font Awesome which are both hard-coded for CDN.

We're all devs, right? We can make a little effort to make the project our own if we're going to use it.

[2018-04-04 08:40] Nilpo commented on #42
@roanvanbao This isn't a PHP project.

[2018-04-04 08:45] Nilpo commented on #34
Gems are intended to be written in Ruby. This isn't a Ruby project.

[2018-04-04 08:53] stoutZero commented on #7
@Nilpo wow... dismissive...
I gave two reasons for wanting versions, then you came and pissed & pooped all over the place... nice bruh
whatever lol

[2018-04-04 09:31] roanvanbao commented on #42
I'm building a Laravel library. I want it support composer so that I can add it as dependency. When it changes, I don't need to copy all files from it to my library. In other words, I want my library always up-to-date without copy files. Thank you!

[2018-04-04 09:37] LasseRafn commented on #37
Very nice idea 👍

[2018-04-04 09:52] codecalm commented on #42
@roanvanbao merged
check is everything ok

[2018-04-04 09:54] roanvanbao commented on #42
Thank you. Can you submit it to [packagist](https://packagist.org/packages/submit)?

[2018-04-04 09:56] codecalm commented on #42
done: https://packagist.org/packages/tabler/tabler

[2018-04-04 09:59] roanvanbao commented on #42
Yeah! Awesome!

[2018-04-04 10:00] codecalm commented on #42
you're welcome

[2018-04-04 10:00] #42 closed

[2018-04-04 10:01] codecalm commented on #34
@drale2k do you have ideas how it should work with ruby gems?

[2018-04-04 10:09] codecalm commented on #7
@stoutZero can you make pull request with your ideas?

[2018-04-04 10:10] codecalm commented on #37
@jamiebuilds, @LasseRafn  you are crazy guys, I'm open for any ideas ;)

[2018-04-04 10:14] codecalm commented on #11
@Shloken thanks for contributing. I did not expect an increase of popularity this repo, so I'm working with some bugfixes. This is the most important bug.
I came back from vacation today, so I'm bugfixing today.

[2018-04-04 10:25] LasseRafn commented on #37
I might find time for such thing, but I mean if @jamiebuilds has the HTML already I think that could be implemented right away

[2018-04-04 10:26] Shloken commented on #11
@codecalm Cool just let me know what to change man I can do a lot with what you have. I need to get my commits up. I'll implement a nav menu and you can see if you like it.

[2018-04-04 10:35] codecalm commented on #35
thanks @drale2k for feedback. I don't have a lot of experience with RoR, so it's hard topic for me.
I would like to make single css and js file with all features and second version with "must have" js files.
If you would like to give me tips how to do it best I will be grateful.

[2018-04-04 11:21] shajanjp opened #47 "Fields disappear"
To and Subject fields disappear after clicking body text area.
Page : https://tabler.github.io/tabler/email.html

[2018-04-04 11:25] stoutZero commented on #7
@codecalm I'll just go ahead and make a prototype of a webpack flow using laravel-mix over the weekend
gonna have to reacquaintance myself with Jekyll

[2018-04-04 11:27] codecalm commented on #23
I pushed in version 0.0.19, but I think that is not so elegant solution. Do you have any ideas how to serve via npm compiled assets and scss files?

My dream is build structure like:

[code]

The question is how to serve static files, like fonts, images required to works, etc.

[2018-04-04 11:28] codecalm commented on #47
@shajanjp do you have any screenshots or video? Because I can't reproduce this bug.

[2018-04-04 11:29] codecalm commented on #7
@stoutZero it's awesome, I'll wait for you feedback! :)

[2018-04-04 11:44] shajanjp commented on #47
@codecalm  It only happens when Grammarly browser plugin is turned on.
I'm using firefox 59.0 on ubuntu.
![Uploading Screenshot from 2018-04-04 17-12-07.png…]()

[2018-04-04 11:46] codecalm commented on #47
thanks, it should help

[2018-04-04 12:30] drale2k commented on #35
Hi, the main issue i am fighting with right now with integrating Tabler with rails is linking to assets within js files like Tabler does in dashboard.js using require.

Frameworks like Rails, Laravel etc all have their own folder where to put assets and helpers to link to those assets to make it work with the frameworks routing. Using relative paths inside js files as used in dashboard.js in the f

[2018-04-04 12:31] drale2k commented on #34
@codecalm Basically it would fix the problem described in this issue https://github.com/tabler/tabler/issues/35

It would properly link assets using asset helpers in Rails.

[2018-04-04 13:00] codecalm commented on #18
thanks @eugene1g for help! I've medged to master branch and made a new package. Grat job!

[2018-04-04 13:13] Akselselsing opened #48 "Unable to view site remote?"
Followed all steps, all the way to `npm run serve` and when entering the server IP address and port i get my connection refused by the server.

[2018-04-04 13:16] codecalm commented on #48
@jarboz fixed, check the newest version :)

[2018-04-04 14:15] klaustopher commented on #34
You could also integrate [webpacker](https://github.com/rails/webpacker) into your app and include the [tabler-ui npm package](https://www.npmjs.com/package/tabler-ui) there and use this to include the UI into your application.

[2018-04-04 14:32] WashingtonMorais opened #49 "[Request] Please, add Tabs component"
Hi...
Can you guys add a Tab Component to the template?
Tnks in advance!

[2018-04-04 15:37] drale2k commented on #34
@klaustopher Thanks i am exploring that way now. I added the tabler-ui package and trying to figure out now how (and what, since it included everything from the dist folder, including the 404.html etc) to add it to the application.

Do you have experience with rails and can give me a nudge in the right direction?

Thanks

[2018-04-04 15:40] klaustopher commented on #34
I don't think that you can include the HTML pages this way. But the CSS and javascript should be compiled to you and exposed based on what you define in the webpack config. You include the CSS and JS files in your regular rails template in `layouts/application.html.erb` and then you have to build the views just like you used to.

[2018-04-04 15:43] codecalm commented on #34
with @beeman we work to publish only css and js files via npm, if you have any ideas how do it better I'm open for any suggestions :)

[2018-04-04 15:46] drale2k commented on #34
I don't want to include the HTML files :) I was saying that they are included in the npm package installed by yarn in this case.

Basically what i have now is a node_modules folder with "tabler-ui" in it, an inside that there is the "dist" folder from tabler.

Additionally, i have a package.json file which defines tabler

[code]

So far so good, what i am trying to figure out is how to include the

[2018-04-04 15:49] klaustopher commented on #34
You can configure your packs to include the files from tabler and then use the pack in your rails layout. See https://github.com/rails/webpacker#usage

[2018-04-04 15:56] #20 closed

[2018-04-04 15:59] codecalm commented on #20
should be better, I've pushed a fix

[2018-04-04 16:00] codecalm commented on #49
Hi @WashingtonMorais!
Any ideas how the tabs component should looks?

[2018-04-04 16:45] PrototypeXenon commented on #24
Great! I'll make a PR when I'm done

[2018-04-04 17:04] codecalm commented on #26
@KiarashS I've made a sample RTL mode page:
https://tabler.github.io/tabler/rtl.html

What do you think about it?

[2018-04-04 18:53] jamiebuilds commented on #37
I don't think you want my half-assed work in devtools. I just overwrote a bunch of inline styles

[2018-04-04 19:05] ashnehete opened #51 "Hover tooltips hide in edges of charts"
The tooltip which appears when you hover over a chart hides when it hits the edges of the chart.
<img width="210" alt="untitled" src="https://user-images.githubusercontent.com/7398393/38327992-4c35bdbe-3867-11e8-8152-133c1cb32449.png">

I went through the code and figured out it was due the parent div having `overflow: hidden` which came from the `.c3` class.

I checked with the C3 Library and it

[2018-04-04 20:52] Baril27 commented on #19
Any recommendations on what the appropriate style should be so the text doesn't break the layout?

[2018-04-04 20:53] codecalm commented on #19
@Baril27 try replace `.display-4` to `.h1` class. I'll fix it in demo pages soon.

[2018-04-04 21:37] beeman commented on #49
This might be a nice inspiration:

https://coreui.io/demo/Static_Demo/base-tabs.html

[2018-04-05 00:35] luizbills commented on #37
these input are just examples.

[2018-04-05 00:37] jamiebuilds commented on #37
@luizbills I recognise that, they still should be inclusive.

[2018-04-05 00:37] Baril27 commented on #47
This to me seems like a bug in Grammarly. The `#grammarly-ghost` element is breaking outside of the `textarea` and overlapping the form elements above on render (see screenshot attached).

One solution is to wrap the `textarea` in a `.form-group`(per the Bootstrap docs) and add the class `.position-relative`. Like so:
[code]
 This however feels like a hack. We would also need to do this for every

[2018-04-05 00:46] muminoff opened #53 "Any plans to integrate with React/Vue?"
I am really impressed with UI's beauty. Awesome! 👍

Do you have any plans to integrate this with SPA libraries, such as, React, Vue, etc?

[2018-04-05 00:47] Baril27 commented on #19
@codecalm Thoughts on maybe sizing down the text when that breakpoint is reached? Seems there are some other issues with these cards are on smaller widths.

[2018-04-05 01:40] beeman commented on #53
Hey @muminoff - I'm currently working on an Angular integration [tabler/tabler-angular](https://github.com/tabler/tabler-angular).

I'm sure @codecalm is open to more integrations, so if you're up to it feel free to get started.

You can join the slack to discuss it :)

[2018-04-05 02:40] beeman commented on #37
I tend to agree with @luizbills that it are just examples on how to work with `Icons input`.

That being said, I'm all for inclusivity.

Maybe the solution should be a new `gender` form component that allows people to select their genders, and that is not based on this `Icons input`, as I'm not sure if icons are a inclusive way to select them; there might be better ways.

Font awesome has a big se

[2018-04-05 05:55] jarboz opened #55 "Add basic backend functionality"
Loving this, is there any plans to add backend functionality?

If not I'd love to to this for a school project.

[2018-04-05 06:04] jarboz commented on #49
Tabs are already implemented in the core of bootstrap, not sure if its included in tabler.
[https://getbootstrap.com/docs/4.0/components/navs/](url)

Explanation from getbootstrap:

getbootstrap example:
`<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" ari

[2018-04-05 07:56] joshi-chinmay opened #56 "Profile page avatar-md issue"
Hello, when I was browsing through your [demo website](https://tabler.github.io/tabler/) today. On the [profile-page](https://tabler.github.io/tabler/) I found this crunched-looking avatar.

![tabler-github-io](https://user-images.githubusercontent.com/16207311/38353056-e7872c92-38d2-11e8-899c-e6ccfbeace33.png)

I tried to look for the problem. But need to invest more time to get the right solutio

[2018-04-05 07:58] codecalm commented on #56
thanks! we fix it as soon as possible!

[2018-04-05 11:53] drale2k commented on #34
I got around the issue by requiring all the js libs manually inside the application.js

./app/javascript/packs/application.js
[code]

It's doesn't feel right but it works. I spent too many hours already trying to get it to work so i will leave it like this for now and wait for a better solution.

Can be closed, thanks for the help.

[2018-04-05 11:53] #34 closed

[2018-04-05 11:56] ascii-dev commented on #56
Can I pick this up to work on? @codecalm

[2018-04-05 11:57] codecalm commented on #56
@ascii-dev sure, thanks!

[2018-04-05 11:58] codecalm commented on #56
see this PR: https://github.com/tabler/tabler/pull/54

[2018-04-05 12:05] ascii-dev commented on #56
Seen @codecalm, Thanks! Should I work on your comment - "I read about it and I think should be better if we put .avatar into .media-object instead add margins"

[2018-04-05 13:26] drale2k opened #59 "Undocumented components which deviate from Bootstrap"
In the demo there are fundamental classes like .page, .page-main and .header-nav which seems crucial for tabler but are not mentioned anywhere in the documentation. Is there a reason or has it just not been done yet?

Since tabler is based on bootstrap, i was under the impression that anything not specifically documented just works with default bootstrap classes.

[2018-04-05 13:29] codecalm commented on #59
@drale2k I made Tabler for fun and I did not expect such a big response. If you can help us with it I will be grateful :)

[2018-04-05 13:32] drale2k commented on #59
Alright, I am glad you did :D

As a side question, do you think it's necessary to introduce those new classes instead of using the boostrap defaults? It would make it much easier for sites which use bootstrap to switch to tabler.

[2018-04-05 13:37] jarboz commented on #55
I've started taking dist, picking all the examples apart into modular php snippets that can be included/required.

Once I'm done with that I'm gonna add a database connector, making the dashboard part somewhat functional.

[2018-04-05 13:39] codecalm commented on #59
@drale2k I've made those structure to work with aside menu, etc. It's only plans, but tabler is ready to support it in near future.

[2018-04-05 13:41] drale2k commented on #59
By aside menu you mean a vertical navigation on the left? That would be really useful actually

[2018-04-05 13:49] codecalm commented on #59
yes, I had a few plans for the future and I did not make it yet through this popularity boom :)

[2018-04-05 15:03] WashingtonMorais commented on #49
I like @beeman  suggestion. It looks amazing!

Simple adding the bootstrap tab code works, but the style need to be changed.

![sem titulo](https://user-images.githubusercontent.com/2123599/38373975-ea898ebc-38c8-11e8-9904-d6fd46041ed0.png)

[2018-04-05 16:54] drale2k commented on #59
awesome :)

[2018-04-05 16:54] #59 closed

[2018-04-05 20:11] lightyrs commented on #35
[I'm working on a simple Rails engine here based off the Bootstrap 4 rubygem.](https://github.com/lightyrs/tabler-rubygem)

Work in progress but feel free to pull request.

[2018-04-05 21:04] Baril27 commented on #23
@codecalm I believe if you pushed the scss files in the `src` directory instead of the `dist` directory then the npm package would become more extensible.

[2018-04-06 04:28] Nilpo commented on #53
@muminoff You can't really make it reactive without knowing what you are building first. I'm using Vue.js. What would you like to see in terms of integration?

[2018-04-06 04:30] Nilpo commented on #55
I'm currently building a backend for this powered by an API built on Slim.

[2018-04-06 04:49] Nilpo opened #60 "Pricing cards are not responsive"
The pricing cards are not breaking on smaller screen sizes.

![screenshot_20180406-004029](https://user-images.githubusercontent.com/2223167/38403861-48102fb2-3934-11e8-9a08-8a8d77a84b72.png)

[2018-04-06 08:12] sushant1221 commented on #60
Here is the fix for it :

Replace with the following :
[code]

Hey @codecalm  how do I make a pull request and push this to the repository?
Any help would be appreciated as this the first time I will be making a pull request for any repo on github.
I have fixed the responsive issue faced by @Nilpo ?
Can you please help ?

Thanks
Sushant Kumar

[2018-04-06 10:07] muminoff commented on #53
@Nilpo When I said "integration" I meant implementing collection of React (or Vue.js) components using this UI kit. How about now, is it clear?

[2018-04-06 10:10] muminoff commented on #53
I meant reusable components which user can install, import and use anywhere.

[2018-04-06 11:43] beeman commented on #60
Hi @sushant1221 , here is a great video on how to make a pull request on GitHub:

https://egghead.io/lessons/javascript-how-to-create-a-pull-request-on-github

There are probably more videos in that serie that can be useful.

Feel free to join the slack if you have more questions! :)

[2018-04-06 11:46] beeman commented on #53
This is what I'm working on with the Angular version too.

It currently runs this 2 apps using shared components, the [demo](https://develop-tabler-angular-tabler.buddy.show/home) and the [docs](https://tabler.github.io/tabler-angular) sites.

[2018-04-06 11:47] sushant1221 commented on #60
Hi beeman. Thanks for the videos.
Followed one one the stackoverflow answer and I have already created a pull request for this.
PS : can you please provide slack link so that I can communicate better. This theme is awesome but it has many bugs which needs to be fixed.

Thanks once again.

[2018-04-06 12:36] jarboz commented on #55
I've modularized the root example pages and some widgets.
Added basic user functionality(register, login, logout)

[2018-04-06 14:10] adelahaygood85 opened #63 "Quick fix"
Fix

[2018-04-06 14:10] #63 closed

[2018-04-06 14:18] randy-girard commented on #51
Button dropdowns appear to have a similar issue.

![image](https://user-images.githubusercontent.com/91918/38426132-d06f6b9e-3983-11e8-85d1-01bb00089d36.png)

[2018-04-06 14:37] codecalm commented on #23
@Baril27 i've moved it to npm, check is it ok

[2018-04-06 14:38] #60 closed

[2018-04-06 14:58] codecalm opened #64 "How we should distribute new versions of tabler?"
Hi community!
For few days we repaired many fixes and added a lot of new code.

Many questions were born after this week:
1. People want `.scss`, `.css` and `.js` files inside npm and composer packages.
2. People want one package, instead using require.js.
3. How often we should distribute new versions?
4. How we can add tabler to services like https://cdnjs.com, https://www.bootstrapcdn.com etc?

[2018-04-06 14:58] codecalm commented on #64
Btw, we have 5000 stars!! Thanks ❤️

![img1](https://user-images.githubusercontent.com/1282324/38428286-bc3c7238-39bb-11e8-9067-5248d311d3ef.png)

[2018-04-06 16:46] sushant1221 commented on #64
We can have something like that but still we will have to do many fixes. I see many things broken.
Broken means things out  of place.
I  would suggest that :
Don't add anything new for now.
Let's make it perfect first.(no unresponsive,out of  place things)
After that we can modularize the code the way you have mentioned above.
And then we can have new features as need arises.

What do you think?

[2018-04-06 16:56] sushant1221 commented on #64
1. can be done but will take little time.
2. will have to check it.
3. Suggested on previous reply.
4. Since this is complete theme, Even if we add to cdn  will make no sense as particular html with classes will be required. Its better to drop the idea of point no. 4 as of now.

[2018-04-06 18:05] sushant1221 opened #65 "Remove scroll from login and similar pages"
Hi @codecalm  just reviewed the css.
found two body tag in dashboard.css.
But anyways for now, can you please change
` overflow-y:scroll `
to
`overflow:auto `
in dashboard.css body tag line number 9518.

Thanks and regards
Sushant Kumar

[2018-04-06 19:09] Baril27 commented on #23
@codecalm Yep that is a lot better thank you!

[2018-04-06 19:55] simonschaufi opened #67 "Mobile notifications"
Thank you for this great theme!
I would be really happy of you could also provide mobile notifications (currently hidden in mobile and visible next to the profile avatar in the top menu). I imagine something like facebook layout: full width container. The same like the hamburger menu dropdown container, just for notifications 💚

See in action: https://touch.facebook.com/?soft=notifications

[2018-04-06 21:06] codecalm commented on #65
This is especially done. If you move from one page of a site without a scrollbar to another with a scrollbar, you'll see a slight layout shift as things squeeze inward a bit to make room for the scrollbar.

[2018-04-06 21:06] #65 closed

[2018-04-07 02:53] sushant1221 commented on #65
But that scroller doesn't look good in login page. We need to think about different approach .

[2018-04-07 19:28] Nilpo commented on #53
I've started working on a Vue.js version.

[2018-04-08 04:00] daniel-lij opened #68 "Can I integrate tabler into bootstrap-vue?"
Tabler is a nice bootstrap style. I would like to use a tabler in my recent projects, but I find that the tabler cannot be well compatible with bootstrap-vue. I would like to know when I can use the bootstrap-vue-tabler. Thank you

[2018-04-08 04:24] beeman commented on #68
Hi @daniel-lij, the Vue support is being discussed in this issue: https://github.com/tabler/tabler/issues/53

[2018-04-08 04:24] #68 closed

[2018-04-08 08:11] beeman commented on #55
In the Tabler Angular repo I've added an example on how to integrate with Firebase:

https://tabler-angular-fire.firebaseapp.com/

https://github.com/tabler/tabler-angular/tree/develop/apps/fire/src/app

[2018-04-08 17:25] MetaiR opened #69 "angular version"
Hi,
since this is a very nice UI dashboard, I want to know do you have any plan for greate frameworks like angular (version > 2), react and etc?

[2018-04-08 17:29] MetaiR opened #70 "npm repository"
could you please create one npm repository for this project itself? this way we can reach last version easier

[2018-04-08 20:39] KiarashS commented on #26
@codecalm Very thanks.

There are some issues with position of dropdowns!

![1](https://user-images.githubusercontent.com/1054134/38472244-74f7863c-3b92-11e8-82b1-2a144a0a0a6a.JPG)
![2](https://user-images.githubusercontent.com/1054134/38472245-75329416-3b92-11e8-9c88-98307a8b9ddf.JPG)
![3](https://user-images.githubusercontent.com/1054134/38472246-756d42b4-3b92-11e8-8589-4be971bcfd1e.JPG)

[2018-04-08 21:40] beeman commented on #69
Hey @MetaiR - I'm currently working on an Angular integration of Tabler.

Please go to this repo for the progress: [tabler/tabler-angular](https://github.com/tabler/tabler-angular). For any questions about that version, please ping me in the slack channel!

[2018-04-08 21:40] #69 closed

[2018-04-08 21:41] MetaiR commented on #69
it is a good news. :+1:

[2018-04-09 01:26] beeman commented on #56
@ascii-dev Happy to review / merge any of your PR's  that implement this!

[2018-04-09 01:28] beeman commented on #24
@PrototypeXenon closing for now, happy to review/merge any PR's you have!

[2018-04-09 01:28] #24 closed

[2018-04-09 03:05] AaronCoplan commented on #53
@muminoff I've begun work on a [React port of tabler](https://github.com/AaronCoplan/tabler-react).  I've just started today so things are pretty basic at the moment but I'd love some help!

[2018-04-09 04:47] beeman commented on #53
@Nilpo @AaronCoplan in terms of packaging the Tabler CSS/SCSS, could you shed a light on what works best for you? That way we can aim towards a generic working package in #64 .

[2018-04-09 04:57] AaronCoplan commented on #53
@beeman For now I am doing something similar to you, I am importing the scss file or the compiled css from dist.  However, the best practice with React is to have a .css file for each React component (see [CSS FAQ](https://reactjs.org/docs/faq-styling.html) or [Style recommendations](https://reactjs.org/docs/dom-elements.html#style)).  As such, having plain CSS for each component would be nice

[2018-04-09 05:09] beeman commented on #53
@AaronCoplan But is that also the case for global styles? Do you want to copy the Tabler CSS into the react codebase, or can you reference it?

In the Angular app I would only use the local css next to the component for overrides to the global styles.

[Here](https://github.com/tabler/tabler/tree/dev/src/assets/scss/dashboard) is a list of the separate 'components' in the scss.

[2018-04-09 05:27] Nilpo commented on #53
I'm basically doing something similar. In Vue, each component has it's own styling. I am putting component-specific styles there. Global CSS is loaded separately. Since it's based on Bootstrap, global styling will really be a minimum. This will also allow users to bring in the components while using their own global style.

[2018-04-09 14:26] johnhorsema commented on #53
@Nilpo I would like to help with the Vue port. How can I get started?

[2018-04-09 15:51] mrdavidrobison commented on #30
I'm getting a similar error and I followed the setup environment steps 1 thru 3. After I run `npm run serve`

npm run serve
npm info it worked if it ends with ok
npm info using npm@3.10.10
npm info using node@v6.11.4
npm info lifecycle tabler-ui@0.0.31~preserve: tabler-ui@0.0.31
npm info lifecycle tabler-ui@0.0.31~serve: tabler-ui@0.0.31

[15:49:02] Using gulpfile /data/gulpfile.js
[15:49:02] Star

[2018-04-09 16:01] codecalm commented on #53
@johnhorsema we can create a tabler/tabler-vue repo if you want

[2018-04-09 16:02] codecalm commented on #56
fixed

[2018-04-09 16:02] #56 closed

[2018-04-09 22:53] skmail commented on #53
What a nice UI  Many thanks to make it MIT ,  @AaronCoplan  i'd like to help with react port.

[2018-04-09 22:57] AaronCoplan commented on #53
@skmail Currently it's located at https://github.com/AaronCoplan/tabler-react, any and all pull requests would be greatly appreciated!

[2018-04-10 07:03] DerekTso opened #71 "eventmachine issue while "npm run serve""
`F:\tabler>jekyll -v
jekyll 3.7.3

F:\tabler>npm run serve

[14:46:30] Using gulpfile F:\tabler\gulpfile.js
[14:46:30] Starting 'styles'...
[14:46:30] Starting 'styles-plugins'...
[14:46:31] Finished 'styles-plugins' after 378 ms
[14:46:31] Finished 'styles' after 902 ms
[14:46:31] Starting 'build'...
[14:46:31] Finished 'build' after 80 μs

[14:46:33] Using gulpfile F:\tabler\gulpfile.js
[14:46:3

[2018-04-10 07:05] DerekTso commented on #71
In case anyone who gets the same issue, please refer to below commands to try to fix it as I did:

- `gem uninstall eventmachine`
- at the prompt tell it to uninstall all versions (it tells you about dependencies)
- `gem install eventmachine --platform ruby`

[2018-04-10 07:05] #71 closed

[2018-04-10 07:53] codecalm commented on #53
@AaronCoplan if you want we can create tabler/tabler-react repo for you

[2018-04-10 08:09] seleznevdev commented on #37
Please add my XXXL to this example

![screenshot from 2018-04-10 11-03-56](https://user-images.githubusercontent.com/5261079/38544019-e799b9f4-3cae-11e8-929c-1ed703e101f2.png)

[2018-04-10 08:15] premedios commented on #37
I completely disagree with accommodating the transcended community with their radical left ideas! This project should not fall into that trap lest I fork this myself and take out that change on my fork!

[2018-04-10 08:16] LasseRafn commented on #37
@seleznevdev There is a difference between gender, and size (one being discrimination and lack of understanding...). However if you feel like this is necessary, I think you should create another issue or even a pull request. In which case I think you should also add: XS, XXS, XXXS, XXXXL, XXL and so on.

Personally, I feel that the size example is broad enough, while gender is not. We don't even n

[2018-04-10 08:51] Nilpo commented on #37
Am I the only one who remembers that this is a template? It's meant to be a starting point, not a complete working site. If you need more sizes or genders, add them to your own project. The samples don't need to account for every possible use case. They are, after all, just that--examples.

[2018-04-10 08:53] seleznevdev commented on #37
@LasseRafn It's just the simple "Icons input" example, not the complete "Gender" field. You're free to add any icons or text fields in your project

[2018-04-10 08:54] LasseRafn commented on #37
@seleznevdev and so are you, with your sizes. 👍

[2018-04-10 09:08] seleznevdev commented on #37
@LasseRafn Exactly!

[2018-04-10 09:09] Nilpo commented on #37
@LasseRafn He was being sarcastic.

[2018-04-10 09:12] premedios commented on #37
Look guys don't turn this project into a platform for your political views. If you want to put those stuff, fork this library and create a separate branch on your fork. That way you can have the latest changes from the master and still have your own changes without everyone having to put up with your "sizes" thing or "gender" thing. That's what I'm going to do.

[2018-04-10 12:15] jonthomp commented on #53
Just spotted this thread, I've been working on a set of React components too so will pop it up on Github shortly. I've been rebuilding the demo site from top to bottom turning everything into basic components as I go.

[2018-04-10 12:15] akhileshdarjee opened #72 "Add datepicker, timepicker, datetimepicker, datatables"
All the above libraries are must and basic requirements for an admin template.
Thanks for contributing such a beautiful template, I loved it :)

[2018-04-10 13:15] premedios commented on #37
Look guys don't turn this project into a platform for your political views. If you want to put those stuff, fork this library and create a separate branch on your fork. That way you can have the latest changes from the master and still have your own changes without everyone having to put up with your "sizes" thing or "gender" thing. That's what I'm going to do.

[2018-04-10 14:56] AaronCoplan commented on #53
@codecalm That would be great!

[2018-04-10 15:03] AaronCoplan commented on #53
@jonthomp I'm essentially doing the same thing - let's look into merging things together 👍 I think the biggest difference is that I am using Flow

[2018-04-10 15:04] LasseRafn commented on #37
@nilpo I’m aware

[2018-04-10 18:21] jamiebuilds commented on #37
Let's keep it on topic folks and keep the sarcastic comments to a minimum.

[2018-04-11 06:16] rayonx opened #75 "Overflow at map demo page on mobile"
On note 8 screen size, this container's content seems to be overflowing
![screenshot_20180411-140848](https://user-images.githubusercontent.com/8094111/38599372-e0b2dc6c-3d92-11e8-9f0d-8e14ef5bccea.jpg)

[2018-04-11 16:28] ServerJunge opened #77 "Laravel Version"
Hi,

does anybody has a working Laravel Version with Laravel Mix?

Thanks!

[2018-04-11 20:17] lightyrs commented on #35
[My gem](https://github.com/lightyrs/tabler-rubygem) now allows for usage of Tabler styles and javascript (without the use of requirejs) in Rails.
It also allows for modularized usage à la the [Bootstrap rubygem](https://github.com/twbs/bootstrap-rubygem#a-ruby-on-rails).

It's fully functional right now but could use some pull-requests to allow for the customization and synchronization of colors

[2018-04-11 20:41] lightyrs commented on #35
[tabler-rubygem v0.1.0](https://rubygems.org/gems/tabler-rubygem) is now released.

https://rubygems.org/gems/tabler-rubygem

[2018-04-12 02:30] beeman commented on #35
Nice work @lightyrs - if you want you can host the repo under the Tabler org :)

[2018-04-12 02:50] mygithubalt commented on #37
The current binary gender options exclude people and that should be changed, no question there IMO.

#74 removes the existing exclusion while keeping the _Icons Input_ example simple and clear. #73 is more actively inclusive of gender identity, to the detriment of the simplicity of the example.

Maybe a middle ground of having the inputs from #73 somewhere in the Form Elements page, while keeping

[2018-04-12 08:11] beeman commented on #37
The gender input element by @jamiebuilds is done in #73

[2018-04-12 08:13] beeman commented on #77
Hi @ServerJunge, integrations with other frameworks are discussed here #53 . I don't think Laravel has been mentioned yet, but someone might be working on it.

[2018-04-12 08:13] #77 closed

[2018-04-12 09:25] Nilpo commented on #53
I find the changes in #73 to be highly offensive and unnecessary as stated in #37.

I cannot, in good moral conscience, continue contributing to this project. I apologize for any inconvenience this causes.

[2018-04-12 09:33] drale2k commented on #35
@lightyrs awesome, will switch to the gem today and report any issues. Thanks!

[2018-04-12 09:43] codecalm commented on #37
Sorry guys, as at the beginning, this discussion smiled me, now it seems to me that it is starting to go in the wrong direction. There is **icon input**, not **gender input**.

If someone wants to make a reason to express their own views, please fork it to `tabler-with-gender-input` repo. All base components from tabler allows you do it.

I made tabler for people, for fun. I lose the urge to do an

[2018-04-12 09:43] #37 closed

[2018-04-12 09:45] codecalm commented on #53
@Nilpo I'm sorry for that, I did not expect that it go in this direction.

[2018-04-12 11:38] JoeDawson opened #78 "Inherit color when using buttons for card-options"
Hello,

When using buttons for card-options, can I suggest using the inherited color for the buttons? Since currently if I was to use a `btn-primary` class on my button the color is overwritten here;

https://github.com/tabler/tabler/blob/dev/src/assets/scss/dashboard/_cards.scss#L242

Meaning my primary button which should have white text, currently has grey.

Thanks!

[2018-04-12 11:39] JoeDawson commented on #78
Here's an example when using `btn-primary` for a card option (via the Tabler demo).

![screen shot 2018-04-12 at 12 39 11](https://user-images.githubusercontent.com/1009696/38675088-937608ea-3e4e-11e8-8757-9908ae39c842.png)

[2018-04-12 11:44] #78 closed

[2018-04-12 11:45] codecalm commented on #78
thanks @JoeDawson for feedback, fixed :)

[2018-04-12 11:45] codecalm commented on #75
fixed, thanks for feedback!

[2018-04-12 11:45] #75 closed

[2018-04-12 11:45] JoeDawson commented on #78
Thanks @codecalm!

[2018-04-12 14:24] lightyrs commented on #35
@beeman Sounds good. Let me know what we need to do to make that happen.

[2018-04-12 17:46] maracuja-juice commented on #53
@Nilpo see the new comment in #37

[2018-04-12 18:14] Nilpo commented on #53
@codecalm I think you handled that in a very reasonable and mature manner.

@johnhorsema I am on a deadline for the next 1-2 weeks. If you're okay waiting until then, I'm happy to share what I'm working on and get you involved.

[2018-04-12 20:53] gnpretorius opened #79 "Consider declaring the variables inside _variables.scss with !default"
This allows the developer to create a custom variables file to tweak some of the basic properties.

Example: `$font-family-base: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;`

The custom file would be included before the `bundle.scss` file.

If there is a better / different way of doing it, let me know
Cheers

[2018-04-12 21:05] codecalm commented on #79
okay, I will try to fix it quickly. Thanks for feedback!

[2018-04-12 21:07] davismiculis commented on #72
datepicker, timepicker, datetimepicker as 1 library or 3 different libraries?

[2018-04-12 21:08] codecalm commented on #53
thanks @Nilpo, nice to hear. Let me know if you need tabler/tabler-react repo, I can give you permissions.

[2018-04-12 21:09] codecalm commented on #72
it will be probably one library
I'm working with new inputs on http://tabler.codecalm.net/new-inputs/form-elements.html

[2018-04-12 21:16] codecalm commented on #19
fixed

[2018-04-12 21:16] #19 closed

[2018-04-12 21:18] ashfame opened #80 "JS error: Actions dropdown in Invoices table on demo doesn't work"
Screenshot - https://cl.ly/202Q1S3Q0z0V

[2018-04-12 21:19] codecalm commented on #80
thanks for feedback!

[2018-04-12 21:31] Nilpo commented on #53
@codecalm Please. I would like to keep everything in one place.

[2018-04-12 21:33] codecalm commented on #53
@Nilpo I've send invitation

[2018-04-12 21:37] AaronCoplan commented on #53
@Nilpo Are you working on vue or react?

[2018-04-12 21:39] premedios commented on #53
I'm also making a react version of tabler.

[2018-04-12 21:40] codecalm commented on #53
I've give @Nilpo admin rights to this repo.

[2018-04-12 21:44] jonthomp commented on #53
@AaronCoplan I missed the comments before about your react version. How far along are you and how tied to using Flow are you?

[2018-04-12 21:49] AaronCoplan commented on #53
@jonthomp At the moment I am still a bit behind you but I plan on working on it pretty intensely over the next couple days.  Unfortunately, I'd like to stick with Flow if at all possible - if that means I have to maintain my own repo then that's not the end of the world though - don't want to interfere with other peoples progress by being stubborn.

[2018-04-12 21:49] premedios commented on #53
I'm going to work on mine. I can do a good job on it.

[2018-04-12 22:10] akhileshdarjee commented on #72
Bootstrap datepicker like below:
https://eonasdan.github.io/bootstrap-datetimepicker/

You can also find the timepicker on the same page. A different and convenient timepicker would be good :)

Datatables:
https://datatables.net

Integrating all the above libraries with tabler theme layout.

For Datepicker, you can decorate it with the layout of calender from your page:
https://tabler.github.io/ta

[2018-04-12 22:13] jonthomp commented on #53
@AaronCoplan ha yeah I've just been hammering through as I have a project in mind I would like to use it on. I'm not anti-flow, I just didn't put it in to start with, not sure why really. What are your thoughts on mine otherwise/structurally, how would you feel teaming up on it if I spent some time adding flow? @premedios same goes for you, feels a shame us all working on separate versions?

[2018-04-13 00:49] Nilpo commented on #53
@AaronCoplan I'm working on a Vue.js version.

@codecalm Can you make a tabler-vue repository?

[2018-04-13 03:38] AaronCoplan commented on #53
@jonthomp Same here, I'm also building it to use in a couple of things I'm working on.  I like the structure of your project, I've actually just finished restructuring mine in a way that actually makes it a bit more similar to yours.  I'd definitely be happy to collaborate to integrate our two repositories together!

[2018-04-13 07:06] codecalm commented on #53
done

[2018-04-13 08:56] jasl opened #83 "[Feature request] Left and right sidebar"
First, I must thank you all team members and contributors for the great work!

Here I have a feature request, there are many management systems, using left sidebar as navigation and right sidebar for some information show or navigation for the page, and they can be collapse, I think this is good for maximize space utilization of the page, especially for complex system.

Here are some samples.

![i

[2018-04-13 10:38] ghost opened #84 "Button's style different from Bootstrap 4 one."
I'm new to Tabler and Bootstrap. Maybe I'm writing nonsense.

In Bootstrap 4 site (http://getbootstrap.com/docs/4.1/components/buttons/) I have this **button's style**:

![image](https://user-images.githubusercontent.com/21275217/38730563-4b53dfbe-3f17-11e8-8c0b-9244055d0b0b.png)

Why in the Tabler site (https://tabler.github.io/tabler/docs/buttons.html) I have another button's style?

![tablerbut

[2018-04-13 11:26] jonthomp commented on #53
@codecalm thanks!
@AaronCoplan how would you like to go about it, shall I just port mine over to the new tabler-react repository?

[2018-04-13 11:43] icdindia opened #85 "List of deprecated tools"
Just forked and installed it and saw the following issues.
Any road map for an update?
`npm WARN deprecated gulp-util@3.0.8: gulp-util is deprecated - replace it, following the guidelines at https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5`
`npm WARN deprecated graceful-fs@3.0.11: please upgrade to graceful-fs 4 for compatibility with current and future versions of Node.js`
`npm WARN deprecated mi

[2018-04-13 11:43] KiarashS commented on #84
I agree with @johnunclesam

[2018-04-13 11:52] iamkallolpratim opened #86 "Feature needed: Sidebar"
Hi @codecalm  ,  Can you add a sidebar on this template

[2018-04-13 12:10] johnunclesam commented on #86
Please, PR.

[2018-04-13 12:18] m5o opened #87 "SVG Donut, Pie Charts and Line Charts without javascript dependency"
Hi @codecalm 👋

For rendering the satisfaction donut chart and all other charts a 3rd party js library is needed.
SVG Donut and also Pie Charts or Line charts could be easily rendered without javascript.

🍩 https://medium.com/@heyoka/scratch-made-svg-donut-pie-charts-in-html5-2c587e935d72
📈 https://codepen.io/team/css-tricks/pen/Zbervy
📊 https://css-tricks.com/how-to-make-charts-with-svg/

What do

[2018-04-13 15:06] lightyrs commented on #35
@beeman @codecalm Any interest in adding tabler-rubygem to the org? I'd like to do that for the sake of the ecosystem, especially since it's getting a lot of traction today from Product Hunt.

[2018-04-13 15:06] AaronCoplan commented on #53
@jonthomp You could do that!  I think something we should decide first is whether we (and other people who will be looking at / using this) want tabler-react to use flow or not - if not then I think it would be best for you to port yours in and I'll just keep my repository separate.  However, if we want tabler-react to use flow then I think we should come up with a better plan for merging our two

[2018-04-13 15:44] maracuja-juice commented on #53
That won't make it easier... especially for future users it's a lot better to have one repo with the official react components for tabler @roanvanbao

[2018-04-13 19:30] beeman commented on #86
Duplicate of #83

[2018-04-13 19:30] #86 closed

[2018-04-13 19:40] entoil commented on #84
It is different because this is Tabler, and not Bootstrap 4.

If you want Bootstrap 4 that looks like Bootstrap 4, you should use Bootstrap 4.
If you want Bootstrap 4 that looks like Tabler, you should use Tabler.

[2018-04-13 20:30] seleznevdev commented on #37
@LasseRafn It should be definitely Nicolas Cage

[2018-04-13 21:41] simonmilz commented on #79
+1

[2018-04-14 06:11] farhod111 opened #88 "Bootstrap's Custom File Input not showing selected file name"
When I choose file with fileinput it doesnt show me selected filename

[2018-04-14 10:50] Hoohaha opened #89 "Can i use this in my django projects?"
Looks like this is very nice. How can i integrate tabler in django template?

[2018-04-14 13:36] simioluwatomi commented on #72
You forgot to include [Select2](https://select2.org/) and [Typeahead](https://github.com/twitter/typeahead.js) in your list.

[2018-04-14 16:04] slavkobojanic opened #90 "Integrating into NodeJS/ExpressJS asset pipeline"
I’m having some issues with require.js in my expressjs environment, it seems to extend my public directory to the subdirectory of my application.

e.g. it’ll work if the current URL is localhost:3000/ but not on localhost:3000/dashboard/ since it’s trying to locate /dashboard/public/css rather than /public/css

![screen shot 2018-04-15 at 2 03 11 am](https://user-images.githubusercontent.com/91490

[2018-04-14 19:24] ghost opened #91 "[feature request] Forum"
Would be really cool if you can provide a forum layout on tabler theme.

Please see example site http://popforums.com/Forums
Where discussions are on a board then view topics for discussion and then view the post for the topic.

Visit the link you will understand what I mean.

[2018-04-14 21:58] mousaab1 opened #92 "How can I install/use it manually without Node/NPM ?"
Hi everyone

I've basic understadning of html/css/js, I know nothing about node or npm or ruby.
I just download the zip file and It seems hard to use it as I don't see css with each html file.

I get this error

`npm ERR! path /Users/x/package.json
npm ERR! code ENOENT
npm ERR! errno -2
npm ERR! syscall open
npm ERR! enoent ENOENT: no such file or directory, open '/Users/x/package.json'
npm ERR! e

[2018-04-15 00:10] jonthomp commented on #92
Hey @mousaab1 everything you should need you can find in the /dist folder, that contains all the html examples, css and javascript ready for you to use in your project.

All the node/npm/ruby stuff you mention is for if you want to actually contribute to this project and make changes to the source code to be released to the world which it sounds like you don't :)

[2018-04-15 03:34] emanuelmutschlechner opened #93 "Bootstrap integration"
Hi - I really like the look and feel of tabler!

Is there a specific reason for Bootstrap source code being in `src/assets/scss/dashboard/bootstrap`?

`src/assets/scss/bundle.scss` imports Bootstrap from `node_modules`. To ensure that the exact same package gets installed on every device I would suggest:

- use [Yarn ](https://yarnpkg.com) on top of npm. It creates a file called `yarn.lock`.
- or

[2018-04-15 05:05] deepak1725 opened #94 "Unable to run | Startup Error"
I am greeted with Error on first initial setup after all instruction well followed, :

`You have already activated public_suffix 3.0.2, but your Gemfile requires public_suffix 3.0.0. Prepending bundle exec to your command may solve this. (Gem::LoadError)`

Solved this by modifying `package.json`
"jekyll-serve": "bundle exec jekyll serve --livereload",

Kindly modify source code.

[2018-04-15 20:38] gnpretorius commented on #49
Also worth considering the tabs within the card according to [bootstrap 4 ](https://getbootstrap.com/docs/4.1/components/card/#navigation)

If you add them right now they look as follows
![image](https://user-images.githubusercontent.com/3989178/38783028-74d6d678-40f4-11e8-99cb-972715c3afe8.png)

The above design suggestion makes sense (highlighted tab is white with background tabs transparent (fo

[2018-04-15 21:26] ghost opened #95 ".dropdown-icon, middle, bottom, top or -1px."
[code]

I think this is a mistake. Because for example I'm using another icon system and I'm fine with, for example: `vertical-align: middle;`.

Am I wrong?

[2018-04-16 04:01] opgrsankkar commented on #90
This does not seem like a **`tabler`** related issue.
Plus you probably did not follow `require.js` recommendations, which ask you to include baseURL in the require config.
Please refer: [http://requirejs.org/docs/api.html#jsfiles](http://requirejs.org/docs/api.html#jsfiles)

I'm just a beginner. Please forgive if I overstepped or anything.

[2018-04-16 07:03] Eliepse commented on #88
It seems that this feature doesn't exist.
The way the file input is implemented doesn't allow to see the browser's default behaviour.
It has to be added with JavaScript.

[2018-04-16 07:15] codecalm commented on #93
hi @emanuelmutschlechner!
I don't have a lot of experience with npm, yarn, etc. I'm UI dev :D
I remove bootstrap from source code and move it to package.json
Check is it okay now, please. :)

[2018-04-16 07:25] #93 closed

[2018-04-16 08:32] codecalm commented on #89
Hi @Hoohaha!
we delivery only js and css/scss files, html files are only for demo, you can use tabler in your own way

[2018-04-16 08:38] wille-io opened #96 "User movable cards on a dashboard at any time (feature request)"
All cards on the tabler dashboard are currently statically placed. It would be very useful to have the user move their cards at any time. The layout should reorganise itself after or while moving cards around on the dashboard. So that overlapped cards move away from the spot where a different card is currently hovering to.

[2018-04-16 14:30] ghost opened #97 "Input loader icon."
Input loader icon.

Is there a way to have `loader` animation (the one in dimmer for example) also in an form input component?

There is not yet in the demo or am I wrong?

[2018-04-16 15:07] johnunclesam commented on #97
Maybe like this:

![image](https://user-images.githubusercontent.com/21275217/38817407-971943ac-4198-11e8-9335-481bd73a8b3f.png)

And in button like this:

![image](https://user-images.githubusercontent.com/21275217/38817435-a95ba30c-4198-11e8-9785-41c3f45fa1b9.png)

But I don't know how and where to push...

[2018-04-16 15:47] codecalm commented on #97
good idea! I'll check it

[2018-04-16 15:50] johnunclesam commented on #97
Maybe with animation changing from state to `loading` and not `loading`. But this is a NTH.

And maybe with some message in button, something like: "Saving O".

[2018-04-16 16:17] drale2k opened #98 "Dropdown in card as card-options visual issue"
Using a dropdown in cards as a card-options is broken. The down-arrow is not showing and the ::hover  background on items is overlapping. See Screenshot

<img width="272" alt="bildschirmfoto 2018-04-16 um 18 16 01" src="https://user-images.githubusercontent.com/271416/38821998-764b480a-41a2-11e8-8a65-a003ff673cc2.png">

[2018-04-16 16:32] drale2k opened #99 "Suggestion: Increase size of timeline-badge item"
I find it hard to distinguish between colors with the current size of timeline-badge items in timelines. I would like to suggest to increase the size to from 0.4375rem to 0.5375rem.

Before

<img width="113" alt="bildschirmfoto 2018-04-16 um 18 29 15" src="https://user-images.githubusercontent.com/271416/38822667-6ffbf88a-41a4-11e8-864d-d1746a8f0c87.png">

After

<img width="120" alt="bildschirmfo

[2018-04-16 17:34] Jaskaran12 commented on #99
i would like to solve this

[2018-04-17 05:55] Hameds opened #100 "Tabler nuget package"
I created a nuget package based on Tabler releases with sample layout based on Tabler empty page.
nuget package repo is here https://github.com/Hameds/Tabler and with appveyor build new versions will push to nuget.org automatically.
here is a nuget badge in case you want to add it in readme
[![NuGet](https://img.shields.io/nuget/v/Tabler.svg)](https://www.nuget.org/packages/Tabler/)

[2018-04-17 13:27] WashingtonMorais commented on #100
wow... awesome!

[2018-04-17 22:45] johnunclesam opened #101 "dimmer-content opacity"
It seems to me too much this:

![image](https://user-images.githubusercontent.com/21275217/38902648-aa452cca-42a1-11e8-9c61-930d9d545b24.png)

Maybe this is better `opacity: .4` ?

[2018-04-17 22:47] johnunclesam commented on #101
I made a PR just in case you agree.

https://github.com/tabler/tabler/pull/102

[2018-04-18 16:06] marcrib commented on #53
For vuejs use vuestrap and create others components using in tabler (eq card)

[2018-04-18 20:13] karlamieses opened #103 "TEST"
TEST

[2018-04-19 07:40] emanuelmutschlechner commented on #103
@karlamieses please close this issue if there is no real issue ;) thanks

[2018-04-19 07:53] #103 closed

[2018-04-19 13:16] SemKoolen opened #104 "'jekyll' is not recognized as an internal or external command,"
I am able to run jekylle from cmd with bash in an ubuntu environment but when i try to run the startup command from cmd i get this error.
I already tried to add bundle exec infront of the jekylle commands in package.json but this did not help as it just showed bundle not to be recognized

npm run serve

[15:13:29] Using gulpfile ~\Documents\GitHub\Tabler\tabler\gulpfile.js
[15:13:29] Starting 'sty

[2018-04-19 15:02] rtd62 commented on #72
For those needing to add DataTables - add the following lines to the files below (was actually way easier than anticipated):

**dashboard.js**

`shim: {
'datatables': ['bootstrap', 'jquery'],
},
paths: {
'datatables.net': "assets/jquery.dataTables.min",
'datatables' : "assets/dataTables.bootstrap4.min"
}`

**The file you're using the table in**
`<script type="text/javascript">
requirejs(["datatabl

[2018-04-19 15:50] rtd62 commented on #72
Actually, now that I mention it, I am missing something -- the tables are not responsive. Did anyone get a workaround for that?

[2018-04-19 20:14] rtd62 opened #105 "[Feature request]: Integrating multiple fonts to choose from"
I would love it if there was a way to choose different fonts for the overall system (perhaps on the fly). As much as I like `Source Sans Pro`, I'm more keen on using `Apple System`, so I fell back to that on purpose.

[2018-04-19 20:38] rtd62 opened #106 "[Feature request]: Standalone custom select input"
So I was looking over the form components and was in need of a standalone customized select drop-down menu. I don't know enough CSS to implement something like that of my own, so I thought I could bring it up to you guys. I see customized drop-down buttons that are attached to other text inputs, but I need it to be standalone.

[2018-04-20 03:36] beeman commented on #104
Hi @SemKoolen - have you tried the things explained on this page https://jekyllrb.com/docs/windows/ ?

[2018-04-20 09:31] fabiosussetto commented on #49
Using standard Bootstrap4 cart tabs:

[code]
and overriding this bit:

[code]

seems enough to make the card tab look nice:

![image](https://user-images.githubusercontent.com/103664/39043666-4b08a720-448e-11e8-89d3-01c9a7da4589.png)

[2018-04-20 15:09] ghost opened #108 "table-hover with table-striped, the latter wins!"
If I use `table-hover` **OR** `table-striped` at single time they work!

But using both together doesn't: `table-striped` wins!

Why? Bug?

[2018-04-20 16:57] rtd62 commented on #108
Those are just standard Bootstrap classes and should work together... that's strange. Perhaps it's a bug?

[2018-04-20 19:58] johnunclesam commented on #108
@rtd62 maybe in this code we need an `!important`. But I doubt this is correct.

[code]

[2018-04-20 20:30] rtd62 commented on #108
@johnunclesam I would just honestly use the `table-hover` class over anything else, but what I think you're going for is just simply the striped one... Not sure there is much to do on this one. Sounds like a bootstrap limitation and not Tabler.

[2018-04-20 20:35] guifelix opened #109 "Better file handeling"
It should be implemented a better file plugin, like [filepond](https://pqina.nl/filepond/) for example.

Here is an example that I did with some customizations:
![screenshot from 2018-04-20 17-31-27](https://user-images.githubusercontent.com/12631274/39072487-0cfa3452-44c1-11e8-8714-160ebd06dd10.png)

[2018-04-21 06:56] iMohammadd opened #110 "jquery $ selector not work"
hi
i write a simple script to select parent nav-item of a dropdown-item and set it active
[code]
but get this error
[code]

[2018-04-21 08:08] ChriStef commented on #110
You seem not to have loaded first the Jquery library. Make sure you included it before the call.

[2018-04-21 08:10] ChriStef commented on #109
It will be nice if you could commit the code. Looks good.

[2018-04-21 10:02] iMohammadd commented on #110
@ChriStef require.js is included on the head, i use blank page of tabler demo

[2018-04-21 10:37] tdtgit commented on #110
Did you put your code in `require` block? Just like this:

[code]

[2018-04-21 10:41] iMohammadd commented on #110
@tdtgit no, thank u

[2018-04-21 10:42] tdtgit commented on #110
Glad your problem solved.

[2018-04-21 10:46] tdtgit commented on #105
I think the better way is build with Gulp as the author put it in repository (gulpfile.js). You can edit you main font in [`_variables.scss`](https://github.com/tabler/tabler/blob/dev/src/assets/scss/_variables.scss) and build your own CSS.

[2018-04-21 13:16] ServerJunge opened #111 "Form Horizontal is not working"
Hi,

form horizontal does not work.  ##

Greetings Serverjunge

[2018-04-21 15:04] johnunclesam commented on #108
@rtd62 No. Because with Bootstrap I can use both together without problems.

[2018-04-21 15:27] tdtgit commented on #111
Can you more specific? In the [demo](https://tabler.github.io/tabler/form-elements.html), the horizontal field works well.

![screen shot 2018-04-21 at 22 26 55](https://user-images.githubusercontent.com/4527866/39085858-31738b42-45b3-11e8-8275-5ddb8ed9ad0b.png)

[2018-04-21 15:49] codecalm commented on #101
merged, thanks!

[2018-04-21 15:49] #101 closed

[2018-04-21 15:50] #110 closed

[2018-04-21 16:44] ServerJunge commented on #111
Hi,

shouldn't be the labels next to the input filed instead of above?

[2018-04-21 21:10] victorbueno commented on #35
kudos on tabler. Also kudos to @lightyrs on the rails gem.

[2018-04-21 22:13] simioluwatomi commented on #109
You could also share a codepen snippet

[2018-04-22 09:33] RALMAZ opened #112 ""Mark all as read" on focus"
![2018-04-22_12-33-04](https://user-images.githubusercontent.com/26162860/39093502-52a886c0-4629-11e8-8fa4-59ec190b884c.gif)

[2018-04-23 11:31] ghost opened #114 "Table-striped. The first tr is white instead of grey."
I think the first tr's background should be grey and not white, like the header.

Bootstrap 4.1 also is like my opinion: http://getbootstrap.com/docs/4.1/content/tables/#striped-rows

Is this my mistake?

[2018-04-23 16:09] ArgeniaP opened #115 "npm install error"
Hello, I found some error when I run `npm install`. And I take a screenshoot so you can see the problem.

![npm install error](https://user-images.githubusercontent.com/35943150/39138902-f889d0c2-474a-11e8-9d88-c12b65959070.png)

Sorry if this issue already in discussion

[2018-04-23 19:48] nimaen commented on #115
Hi, those are warnings, not error :)

[2018-04-24 02:05] ArgeniaP commented on #115
Sorry my fault, thank you :)

[2018-04-24 02:05] #115 closed

[2018-04-24 14:03] chrisbaswell commented on #111
@ServerJunge, the layout your looking for is created using the .row, .col-sm-2 and .col-sm-10 classes.  Since Tabler is based on Bootstrap, the code you posted from Bootstrap's site will give you the desired result.  There's just not an example of it in the the Tabler demo.

[2018-04-26 06:40] #112 closed

[2018-04-26 10:10] JamesLF opened #117 "Embedded SVG backgrounds don't work in Firefox"
Classes such as `selectize-control.single` and `custom-select` that use an SVG embedded background to render their dropdown indicator fail when rendered on Firefox. This is due to Firefox reading instances of `#` in the data-uris as the start of an anchor section and the end of the URI.

Replacing `#` with `%23` I found to be an acceptable work around, although for some reason it breaks the automa

[2018-04-26 11:46] rbqdev opened #118 "[Request] Please, add Modals/Dialogs component"
Hello Guys.
Please add a Modal/Dialogs components. I really think it's very important for the project.

Thanks

[2018-04-26 15:51] ServerJunge commented on #111
It does not work with the bootstrap code example.

https://i.imgur.com/HGflWMQ.png

[2018-04-27 05:25] jay-shah-rushiinfotech opened #120 "input:group Class with validation error not showing"
Form element which is within `input:group` class and have validation error message is not visible is hidden.
Please provide css which also able even nested group class

[2018-04-27 10:58] Clivern commented on #89
@Hoohaha it is easy to use tabler with django, i already started to use it on one of my projects. It is still in dev but tabular integrated with django
https://github.com/Clivern/Kevin/tree/issue/dev-%2326

[2018-04-27 20:55] chrisbaswell commented on #111
@ServerJunge you were right...I submitted a pull request that fixes this issue

[2018-04-29 10:29] NorthFoxz commented on #118
+1

[2018-04-29 15:33] DmytroLitvinov opened #122 "404 on notifications images from documentation"
Hi there.
At next url: https://tabler.github.io/tabler/docs/index.html the profile images for notifications are not working.
![image](https://user-images.githubusercontent.com/16066485/39408235-d7d55ea6-4bdb-11e8-8130-9dfc172106dd.png)

[2018-04-30 06:16] PolMrt opened #123 "Problem with footer"
When I was created a blank page, the footer doesn't put itself at the bottom of the screen. Nevertheless in the category page empty of the demo, the footer is good at the bottom of the screen.

![capture](https://user-images.githubusercontent.com/28253868/39416610-9e36b0fa-4c4e-11e8-99cb-0d77bff719c8.PNG)

[2018-04-30 06:36] PolMrt opened #124 "Problem with tags with icon"
The icon of the tag is not align with the tag.
![tags beug](https://user-images.githubusercontent.com/28253868/39416996-8d08feb6-4c51-11e8-932b-5cc53585befe.PNG)

[2018-04-30 19:29] lightyrs commented on #35
[tabler-rubygem v0.1.2](https://rubygems.org/gems/tabler-rubygem/versions/0.1.2) is now released.

[2018-05-02 19:15] Alinux61 opened #125 "Licence?"
We are going to use Tabler theme in this project, in addition we are planning to sell this product as a single on teda envato platforms. Can we use your name in readme file or documentations because of your theme is licensed with mit or what would you prefer ?

[2018-05-03 06:50] masihfathi opened #127 "how use selectize input ?"
How use selectize input ? (like Countries and Users list) ? any document for this type input?
Thanks

[2018-05-03 12:48] jonthomp commented on #127
I think that's outside the scope of this project?

[2018-05-03 12:51] jonthomp commented on #124
@PolMrt can you show us an example of the code you are using that causes this?

[2018-05-03 12:53] jonthomp commented on #123
@PolMrt you'll need to share a link to an example or your code so that we can try and see what the issue might be

[2018-05-03 14:13] avtara opened #128 "hy, i got an error in making a dropdown, can anyone help me?"
![image](https://user-images.githubusercontent.com/26185394/39581823-aba4fcf4-4f16-11e8-941e-42cd927019d4.png)
I can not create user dropdown menu

[2018-05-03 14:35] jonthomp commented on #128
@avtara can you include a link to an example or include some demo code so that we can see how you are trying to make the dropdown?

[2018-05-03 18:18] PolMrt commented on #124
`<div class="tags">
   <div class="tag tag-orange">
      Client potentiel
      <span class="tag-addon"><i class="fe fe-target"></i></span>
   </div>
</div>`

[2018-05-03 19:24] jonthomp commented on #124
Is there a chance that you are including some non-tabler bootstrap CSS? Would you be able to link to a demo page?

[2018-05-03 20:40] masihfathi commented on #127
thanks, i mean sth like https://tabler.github.io/tabler/docs/cards.html, which for example is in docs demo for using card.

[2018-05-03 22:20] jrcastro87 opened #129 "Require.js problem using jquery.validate"
hi, i want to use jquery.validate to validate forms but require.js doesn't allow it a gives me an error on the browser console, and nothin works anymore, and it works when i remove the script in wich i'm calling the jquery.validate.......also the same thing happend when i've tried to use select2 library

[2018-05-04 07:27] deliangyang opened #130 "[Request] Is there sidebar?"

[2018-05-06 15:46] nhim175 opened #131 "[Request] Sketch design file if possible"
In order for developer and designer to collaborate efficiently, I think we want to have a design file in whatever vector format (recommend .sketch). Thanks!

[2018-05-08 09:42] roybarber commented on #131
Id be open to working on this

[2018-05-08 09:49] roybarber commented on #130
https://tabler.github.io/tabler/profile.html

You could use the card style and the grid to create a left or right sidebar easy enough.

[2018-05-08 20:32] Mdevgaonkar commented on #131
Yeah that would be great. Count me in for any work on that

[2018-05-09 02:19] rtd62 commented on #125
Bump -- am using this in a couple projects myself. Would love to make the attributions if needed

[2018-05-09 04:26] twooclock commented on #129
jquery.validate works just fine. Note that when using require.js you shouldn't have any extra <script> tags in your page. Add scripts (jquery.validate.min.js) to dashboard.js instead:
[code]

Then use in any page as following:
[code]

You may also need to add some css error classes to be able to see validation errors.
Hope it helps.

[2018-05-09 07:58] dansen commented on #118
just add bootstrap.min.js in your page!and the modal will show.

[2018-05-09 08:59] #127 closed

[2018-05-09 10:49] roybarber commented on #131
@beeman yes please

[2018-05-09 14:38] erloncharlesbf opened #133 "Problem with Tooltip in Proigress Bar"
I need include tooltip in my progressbar, but that's impossible with your css file

[2018-05-09 17:13] trojano31 commented on #94
+1, this fix works for me as well

[2018-05-09 17:43] mohe2015 commented on #94
The second option is to bump the version in the Gemfile and run bundle update

[2018-05-11 08:19] skbakker opened #134 "Symfony"
how to use with symfony?

[2018-05-11 18:25] sriram301296 commented on #122
Bug Fix pending Pull request.

[2018-05-12 16:47] bloggervista commented on #83
I am hoping this feature get added soon :)

[2018-05-12 16:59] jasl commented on #83
BTW, I like Gitlab's, because I think that design is the most powerful one

[2018-05-12 20:29] pdawczak opened #137 "Problem with card footers within row-deck"
Hello,

I've experienced a problem with footers of the cards wrapped in `row-deck` class.

The problem is visible here:

<img width="958" alt="2018-05-12_2102" src="https://user-images.githubusercontent.com/601110/39961269-8d98cd06-562a-11e8-94a9-956d6d6e6ce2.png">

Example code to reproduce is:

[code]

I would imagine, in this case, it's the middle element that should be stretched in order to ma

[2018-05-14 22:57] lcherukuri opened #138 "Anyone using this library in your project? If so, How?"
How to add this library to my existing project? Is there something like npm/bower dependency that I can add? or is there a cdn that I can put directly in my index.html page? My project uses grunt.js. So how to use this with Grunt? The installation documentation did not answer any of those questions.

I am looking for a documentation that says something like, install this library in your project or

[2018-05-15 07:03] pdawczak opened #139 "Clickable card?"
I've checked the documentation for the cards, and there are examples with links inside the card, but in my case, I wanted to make the whole card clickable:

[code]

Unfortunately, it overrides the default text styles inside the card, so it looks like:

<img width="947" alt="2018-05-15_0759" src="https://user-images.githubusercontent.com/601110/40041564-5856454a-5816-11e8-8aee-2f6e9d1e10ee.png">

i

[2018-05-15 20:06] beeman commented on #131
@roybarber I just saw your response. I create a [new repo here](https://github.com/tabler/tabler-sketch) and you should have an invite!

Closing this issue to the convo can be continued there :-)

[2018-05-15 20:06] #131 closed

[2018-05-16 22:32] beeman commented on #53
@Nilpo not sure if you are still working on a Vue integration, but just as a heads-up, there are people asking for it here https://github.com/tabler/tabler-vue/issues/1

Closing this issue as all integrations have a repo now. If not, give me or @codecalm a ping and you will get one!

[2018-05-16 22:32] #53 closed

[2018-05-16 22:34] beeman commented on #125
As @gonsalu says it's MIT licensed. You don't have to publicly mention you used Tabler but it's of course welcome to do so.

MIT requires that you leave the copyright and license info intact in the code, but does not require anything in the public part (or: derived product) of the project.

[2018-05-16 22:34] #125 closed

[2018-05-18 21:47] AnandChowdhary commented on #109
You can also checkout Uppload for file handling: https://github.com/elninotech/uppload

[2018-05-21 17:48] vshelke commented on #138
Hi @lokeshcherukuri , You can use my repo for stripped version of tabler directly. [tabler-static](https://github.com/vshelke/tabler-static)

[2018-05-21 17:53] lokeshcherukuri commented on #138
@vshelke Thanks. You saved a lot of time man. I hope you repo all components that tabler has

[2018-05-22 06:52] vshelke commented on #138
@lokeshcherukuri i have just stripped a few icons which i removed to reduce the overall size of the assets. If you want them you can simply copy the tabler.css from main repo and images folder. It will work with the same config in existing [tabler-static](https://github.com/vshelke/tabler-static) repo

[2018-05-22 07:04] deliangyang commented on #130
thk

[2018-05-22 14:00] Mukeshgarg1984 opened #140 "bundle install"
Unable to load the EventMachine C extension; To use the pure-ruby reactor, require 'em/pure_ruby'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/eventmachine-1.2.5-x64-mingw32/lib/rubyeventmachine.rb:2:in `require': cannot load such file -- 2.4/rubyeventmachine (LoadError)
        from C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/eventmachine-1.2.5-x64-mingw32/lib/rubyeventmachine.rb:2:in `<top (required)>'

[2018-05-22 14:01] Mukeshgarg1984 opened #141 "Unable to load the EventMachine C extension; To use the pure-ruby reactor, require 'em/pure_ruby'"
Unable to load the EventMachine C extension; To use the pure-ruby reactor, require 'em/pure_ruby'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/eventmachine-1.2.5-x64-mingw32/lib/rubyeventmachine.rb:2:in `require': cannot load such file -- 2.4/rubyeventmachine (LoadError)
        from C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/eventmachine-1.2.5-x64-mingw32/lib/rubyeventmachine.rb:2:in `<top (required)>'

[2018-05-23 02:54] cyberflamingo opened #142 "Web Accessibility of the dashboard"
Disclaimer: I'm not what would be considered impaired nor a web accessibility expert but I have bad eyes.

First of all, great dashboard! I'm sure we will see it pop up here and there in different projects.

More to the point, I was concerned about the web accessibility of this dashboard. Overall I was agreeably surprised but I think there are area where we could make it a little bit better.

I am

[2018-05-26 14:12] ansien12 commented on #138
@vshelke This is amazing! Tabler desperately needed to have a version like this.

[2018-05-29 15:44] ckissi opened #143 "Outline color for anchors in safari"
Is there a way to completely remove outline color for some of the links in Safari?

<img width="204" alt="tabler github io - a responsive flat and full featured admin template 2018-05-29 17-41-27" src="https://user-images.githubusercontent.com/5107590/40669715-dc76f0ac-6367-11e8-9688-d4b82d658fce.png">

[2018-05-30 07:23] TongDaDa opened #146 "Can I use it to do？"
Just look at it official introduction, I think it can be said to be an HTML template system, But it was no advantage for the Vue or React, if full rendering HTML page, they can also do SSR, please tell me, when building web applications, the difference between this project and other framework implementations?Don't only applies to a single page?

[2018-05-30 21:15] craigrusgrieve opened #147 "Mobile Devices Dropdown border incomplete"
Hi,

For tablet and mobile devices, in the drop-down main menu, the links on active and hover have varying border highlight lengths.

I've had a play and I think removing line 11599 from dashboard.css
`display: flex;`
will even up the bottom border highlight.

See image below:
![tabler-git-issue-flex](https://user-images.githubusercontent.com/34915860/40747981-ef50cbcc-6456-11e8-8178-e3162651b985.

[2018-05-30 22:19] craigrusgrieve commented on #139
A quick dirty fix you could try is adding:
`style="text-decoration:none; color:#495057;"`
to the:
`<a href="#">`

So you get:
`<a href="#" style="text-decoration:none; color:#495057;">`

[2018-05-31 16:42] ckissi opened #148 "Table overflow in Safari when open popup menu"
When I open popup menu in table there is an overflow in Safari (both x + y)
<img width="509" alt="table overflow" src="https://user-images.githubusercontent.com/5107590/40795426-5a30bd34-6502-11e8-8e5a-f059c4657473.png">

[2018-06-03 17:34] tanepiper commented on #64
Hi there @codecalm is there any news on this?  I'd love to use Tabler on Stackshare as it allows URLs to static resources and ideally that would be on a CDN.

[2018-06-05 13:06] lupuxyz commented on #146
传统的 MVC 用这种静态模版不是美滋滋吗？为什么非要给你们集成 VUE 或者 React ？而且你完全可以自己去做这方面的事情，要 SSR 也好，要 SPA 也好，你都可以自己去实现。

[2018-06-05 14:56] TongDaDa commented on #146
不是集成 VUE 和 React, 在传统的MVC上的项目使用它或者本身项目就是特别简单的展示型页面是可以用的再就是一些极其简单的活动页面了，貌似只有这几种情况，我想不出其他的使用场景，另外，还有一个地方我没听懂，我为什么要自己去做实现这方面的事情(ssr spa)自己玩有什么优势吗？？？

[2018-06-05 16:48] #146 closed

[2018-06-05 19:26] bloggervista opened #149 "[Question]Is this project active?"
Just wanted to know whether the project is being maintained or not :)

Thanks

[2018-06-05 19:36] beeman commented on #149
Hi @bloggervista, check the state of the [contributors](https://github.com/tabler/tabler/graphs/contributors) and make your judgement based off that.

[2018-06-05 19:39] bloggervista commented on #149
I checked thats why may be many core contributers are busy and lot of prs
etc

On Wed, Jun 6, 2018, 1:21 AM Bram Borggreve <notifications@github.com>
wrote:

[2018-06-06 07:54] codecalm commented on #149
Hi guys, I'm changing my job and I have a lot of things to do. Next week I will have a lot of free time again so be ready for new commits

[2018-06-06 07:55] #149 closed

[2018-06-07 11:52] lucasmaldonado commented on #72
@codecalm Hello, what is the status of the datepicker?. It is highly needed. I went to check the new inputs http://tabler.codecalm.net/new-inputs/form-elements.html but the datepicker is not working.

Thank you very much!

[2018-06-07 13:55] pdawczak commented on #139
Great! Thanks for your help @craigrusgrieve!

[2018-06-09 21:18] snipe commented on #42
@roanvanbao Hey there, sorry to frankenthread!

Can you tell me how this would be integrated into a Laravel project? I don't see any related vendor files to publish, so I'm not exactly sure how to make this work. I've been (very messily) trying to manually integrate it with app.js and bootstrap.js from the out of the box Laravel 5.6 install, but it's going pretty badly, since they both use bootstr

[2018-06-10 02:06] roanvanbao commented on #42
@snipe You can use it. https://packagist.org/packages/pingecom/l5-tabler

[2018-06-10 12:33] gnpretorius commented on #149
Cheers @codecalm

Let us know if we can help :)

G

[2018-06-11 17:29] rlightner opened #150 "Update feather webfont to latest"
Feather Webfont is missing a few icons

[2018-06-12 14:04] twf-nikhila commented on #138
@vshelke @lokeshcherukuri anyone already using this in live projects?

[2018-06-12 17:49] vshelke commented on #138
I have used this in my college project which you can find [here](https://github.com/vshelke/agrowell). Its a django based project. @twf-nikhila

[2018-06-12 20:27] #139 closed

[2018-06-12 21:15] dmarman commented on #148
Same in Chrome:

<img width="951" alt="screen shot 2018-06-12 at 23 14 27" src="https://user-images.githubusercontent.com/19510612/41317783-87d35a2e-6e96-11e8-93b8-52355e3e6c07.png">

[2018-06-12 22:22] ckissi commented on #148
@dmarman in dashboard.css on line 2996 there is a
[code]
When I comment out this , it works.
Let me know if it works for you.

[2018-06-13 07:10] yh0438 opened #151 "Problem with list view in safari"
I accessed from safari of mojave. When you view the list view, when you select additional options, the list view moves or the width changes.
file is video for understanding my issue.

[1111.mp4.zip](https://github.com/tabler/tabler/files/2096935/1111.mp4.zip)

[2018-06-13 07:39] ckissi commented on #151
Already reported [here](https://github.com/tabler/tabler/issues/148).

Please try my temporary fix mentioned and let me know if it works for you or you experienced some other issues.

[2018-06-13 08:14] yh0438 commented on #151
do you have another way for solving this problem?
this way is all okay except full screen mode.

[2018-06-13 08:38] ckissi commented on #151
Not yet, sorry. Hopefully, @codecalm will fix it soon.

[2018-06-13 22:33] dmarman commented on #148
Worked like a charm! Did you find any side effect?

<img width="961" alt="screen shot 2018-06-14 at 00 33 20" src="https://user-images.githubusercontent.com/19510612/41382033-95e327e6-6f6a-11e8-91f2-e943b2bf286b.png">

[2018-06-13 23:52] RogerioCarbonera opened #153 "Not Responsive when viewed in mobile"
Hello
I don't know what am I doing wrong, but tabler is not working when I access it from a mobile. When I use a mobile's browser simulator it works fine.
When I use purely use the tabler's dist, it works normal.
What am I forgetting ?

[2018-06-16 09:03] mayank2yk opened #154 "Please remove or add correct file path as file not found in current path"
https://github.com/tabler/tabler/blame/748028000ba6603090c1f5a741e906b59ed934b2/dist/login.html#L46

[2018-06-17 13:38] IbidunO commented on #87
Those resources are seem very useful.

[2018-06-18 22:10] paulocastellano commented on #118
+1

[2018-06-19 04:07] hamada147 opened #155 "Unable to load the EventMachine C extension; To use the pure-ruby reactor, require 'em/pure_ruby'"
I'm using Ruby v2.6.14.1 provided by this command gem -v

I've followed all the instruction provided in the documentation but I'm unable to figure this one.
First I faced some issues because I had two version of a couple of ruby libraries, so I uninstalled them then installed the specific version required.
After fixing this issue I got this one which I'm kind of lost and I don't really get why it

[2018-06-19 07:14] jay-shah-rushiinfotech opened #156 "Card Action Not Responsive"
Card Actions are not responsive. Buttons are not properly arranged.

[2018-06-19 15:44] RishabhSinghShekhawat commented on #153
hello Rojerio,
yes it will only work on desktop view. Working to solve this.

[2018-06-19 15:47] RishabhSinghShekhawat commented on #118
Alright. Will do it.

[2018-06-19 21:20] alejandrofloresm commented on #88
Has there been any update on this?

[2018-06-19 22:08] lokeshcherukuri commented on #138
when I placed tabler CSS files in my project, all my existing layout, color, fonts got overridden. Then I have to change a lot of my own CSS again. So I decided not to use this. Unless you are starting a new project, I don't think this library work well with existing projects.

[2018-06-20 10:09] tw88 commented on #134
Just use the /dist folder and create your templates

[2018-06-20 12:16] vshelke commented on #138
@lokeshcherukuri i have made a stripped out version of the existing tabler.css which does not support icons, plugins and require.js support. So for existing projects you can directly copy the original tabler.css and it should work fine. And if you are looking for JS support too then you can directly use the orignal tabler files.

[2018-06-20 12:21] yonimoses opened #157 "RTL - any chance of getting the css for specific changes ?"
I've downloaded and saw the .rtl.css version.. is there a scss for it?
only for RTL changes

Cheers

[2018-06-20 12:33] yonimoses commented on #157
So, from what I saw, you're using RTLCSS in the gulp.. so I guess I'll just need to go over the file and delete the duplicates? can you point me in some direction I won't have to work soooooo hard ? ;)

[2018-06-22 12:14] codecalm commented on #156
@jay-shah-rushiinfotech can you show any screenshot?

[2018-06-22 12:15] #154 closed

[2018-06-22 12:44] jay-shah-rushiinfotech commented on #156
In Advanced Card section there is option for buttons.

If we add more buttons like 4+.

Then design doesn't look proper.

Buttons should be stacked from new row.

[2018-06-22 12:45] codecalm commented on #156
@jay-shah-rushiinfotech in this situation dropdown should be better instead of 4 buttons :)

[2018-06-22 12:46] jay-shah-rushiinfotech commented on #156
![screenshot from 2018-06-22 18-10-05](https://user-images.githubusercontent.com/26960005/41777260-5d1cb2a8-7648-11e8-9cfd-498104442d3f.png)
![screenshot from 2018-06-22 18-14-40](https://user-images.githubusercontent.com/26960005/41777264-5f46b3ee-7648-11e8-9f3e-8e9405993df7.png)

[2018-06-22 12:47] jay-shah-rushiinfotech commented on #156
Ok

[2018-06-22 12:49] jay-shah-rushiinfotech commented on #156
But not good for desktop preview.
For that we have to show or hide or manage for different display.

[2018-06-28 10:40] paicha commented on #34
@drale2k Any updates about import tabler in webpack?

[2018-07-02 12:34] drale2k commented on #34
@paicha I am using this gem now https://rubygems.org/gems/tabler-rubygem

[2018-07-03 21:21] amonzer opened #159 "Why I can't use Datatables with Tabler?"

[2018-07-03 21:45] amonzer commented on #159
I tried the solutions inside this issue [https://github.com/tabler/tabler/issues/72](url) but it still does not work.
But when I try to unload the require.min.js file everything work very well

[2018-07-04 07:16] pereiraryan opened #160 "Local setup not working as per the documentation."
I am trying to set up a local instance of this project. While running the command to start the dev server i get an error.
My environment details are :  `npm -v : 6.1.0`  `node -v : v8.11.3`

the error thrown on the terminal is

`> tabler-ui@0.0.32 serve /var/www/html/gatsby/tabler

assert.js:42
  throw new errors.AssertionError({
  ^

AssertionError [ERR_ASSERTION]: Task function must be specified

[2018-07-04 11:40] amonzer commented on #159
I am sorry to say this Tabler waste my time

[2018-07-06 14:54] isneezy commented on #97
I've noticed that this theme uses selectize.js and actually selectize.js adds a `.loading` class when doing ajax requests, but while i was using it with this theme it wasn't showing the loader/dimmer animation.
I think the @johnunclesam idea is great since it will integrate with the selectize.js too.

[2018-07-07 22:03] lightyrs opened #161 "Is this repo dead?"
Doesn't seem to be much activity here. As someone invested in tabler (https://github.com/lightyrs/tabler-rubygem), I would be grateful to hear of a status update from the devs. Is this still being actively developed and/or maintained?

[2018-07-07 22:04] lightyrs commented on #161
cc @codecalm

[2018-07-09 17:22] bloggervista commented on #161
He says he will work after week. I guess this repo need maintainers :)

[2018-07-09 17:24] bloggervista opened #162 "Where is this variable defined?"
https://github.com/tabler/tabler/blob/64249b0c4b90d348b7ff52a9ea5ebd63354752e9/src/assets/scss/dashboard/_cards.scss#L366

It is showing me that this variable don't exist in webpack. How to solve this issue?

[code]

[2018-07-09 18:24] bloggervista commented on #162
Sorry it came from bootstrap

[2018-07-09 18:24] #162 closed

[2018-07-09 18:25] shirshak55 opened #163 "using webpack instead of gulp | grunt?"
I guess webpack or parcel is ruling these days so I think we need to make it webpack version isn't it?

This is feature request 👍

Thank You for this awesome stuffs

[2018-07-12 08:30] thlbaut commented on #153
Any news ? 😀

[2018-07-14 09:27] jaydeepakbari opened #164 "How to create 3-4 level menu"
Hello,

I want to add multi level menu on top header

[2018-07-14 15:46] LordSimal opened #165 "/dist/faq.html missing"
There is a link to a /dist/faq.html page in the footer, but it is missing in the /src and /dist folder.

Is there an example page for FAQs (with accordions or something like that), or is the link in the footer obsolete?

[2018-07-16 01:43] asiz15 opened #166 "add js file"
What is the correct way to add js code?

[2018-07-16 13:23] tchaguitos commented on #127
hey, @masihfathi!

[code]

[2018-07-17 13:30] RogerioCarbonera commented on #153
I found the problem.
Unfortunately , i forgot to put the meta tags inside the HEAD.
After this, it works perfectly.
We can close this issue.

[2018-07-17 13:30] #153 closed

[2018-07-18 07:58] tpaksu opened #167 "Bootstrap modal close button shows twice"
Hi, I can fix this problem but I wonder what's the correct way of doing this.

When I open a bootstrap modal on this template, it shows like this:

![image](https://user-images.githubusercontent.com/3295/42867830-62392cd6-8a79-11e8-9ec2-3048c8034dd5.png)

Because of this code:

[code]

The fix I think of is:
[code]

Am I thinking correctly?

[2018-07-18 09:17] milosmatic commented on #131
We, at [30Hills](http://30hills.com) have created Tabler Sketch file with all controls and screens.

Here is the download link:
[http://30hills.com/tabler/tabler-ui.sketch-20180718.zip](http://30hills.com/tabler/tabler-ui.sketch-20180718.zip)

We will also make a PR to include this file into this repo.

[2018-07-18 10:31] roybarber commented on #131
@milosmatic you will need to create a PR on this repo: https://github.com/tabler/tabler-sketch

Before then could you tidy up the Symbols?:

<img width="629" alt="screen shot 2018-07-18 at 11 30 03" src="https://user-images.githubusercontent.com/2923782/42876279-118dd002-8a7e-11e8-8f18-906cb0eb17cb.png">

[2018-07-18 10:56] milosmatic commented on #131
@roybarber I don't have permission to push to this repo and repo cannot be forked because it's empty.

[2018-07-18 10:57] roybarber commented on #131
@milosmatic you should be able to fork now.

[2018-07-19 07:03] drale2k commented on #161
Typical risk with open source projects. You work on them if and when you can since they don't pay the bills. I hope the repo will find some maintainers since the theme is awesome but really needs some fixes and update (like support for vertical navigation, proper tabs in cards).

Fingers crossed

[2018-07-19 09:31] codecalm commented on #161
Hi guys, I am sorry that I am not active in this project. I changed my job this month, and I don't have too much time to improve tabler. I have a lot of ideas, but day had only 24 hours. I did not expect such interest of this project, I know you have expectations from my side.
If there is anyone who would like to help me continue to develop this project on a regular basis I will be very happy.

[2018-07-19 09:54] shirshak786 commented on #161
@codecalm  I am ready to help but only after exams which should be finished within 15 days :)

[2018-07-23 07:24] azarezade opened #171 "using tabler in python flask"
Is there a simple/clean way to use this dashboard in python flask.
Since python flask/Django use jinja for templating, is this bootstrap template can be converted to python-flask ready template, can somebody give a hint to do this.
thanks

[2018-07-27 03:58] Alanaktion commented on #7
I've made a derivative project based on this called [proboot](https://github.com/Alanaktion/proboot), which might cover your use case. It's a stripped down version that only includes the SCSS, designed to be easier to integrate into standard Bootstrap 4 projects. I'd love to see this project more cleanly installable as a dependency eventually, but for now this was my solution.

[2018-07-30 03:39] ashkanak opened #172 "Are you using Chartjs.com"
I am trying to use Stacked Area chart just like the following link but I can not get it right:
http://www.chartjs.org/samples/latest/charts/area/line-stacked.html

How do you suggest to accomplish this tiny task?

[2018-07-31 10:13] SalilLambe opened #173 "changes getting vanished on a new build"
I understand that this is stated " all changes made in _site/ folder would be overwritten on application build. " but how can i make sure that the changes I did will be saved permanently.

[2018-07-31 13:04] ianhayes commented on #173
@SalilLambe the `_site` folder is the compiled code, which is why it changes on each build. All changes to the `src` will not be deleted and will get compiled to the `_site` folder on each build.

[2018-08-01 02:30] BigChief45 commented on #64
If minified CSS and JavaScript files could be distributed through a CDN that would be wonderful!

[2018-08-02 13:30] tonystatic opened #174 "Compile js into one file with gulp (?)"
Hi,

I was going to use tabler template for my project and I'm trying to adapt it for my needs. My idea was to store all raw assets (tabler's `src` folder contents) in my `resources/assets` directory and use gulp to compile / move them to `public/assets`. While it's completely OK with styles, I am having some doubts about it being possible with js, because all the js assets are adapted for require

[2018-08-02 19:44] cserko93 opened #175 "dropdown doesnt work"
I downloaded your pack from github then i upload it. When is try it on my website dropdowns and others doesnt work. When i try fix it i need to add bootsrap.min.js but the theme get wrong.

[2018-08-03 13:43] samayo commented on #175
This is most likely an issue from your side or the way you installed and configured the sites. At least test the template on your local, if it works then start investigating the issue from there.

[2018-08-03 16:31] cserko93 commented on #175
its working on my localhost (xampp). **Thanks**

[2018-08-03 16:33] samayo commented on #175
The the problem is not from this library. Inspect your console on your browser from your prod server

[2018-08-04 21:47] hendrikschneider commented on #89
just drop the assets from the dist folder in the static folder and you are good to go.

[2018-08-06 16:55] cserko93 commented on #175
What could be the problem? what is the reason of the problem?

[2018-08-07 21:29] Prakkkmak commented on #104
Same here

[2018-08-08 15:52] cserko93 commented on #175
console shows this for me:

assets/js/vendors/bootstrap.bundle.min.js:6 Uncaught SyntaxError: Invalid or unexpected token
core.js:23 Uncaught TypeError: $(...).tooltip is not a function
    at HTMLDocument.<anonymous> (core.js:23)
    at i (jquery.min.js:2)
    at Object.add [as done] (jquery.min.js:2)
    at n.fn.init.n.fn.ready (jquery.min.js:2)
    at core.js:18
index.html:326 Uncaught TypeErro

[2018-08-08 17:45] samayo commented on #175
You need to include/import jquery error: `Uncaught TypeError: $(...).tooltip is not a function` means, jquery is probably not included or initialized

[2018-08-11 21:55] ItStark commented on #160
try `gem install jekyll bundler` and restart prompt as administrator, worked for me

[2018-08-11 22:11] ItStark commented on #160
Try  `gem install jekyll` bundler and restart prompt as administrator then `npm run serve`  worked for me.
If this not works too, uninstall eventmachine `gem uninstall eventmachine` ,
finally install it again `gem install eventmachine --platform ruby` and `npm run serve`, it most probably will work.

[2018-08-11 23:39] JayaGaut commented on #161
@codecalm Hey, I am a Front-End developer and would like to be a maintainer for this project. Thanks

[2018-08-12 17:42] farhanm97 opened #177 "How to incluse a WYSIWYG editor script"
Hi all, i'm trying to create a rich text editor using summernote, but when i include the script in the header and call the script with require.js, it just didn't work.

[2018-08-13 12:48] neloaguila commented on #160
I had the same error and did what @ItStark suggested. Still not working. Same error still arise.

[2018-08-13 13:04] tanshiqi commented on #79
+1

[2018-08-15 07:32] gotounix opened #178 "Dropdown button can't display in table while just have one row"
![123](https://user-images.githubusercontent.com/18606632/44136709-588a6e38-a0a0-11e8-8d7a-a0e17866b5c9.png)

[2018-08-15 20:59] imamdigmi opened #180 "Add Polyfill.js"
How I can add polyfill.js to work together with Tabler?

[2018-08-15 21:04] imamdigmi commented on #166
Lets say you want to add your own js file e.g `app.js`:
add app dependency in shim and register the app.js path to `paths`

[code]

and add `app` to array  in
`require(['core', 'app']);`

it wotks for me

[2018-08-17 18:51] #177 closed

[2018-08-20 11:01] macagoraga commented on #175
Seem like is missing Popper.js

[2018-08-21 09:17] shirshak55 commented on #180
is there any problem while using polyfill js?

[2018-08-25 09:54] DMW007 commented on #161
@codecalm "continue to develop this project on a regular basis"
Does this mean that you're planning a completely move to Angular? I recently started using Tabler with ASP.NET Core...

[2018-08-27 09:24] Excone opened #182 "Single row table dropdown menu issue"
When there is only 1 row in the table, the action menu is not usable. Table layout is also corrupted in this situation, until the dropdown menu is closed.

[2018-08-29 07:45] akifyanbak commented on #118
+1
with fade effect please

[2018-08-30 12:48] danieljsc opened #183 "Bootstrap Modal and Other Elements ARIA duplicating elements on page"
Hi,

I have been using Tabler for developing, and adding some non existent elements in the default template (bootstrap-modals, select2, bootstrap-notify).

I have been noticing some weird behaviours with elements that should not be visible to the user. Perhaps, in the modal header, where bootstrap documentation shows:
`<div class="modal-header">
        <h5 class="modal-title">Modal title</h5>

[2018-08-30 19:23] thiagorp opened #184 "Strategy"
First of all thank you very much for the effort put into this project 😄

My question is about the plans for the future of the project. Do you plan to add more components or examples? Is there some sort of Roadmap?

Thank you very much.

[2018-08-30 20:11] narwy opened #185 "Dropdown Styling"
When you press a dropdown option in the menu bar it goes grey same colour as the background, looks off?

[2018-08-30 20:13] ZeoNish opened #186 "Actions dropdown error"
Click
![image](https://user-images.githubusercontent.com/8596319/44876626-4b260200-acaa-11e8-9457-624419f8e98c.png)

Error
![image](https://user-images.githubusercontent.com/8596319/44876641-524d1000-acaa-11e8-8613-48c39ca29056.png)

[2018-08-30 23:12] #185 closed

[2018-08-30 23:13] narwy commented on #185
Updated with new version.

[2018-08-30 23:14] narwy commented on #186
I can confirm this is an error from a clean version.

[2018-08-30 23:18] narwy commented on #186
@ZeoNish  - Looks like `dropdown-menu` is missing you will need to add that inside the `dropdown` class.

[2018-08-31 05:56] ZeoNish opened #187 "Changes in the row height in the table when calling the drop-down list"
Click
![image](https://user-images.githubusercontent.com/8596319/44895109-87358300-acfb-11e8-925d-ad67fe1380ce.png)

Look at the last row of the table.
![image](https://user-images.githubusercontent.com/8596319/44898567-f913c980-ad07-11e8-88aa-bf9440dd55eb.png)

 It's changing.
![123](https://user-images.githubusercontent.com/8596319/44895091-6a994b00-acfb-11e8-83aa-e4c9d4d03525.gif)

[2018-08-31 06:43] codecalm commented on #184
Hi @thiagorp
I'm working on Tabler 1.0 version. Probably will be published until end of this year. New Tabler will be with dark theme, light/dark sidebar and with many, many improvements :)

[2018-08-31 06:44] codecalm commented on #118
Modals/Dialogs will be in Tabler 1.0 version. Probably until end of the year.

[2018-08-31 07:44] codecalm opened #188 "Datepicker for Tabler"
I'm working of new version of Tabler, I am at the stage of choosing a datepicker.
Which one do you recommend?

Requirements:
- a lot/no dependency
- customizable
- many features (datepicker, timepicker, date/timepicker, etc)

I am asking for suggestions in the comments

[2018-08-31 07:44] #161 closed

[2018-08-31 07:45] #166 closed

[2018-08-31 07:51] thiagorp commented on #184
@codecalm thanks a lot!

Just to share my use case and feelings: tabler has the highest quality among the templates I found. Considering paid and free ones. I tend to bootstrap a few projects but, even though I don't have any problems writing frontend code when it comes to designing things I suck. So having blocks that I can put together help VERY MUCH. That's why the most number of examples of wh

[2018-08-31 09:39] workgena commented on #188
I always struggle finding good picker with range.

I find the [Google Analytics](https://www.michaelwhitaker.com/2011/05/31/comparing-future-date-ranges-in-google-analytics/) datetime-picker user-friendly.

![img](https://www.michaelwhitaker.com/figs/uploads/2011/05/compare_to_past.png)

[2018-08-31 09:40] workgena commented on #188
Pick ranges is common usecase for Admin-panels (dashboard, etc.). when you need filter some records by date period.

[2018-08-31 12:31] ZeoNish commented on #188
https://felicegattuso.com/projects/datedropper/

[2018-08-31 15:07] workgena commented on #188
**datedropper** looks fantastic.

But according to [guthub repo](https://github.com/felicegattuso/Datedropper3), last update was in 2017, and it has problems with [accessibility](https://github.com/felicegattuso/Datedropper3/issues/82) and some more :disappointed:

[2018-08-31 15:36] ZeoNish commented on #188
I'm offering the best option that exists, that's all.

ps. Let the guys decide what they need in the project.

[2018-08-31 17:02] akifyanbak commented on #188
Semantic UI Calendar can be adding with customizing.
https://github.com/mdehoog/Semantic-UI-Calendar

[2018-09-01 06:00] coding-sunshine opened #189 "Full Calendar"
I was just checking the code and saw there the full Calendar plugin is available in dev version, but couldn't find any example use. Can you please suggest?

[2018-09-01 13:59] alexjustesen commented on #188
When it comes to a jQuery (assumption is jQuery will be a dependency) my go to has been https://github.com/xdan/datetimepicker

As for a vanilla js / light weight implementation it's been https://github.com/flatpickr/flatpickr

[2018-09-02 12:35] alex-oleshkevich commented on #184
@codecalm, it would be nice to have a roadmap\overview of upcoming changes, new components and blocks.

[2018-09-02 23:17] narwy commented on #188
`type="date"` no datepicker needed.

[2018-09-04 15:48] Isstum commented on #189
Sign!

[2018-09-06 12:22] MarcusMann opened #190 "Inbox page"
I think should has 1 page for `inbox`, cause there is emails page.

[2018-09-07 17:34] ZeoNish opened #191 "Suggestions for the use of libraries."
jQuery lightgallery - http://sachinchoolur.github.io/lightGallery
WYSIWYG editor - https://alex-d.github.io/Trumbowyg
Plyr player  (Video,  Audio,  YouTube and Vimeo) - https://plyr.io

ps.  Good luck to your wonderful project !!!

[2018-09-07 17:46] ZeoNish opened #192 "Drop down css bug ?"
![image](https://user-images.githubusercontent.com/8596319/45234652-15eb6680-b2df-11e8-8825-53d731a1a9a0.png)

![image](https://user-images.githubusercontent.com/8596319/45234692-2b609080-b2df-11e8-8780-6210400df92b.png)

![image](https://user-images.githubusercontent.com/8596319/45234705-31ef0800-b2df-11e8-9595-e2cd2cc7036d.png)

[2018-09-07 17:56] ZeoNish commented on #192
![image](https://user-images.githubusercontent.com/8596319/45235107-7dee7c80-b2e0-11e8-9a36-73f17b067d01.png)

[2018-09-07 17:56] #192 closed

[2018-09-08 16:06] ZeoNish opened #193 "Update Font Awesome"
https://fontawesome.com/changelog/latest

now Version 5.3.1 or specify what to look for the documentation for the version of Font Awesome 4.7.0 https://fontawesome.com/v4.7.0/

[2018-09-08 16:21] ZeoNish opened #194 ""Mark all as read" click color micro bug?"
click
![image](https://user-images.githubusercontent.com/8596319/45256225-231a5b00-b39c-11e8-8e6f-96291cf4decc.png)

[2018-09-09 21:16] akifyanbak commented on #194
delete " text-muted-dark" class

[2018-09-10 03:24] carior opened #195 "如果有三级导航怎么办"

[2018-09-10 05:42] ZeoNish commented on #195
https://github.com/bootstrapthemesco/bootstrap-4-multi-dropdown-navbar

[2018-09-10 06:56] ZeoNish commented on #164
https://github.com/bootstrapthemesco/bootstrap-4-multi-dropdown-navbar

[2018-09-10 07:39] alihesari commented on #104
same +1

[2018-09-10 15:39] #194 closed

[2018-09-10 16:19] ZeoNish opened #196 "None icon setting and people"
![image](https://user-images.githubusercontent.com/8596319/45310238-6c021900-b52e-11e8-8b5d-4f4e487083ee.png)

`<i class="icon-settings"></i> to <i class="fe fe-settings"></i>`

![image](https://user-images.githubusercontent.com/8596319/45310921-55f55800-b530-11e8-9869-0b339a2a69f2.png)

`<i class="icon-people"></i> to <i class="fe fe-user"></i>`

[2018-09-11 03:02] mia0x75 opened #197 "Upgrade to latest version of c3 and d3 v5"
thanks.

[2018-09-11 08:45] WebFactoryLtd commented on #184
Please don't turn it into one of those admin templates that have every single piece of JS ever made included in them :( Tabler's simplicity is one of its key advantages.

[2018-09-11 12:05] WebFactoryLtd commented on #165
Just confirming this.

[2018-09-11 17:38] ZeoNish opened #198 "Bad work my custom JS script"
My additional js script does not always work adequately...

![image](https://user-images.githubusercontent.com/8596319/45377210-9cb38280-b602-11e8-9a33-3e0ad6d791d4.png)
![image](https://user-images.githubusercontent.com/8596319/45377219-a3da9080-b602-11e8-8498-cf29e137d75d.png)

Everything works very unstable. the jquery library does not always connect correctly.

[2018-09-12 14:14] alexjustesen commented on #198
Are you loading the script with require js?

[2018-09-12 14:59] ZeoNish commented on #198
I connected the script before < / body>

classic <script src="./assets/js/script.js"></script>

If you know how to fix the error then tell me more clearly.

[2018-09-12 20:16] jtreminio commented on #83
The following creates a sidebar:

[code]

And some simple SCSS:

[code]

[2018-09-12 20:30] jasl commented on #83
@jtreminio Thanks for the tip!

But this FR is for sidebar anchored along with left or right boarder of window, that would give more space for main content

[2018-09-13 11:56] keshon opened #199 "Fix z-index for .list-group-item.active class"
Hi, there is a small bug with z-index of .list-group-item.active class which can be seen if card elements set to full screen. Check the pic attached.
![untitled-1](https://user-images.githubusercontent.com/13551109/45486824-267b6100-b765-11e8-946a-0d9d5bf39f15.jpg)

[2018-09-14 19:27] jasl commented on #83
@jtreminio

As you can see, there are style issues here (from your screenshot):

- sidebar's title section isn't align with right.
- sub-menu highlighting has a blank on the left

This FR is aim to acquiring official support, a full-featured sidebar also need to consider such as collapsing, style consistency and compatibility

[2018-09-14 19:44] shirshak55 commented on #83
i think you can PR it for me something is better than nothing and if we get this feature people from community will automatically PR to improve it :)

[2018-09-15 20:09] danieljsc commented on #198
well, with requirejs you can't just include your script after the </body> tag.
Requirejs manages all js scripts. You must include your script in requirejs config file.
assets\js\dashboard.js

[2018-09-15 20:14] danieljsc commented on #183
Any suggestions after 2 weeks?
Still trying to fix the modal close buttons and all the other things that are being duplicated and should't be visible to the user.
![image](https://user-images.githubusercontent.com/23213576/45590239-4c9f2d80-b92c-11e8-8274-991281f6e1d9.png)

This is the default and documented modal window from bootstrap.

[2018-09-15 20:25] danieljsc opened #200 "Select 2 bug"
First of all, thanks for the template. The look is really amazing, but after a few tests trying to include some well known libraries my hype is coming down.

Modal/Alerts close buttons are duplicated, and Select2 library is not working well also as you can see in the next image:
![image](https://user-images.githubusercontent.com/23213576/45590307-a2c0a080-b92d-11e8-926c-141ff9969a71.png)

Had to i

[2018-09-18 17:11] jtreminio commented on #83
@jasl this is def. not a "complete" example. I'm no designer, but felt the example I implemented was a good start.

Obviously making borders line up and adding click-to-expand and minimizing menu on small windows would be required.

This ticket has been open for a bit now, with no response from repo owner, and the new version of Tabler does not seem to include a sidebar, so it's up to us to implem

[2018-09-21 20:01] keshon commented on #200
Tabler is bundled with Selectized and works flawlessly with that. I hardly doubt it's Tabler's issue rather than Select2 or Bootstrap itself.

[2018-09-24 10:10] akifyanbak commented on #198
`require('jquery',function($){
$(document).ready(function(){});
})`

[2018-09-24 10:11] ZeoNish opened #201 "Working with icons"
![image](https://user-images.githubusercontent.com/8596319/45946972-3e6fa200-bffb-11e8-95d8-b68094f7d6df.png)

`$('li.icons-list-item i').click(function () {

    var idClass = $(this).attr('data-original-title');

    navigator.clipboard.writeText(idClass)
		.then(() => {
    		// copy!
		})
		.catch(err => {
    		console.log('Something went wrong', err);
		});
});
`

`li.icons-list-item:hover {

[2018-09-24 12:37] workgena commented on #201
I miss this feature too :scissors:

[2018-09-24 16:49] ZeoNish commented on #201
[https://chrome.google.com/webstore/detail/user-javascript-and-css/nbhcbdghjpllgmfilhnhkllmkecfmpld](url)

[2018-09-25 07:16] ZeoNish commented on #198
thx

[2018-09-26 01:36] chrischu5 commented on #11
Hi @codecalm , I'm trying to start contributing on open source projects and Tabler looks like a great project for me to dig into. Is this bug still live so that I could look into it? I'm still a huge beginner so any guidance would be welcome from anyone else that contributes to this! 👍

[2018-09-26 06:46] akifyanbak commented on #198
You need to do the dependency settings. For instance:
`require.config({
    shim: {
        'myScript': ['jquery']
    },
    paths: {
        'myScript': 'assets/plugins/myScript/js/myScript.min',
    }
});`

[2018-09-27 06:14] ZeoNish commented on #198
Thx Bro !!!

[2018-09-27 06:14] #198 closed

[2018-09-27 23:47] mcdappdev commented on #118
Hi @codecalm, big fan of your work! Thanks for the countless hours you spent crafting this framework. Do you have any prediction of when the modals will be done? For some reason I can't get any outside modals to properly display (jquery modals or bootstrap) and it's hindering the progress of our development. Any insight would be greatly appreciated :) thanks!

[2018-09-28 04:37] sasikanth513 opened #202 "dropdown goes below menu-header with fixed-header class to body"
I want fixed header in one of my pages, so i've added `fixed-header` class to body tag and the I had to add `top: 65px` to my `menu-header` class, everything is working fine except the dropdown in the navbar is going down the second menu bar `menu-header`.

I tried changing the z-index but it's not working.

You can check it by simply adding `fixed-header` class to `body` in https://tabler.github.

[2018-09-28 06:50] sasikanth513 commented on #202
adding `z-index: 10` to `menu-header` class fixed it

[2018-09-28 06:50] #202 closed

[2018-10-01 21:35] AaronCoplan commented on #178
@codecalm This issue is also affecting [tabler-react](https://github.com/tabler/tabler-react), so any resolution would be very helpful.

[2018-10-02 10:19] 4sushi opened #203 "IE compatibility - Login page"
Hi,

I have tested the login page with IE 11, the card is not align on center of the page.
Source : https://github.com/tabler/tabler/blob/dev/dist/login.html
Preview : https://tabler.github.io/tabler/login.html

There is this issue for other pages, like Register.

This is the actual code:
[code]

I change the code to this, it seems to solve the problem:
[code]

Thanks for your work 👍

[2018-10-02 18:30] alkshendra commented on #148
@ckissi This solution basically allows the dropdown to go out of the bounds of the popup toggle button.
It seems like there's no effect to the position of the dropdown cause there's an onScroll eventListener attached to the dropdown which, on scroll, fixes the dropdown position.

See the behavior in the below GIF:
![2018-10-02 23 49 19](https://user-images.githubusercontent.com/3149997/46368814-ce

[2018-10-02 18:37] alkshendra commented on #148
TL;DR Fix: Remove the `table-responsive` wrapper from over the table element to fix this.

----
Longer Explanation:

This issue is happening cause the `<table>` element is wrapped into a wrapper with `table-responsive` class. The `table-responsive` has an `overflow-x` which basically makes tables horizontally scrollable.

However, this overflow interferes with the dropdown menus and does not let t

[2018-10-02 23:40] EliuTimana opened #205 "Can we get a CDN or npm installable package?"
is annoying downloading the project repository to build the project assets, I think you should provide us a compiled and raw versions of this great project.

[2018-10-03 05:46] pdawczak commented on #205
Hey, I'm not super sure if there are any problems, but the NPM package is
available here: https://www.npmjs.com/package/tabler-ui which I was using
with success so far

On Wed, 3 Oct 2018, 00:40 Eliú Timaná, <notifications@github.com> wrote:

[2018-10-03 09:21] alihesari opened #206 "bootstrap.bundle.min.js.map not found."
When I run `yarn serve`, I get this error in terminal:

Please Fix this error.

[2018-10-03 23:52] jonthomp commented on #188
I would go with [react-dates](https://github.com/airbnb/react-dates), ticks all the boxes/

[2018-10-04 08:38] #90 closed

[2018-10-04 15:14] ZeoNish commented on #188
http://t1m0n.name/air-datepicker/docs/index.html

[2018-10-05 20:03] pajtai commented on #3
@codecalm how do you customize the admin? add / edit components?

[2018-10-09 01:12] frederikhors commented on #108
Any news on this? ghost user here is right!

If I use both `.table-striped` and `.table-hover` striped one wins! With Bootstrap no: both are working together!

[2018-10-09 06:41] dotnetter commented on #108
Just to chime in, I'm seeing the same issue.

![bootstrap-table-hover](https://user-images.githubusercontent.com/512172/46651071-bd85de00-cb96-11e8-955f-b425b67cf2d0.png)

[2018-10-09 06:46] adiramardiani opened #207 "Add go to top and offcanvas / overlay main navigation"
Nice admin template !

Btw it's any roadmap to add some feature, like :
* go to top
* offcanvas / overlay main navigation (in responsive / mobile)

In my opinion, mobile in admin or dasboard is more intuitive if navigation using [sidebar](https://semantic-ui.com/modules/sidebar.html#/examples) navigation with offcanvas or overlay movement.

[2018-10-09 21:44] rlightner opened #208 "page-main missing?"
https://github.com/tabler/tabler/blob/54e940347f8800805731e544f119e599724822af/src/assets/scss/dashboard/_layout.scss#L17

Seems like the page-main class is missing from the scss?

[2018-10-11 18:36] ZeoNish opened #210 "require JS the biggest mistake !!!"
Very problematic library... It does more harm than good... And it is possible a version without this wretched library?
`require(['jquery', 'selectize', 'trumbowyg', 'trumbowyg_ru'], function ($, selectize, trumbowyg, trumbowyg_ru) {
$(document).ready(function () {
$('#trumbowyg').trumbowyg({
lang: 'ru'
});
});
});`

[2018-10-12 03:12] LiPan1988 commented on #155
this also work for me. thank you so much! appreciate you!!

[2018-10-12 07:04] zdeneksejcek commented on #118
Hi @codecalm, thanks for your work. Would be great to have dialogs, I am using your framework on my current pet project and I need on dialog only, but I can't go without it. Until you make 1.0 ready, I will have to hack it my self :)

[2018-10-13 08:18] JustJunaid opened #211 "npm run serve is not working"
Showing these Errors:-
-
/Library/Ruby/Gems/2.3.0/gems/bundler-1.16.6/lib/bundler/runtime.rb:313:in `check_for_activated_spec!': You have already activated public_suffix 3.0.3, but your Gemfile requires public_suffix 3.0.2. Prepending `bundle exec` to your command may solve this. (Gem::LoadError)
        from /Library/Ruby/Gems/2.3.0/gems/bundler-1.16.6/lib/bundler/runtime.rb:31:in `block in setup

[2018-10-13 18:01] byruddy opened #212 "datatable not working !"
please fix this issue dude :(

[2018-10-13 19:56] lcosta-II2S commented on #212
I'm all in dude! Could you provide a more in-depth description of the issue?

[2018-10-17 08:02] CaledoniaProject commented on #189
Use http://www.daterangepicker.com/

[2018-10-17 08:03] CaledoniaProject commented on #188
This one is fully compatible with BS4: http://www.daterangepicker.com/#example4

Also, please consider closing this one: https://github.com/tabler/tabler/issues/189

[2018-10-17 15:38] jlannoy commented on #159
Any news about this please?
#136 have been merged into dev, but it still need a release.

[2018-10-17 15:39] jlannoy commented on #212
Maybe we need a new release? Check #136, merged in dev branch.

[2018-10-18 13:05] fonix232 opened #214 "Encrypt/hash password in config file"
Currently, the password is stored as cleartext in the config file. I'd like to suggest to move to an encrypted/hashed password instead, similar to how e.g. Transmission manages it. This way the password cannot be easily read by a malicious process (I understand that with proper access rules it's unlikely to happen, but I personally would feel safer if my password wasn't available in cleartext).

[2018-10-18 13:06] fonix232 commented on #214
Sorry, wrong repo

[2018-10-18 13:06] #214 closed

[2018-10-18 20:14] CoderSquirrel opened #216 "Questions to contribute"
Hi i add animations to the Card collapsing and am aiming to pull.
I'm reading the contributin.md and some questions appeared.
1. `Update the README.md with details of changes to the interface, this includes new environment variables, exposed ports, useful file locations and container parameters.`
Once i've onli improved the 'animation' and the fell for the card collaptions i dont think(please corr

[2018-10-23 20:40] nustiueudinastea commented on #123
@PolMrt you probably don't have the correct nesting of classes. From my experimentation your top div should have class "page" and under that you can place the "footer". "page-main" is also under "page" and should contain the rest of your content.

[2018-10-23 20:53] caronalex commented on #35
[tabler-laravel](https://github.com/Webilio/tabler-laravel) is now released

[2018-10-24 19:18] ra7bi commented on #211
same here

[2018-10-25 16:33] uitlaber commented on #211
+

[2018-10-26 08:40] ra7bi commented on #211
Try
sudo apt-get install build-essential patch ruby-dev zlib1g-dev liblzma-dev
sudo gem install nokogiri
bundle install

[2018-10-26 11:20] rahul2521991 commented on #53
Can anyone help me out how to integrate tabler with laravel 5.7? Thank you in advance for your valuable suggestion.

[2018-10-26 13:08] alistairtweedie opened #218 "What versions of d3 and c3 charts are you using?"
What versions of d3 and c3 are being used? I don't see any documentation regarding the versions of the plugins that are being used in the 'src/assets/plugins' folder

[2018-10-26 14:21] JustJunaid commented on #218
hey, can you help me integrate charts of this tabler.io in my project.
I have implemented the same jquery code as in the source code but there is one bug that im facing that goes like this,(tabler is not defined), i guess it's related to tabler.colors or something like that

[2018-10-26 14:33] JustJunaid commented on #171
Have you figured this out coz im planning to do the same?

[2018-10-26 14:40] alistairtweedie commented on #218
Some what unrelated to the issue above. It sounds like you already have an idea of the problem. Make sure you have integrated all of the original plugins and js. If you need more guidance I would join the Slack Group.

[2018-10-26 14:42] JustJunaid commented on #211
@ra7bi Still not able to sort it out :(

[2018-10-26 16:13] ra7bi commented on #211
What error do you get ?

First of things go to root directory of the theme `/tabler` and follow the steps below :

before we start make sure your `package.json`  contain the following in the scripts  section
```    "jekyll-serve": "bundle exec jekyll serve --livereload", ```

Before everything uninstall  `eventmachine` and reinstall it by the following command

`sudo gem uninstall eventmachine`
`s

[2018-10-27 04:41] azarezade commented on #171
No, I just used the build html files and worked with the cure html files.
Maybe, the clean solution is to serve the tabler frontend separately using Nginx for example, and use API call to flask to fill data in the dashboard.

[2018-10-27 04:41] #171 closed

[2018-10-27 14:20] narwy commented on #159
Download datatables, link the js files to your requirejs config:

Add datatables to your `assets/js/app.js`
[code]

In your page where you want to render a datatable:
[code]

[2018-10-27 17:32] JustJunaid opened #219 "Working with input files inside a form!"
So, when i upload a file using tabler classes, the name of the file is not displayed, like for example the label on uploading 'data.csv' file does not change and remain 'Choose File', i guess it's related to the css, but i'm not sure. Can someone help me regarding this?

[2018-10-28 23:40] jamezzz123 opened #220 "there is no modal in the template"

[2018-10-28 23:45] codecalm commented on #220
modals will be available in 1.0 version

[2018-10-28 23:45] #220 closed

[2018-10-29 18:10] JustJunaid commented on #211
Yay, finally satisfied and onto the project, thank you so much :)

[2018-10-29 18:10] #211 closed

[2018-10-29 18:38] JustJunaid opened #221 "Uncaught Error: Script error for "c3""
Facing problem in implementing charts, i have just cloned the repo, and this is the error in my console and also Uncaught Error: Script error for "datatables", this is also coming, can someone help me regarding this, i'm not able to work with charts sort of things in project using this tabler ui :(
Thanks.

[2018-10-29 20:28] Barbarossa-42 commented on #208
I am having same problem.

[2018-10-30 15:58] maxoyed-MS commented on #206
Just delete the `//# sourceMappingURL=bootstrap.bundle.min.js.map` in file `src/assets/js/vendors/bootstrap.bundle.min.js`

[2018-11-04 09:50] sirbully opened #223 "Can't build locally"
I encountered an error after I used the `npm run serve` command.

assert.js:265
    throw err;
    ^

AssertionError [ERR_ASSERTION]: Task function must be specified
    at Gulp.set [as _setTask] (\tabler\node_modules\undertaker\lib\set-task.js:10:3)
    at Gulp.task (\tabler\node_modules\undertaker\lib\task.js:13:8)
    at Object.<anonymous> (\tabler\gulpfile.js:42:6)
    at Module._compile (inte

[2018-11-06 17:56] tiagocassio commented on #188
I would go with http://amsul.ca/pickadate.js/

[2018-11-06 20:31] lixaotec opened #224 "_form.scss height: 100% breaks layout - remove for improvement"
Dear,

In a short the title: _form.scss > .btn height: 100% breaks layout

Line 65

Just remove it I suggest.

Thanks

[2018-11-06 20:36] lixaotec commented on #224
The same applies to custom-range.scss

.custom-range

removes height: 100%

[2018-11-09 12:15] hsj86715 opened #225 "assert.js:351"
hushujundeMacBook-Pro:tabler hushujun$ npm run serve

assert.js:351
    throw err;
    ^

AssertionError [ERR_ASSERTION]: Task function must be specified
    at Gulp.set [as _setTask] (/Users/hushujun/Documents/WorkSpaces/WebStormSpace/tabler/node_modules/undertaker/lib/set-task.js:10:3)
    at Gulp.task (/Users/hushujun/Documents/WorkSpaces/WebStormSpace/tabler/node_modules/undertaker/lib/task.js

[2018-11-10 21:18] krsyoung commented on #223
@sirbully what version of Gulp are you running?

[code]

I just cloned and I'm hitting a different issue but this part does seem to work.

[2018-11-10 21:23] krsyoung opened #226 "Build failing due to sass include path"
I have just freshly cloned the project, installed npm packages and ruby gems.  When I run `npm run dist` (or anything to do with the SASS) I get the following error:

[code]

If I replace `~bootstrap/scss/bootstrap.scss` with `node_modules/bootstrap/scss/bootstrap.scss` everything works as expected.

I tried to update `gulpfile.js` with an `includePath` for the SASS pipeline but no dice.  Is this

[2018-11-11 13:25] akmalhazim24 opened #227 "How to compile into dist/?"
Hi,

I'm new to NPM and finding on how to compile it into a file that I can host to my web server. When I run npm serve, the files in dist/ remains the same.. Is there any other directory to get the compiled build?

Thanks !!

[2018-11-12 11:33] fixr commented on #98
Bumping as I'm also running into this issue. I find it quite useful to have dropdown buttons on a `card-options`, for instance, having links or checkboxes to filter table results.

[2018-11-13 09:03] bigxu opened #228 "Error: File to import not found or unreadable: ~bootstrap/scss/bootstrap.scss."
Error in plugin "sass"
Message:
    src/assets/scss/bundle.scss
Error: File to import not found or unreadable: ~bootstrap/scss/bootstrap.scss.
        on line 6 of src/assets/scss/bundle.scss

➜  scss git:(dev) ✗ cat bundle.scss
/**
Dashboard UI
 */

@import 'variables';
@import 'bootstrap/scss/bootstrap.scss';
@import 'dashboard/dashboard';

[2018-11-13 09:05] bigxu commented on #226
modify file:

src/assets/scss
➜  scss git:(dev) ✗ cat bundle.scss
/**
Dashboard UI
 */

@import 'variables';
@import 'bootstrap/scss/bootstrap.scss';
@import 'dashboard/dashboard';

then

ln -s ../../../node_modules/bootstrap

[2018-11-14 19:10] krsyoung commented on #226
Thanks @bigxu, will conclude their is something wrong with my environment and thus the workaround needed.

If this were broader I'd expect more people to be facing the issue based on a fresh clone.

[2018-11-14 19:10] #226 closed

[2018-11-19 19:16] Nayananga commented on #223
I also faced the same issue, then I installed gulp  using npm install -g gulp-cli and also jekyll using [https://jekyllrb.com/docs/#instructions](url) but still the same, otherwise i followed exact same instructions in the [https://tabler.io/tabler/docs/index.html](url) any help??

[2018-11-19 20:03] Nayananga commented on #211
i did

mine still same :(

[2018-11-20 15:51] ra7bi commented on #211
What is the output of each ? is there any error ?

[2018-11-20 16:47] Nayananga commented on #211
nayananga@nayananga-Aspire-E5-575G:~/Desktop/Link to htdocs/projects/scr2$ npm run serve

assert.js:350
    throw err;
    ^

AssertionError [ERR_ASSERTION]: Task function must be specified
    at Gulp.set [as _setTask] (/opt/lampp/htdocs/projects/scr2/node_modules/undertaker/lib/set-task.js:10:3)
    at Gulp.task (/opt/lampp/htdocs/projects/scr2/node_modules/undertaker/lib/task.js:13:8)
    at Ob

[2018-11-20 17:09] ra7bi commented on #211
what operating system you are using ? my suggestion is to remove all required packages and re install them one by one and make sure when you install each one there is no error

[2018-11-21 02:48] gaoqiang19514 commented on #228
I also had this problem

[2018-11-23 02:26] dedekrnwan opened #229 "assert.js:350"
I have installed jekyll 3.8.3and bundler 1.17.1, and execute npm install in root /tabler with no error.
but when execute npm run dev some error happen.

PJT184450@PF0AJZ4J MINGW64 /c/xampp/htdocs/template/admin/tabler (dev)
$ npm run serve

assert.js:350
    throw err;
    ^

AssertionError [ERR_ASSERTION]: Task function must be specified
    at Gulp.set [as _setTask] (C:\xampp\htdocs\template\adm

[2018-11-26 18:02] pcgeek86 commented on #64
Just tried searching the Tabler docs for a mechanism to reference Tabler via CDN, and couldn't find one. Consider this a +1!

[2018-11-27 08:13] ansarbek commented on #64
<link href="https://tabler.github.io/tabler/assets/css/dashboard.css" rel="stylesheet">
    <script src="https://tabler.github.io/tabler/assets/js/dashboard.js"></script>
try something like this for your sandboxes

[2018-11-29 15:18] sigismund commented on #228
Duplicate of #226

[2018-11-30 03:45] bigxu commented on #228
so i am closing this issue

[2018-11-30 03:45] #228 closed

[2018-12-04 19:54] weedkiller commented on #161
@DMW007 any chance you can share some help on how you got this working with ASP Core

[2018-12-07 20:19] Greg-Hamel opened #232 "Demo page link in README.md outdated Tabler-react Impacted"
Hi,

The link to the demo page is broken in README.md. I believe the link should be `https://preview.tabler.io` instead of `https://tabler.github.io/demo`.

I see that the official website URLs have changed and that Tabler-React demo and docs are also impacted by this change.

[2018-12-08 02:12] jonthomp commented on #232
I've set up http://tabler-react.com as a hopefully temporary solution, it should start working soon.

[2018-12-17 09:02] bhaskesaravanan opened #233 "Documentation"
I developed UI using your previous documentation. In that, you had many elements and feature. so I used and developed But Now In your new documentation, many elements are not there. It's very hard to figure it out. I used tables, titles, cards, and many elements. could you tell when it gets fixed or is there any way to access the old one?

[2018-12-21 15:52] ahmed37 opened #234 "I got this problème in running the app"
Hi, i got this problem when runing the app :

Server running... press ctrl-c to stop.
#<Thread:0x0000000005feee58@C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/jekyll-3.8.3/lib/jekyll/commands/serve/live_reload_reactor.rb:41 run> terminated with exception (report_on_exception is true):
Traceback (most recent call last):
        7: from C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/jekyll-3.8.3/lib/jekyll/comman

[2018-12-27 20:18] alistairtweedie commented on #218
Does anyone have an update on this query?

[2018-12-30 08:03] anasbud opened #235 "Template sold on Themeforest"
Hi guys,

I saw this template being sold on Themeforest : https://themeforest.net/item/sloop-bootstrap-4-responsive-admin-dashboard-template/23085147

The guy is the comment says that the money goes to donation, is it right ?

[2018-12-30 10:02] codecalm commented on #235
Thank you for reporting us a violation of our copyrights.

Sloop is a scammer, and we have already taken the appropriate steps to delete this scam project out of Themeforest.

[2018-12-30 12:14] mohe2015 commented on #235
I'm not a lawyer but I think you license (MIT) allows that in theory althrough it's not really fair as it's available for free.

[2018-12-31 00:10] phalbert opened #236 "tables"
I have browsed the template and note that no tables are included. Basic tables, datatables etc

[2018-12-31 20:08] xqsit opened #237 "Can't use external library - Alertify"
I was trying to use Alertify js but end up by following error
`Uncaught Error: Mismatched anonymous define() module: function(){return v}
http://requirejs.org/docs/errors.html#mismatch`

Help me with a procedure how to use a third party library.

[2019-01-01 21:21] rtd62 commented on #236
@phalbert -- Were you able to figure this out?

[2019-01-06 08:46] alidehghan opened #238 "Search Result Sample"
Is there any search result sample available? for instance search result in **search box** in menus

[2019-01-07 00:14] iDemonix commented on #118
The project I'm using tabler for needs modals now, so I'm going to hack them in. Any chance this is planned for release soon @codecalm ?

[2019-01-09 13:46] cankaya07 commented on #211
i had a problem not exact but similar. working on macos
here my log output:
0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'run', 'serve' ]
2 info using npm@6.4.1
3 info using node@v10.15.0
4 verbose run-script [ 'preserve', 'serve', 'postserve' ]
5 info lifecycle tabler-ui@0.0.32~preserve: tabler-ui@0.0.32
6 info lifecycle tabler-ui@0.0.32~serve:

[2019-01-14 09:41] krizanteme commented on #131
Can we have the sketch files please, it would be much easier for designers to collaborate with developers.
Thanks!

[2019-01-14 22:04] the-foreigner opened #240 "Colour input white checkbox"
White colour input check box the "white" tick is not visible.

[2019-01-18 03:31] cserko93 opened #241 "Dark theme"
Please make a dark css template file for it.

[2019-01-20 23:42] betzai opened #242 "assert.js 350 gulp error"
I have an error assert.js 350 I have no idea what could be wrong

[2019-01-20 23:52] betzai commented on #242
I have this error, I have no idea what could be wrong, if you can help me with this I appreciate it

C:\Users\Satellite\Desktop\bootstrap-template-init> npm start

ate-init

assert.js:350
    throw err;
    ^

AssertionError [ERR_ASSERTION]: Task function must be specified
    at Gulp.set [as _setTask] (C:\Users\Satellite\Desktop\bootstrap-template-ini
t\node_modules\undertaker\lib\set-task.js:10:

[2019-01-21 12:42] twf-nikhila commented on #42
Does anyone use it in Laravel application without any package?

[2019-01-21 12:51] twf-nikhila commented on #205
@pdawczak Looks like the npm package is not updated from last 9 months? :( Or does it pull the latest?

[2019-01-21 13:05] pdawczak commented on #205
@twf-nikhila Sorry, I'm not the best person to talk about it I'm afraid. I used Tabler for a side project, but I  didn't have time for working on it, and I didn't interact with Tabler since then 😬

[2019-01-21 18:51] aginvlad commented on #242
It could be because of new gulp update: Gulp 4.0
Developers have changed a lot, you should reconfigure your gulp config, using new features.

[2019-01-22 14:11] viditvarshney commented on #240
i can't understand Please elaborate @the-foreigner

[2019-01-23 15:16] twooclock opened #243 "Bootstrap Upgrade"
Is there a way to upgrade Bootstrap to latest 4.2.1 version (or at least 4.1.2) ?

I tried replacing \assets\bootstrap.bundle.min.js but then my menus are not showing... :-(

[2019-01-23 16:37] Telperin commented on #225
### Hello there!

Probably your **gulpfile.js** made for **Gulp 3 versions**, and it is not for **Gulp 4.0.0** format.
As I know, there are two possible solutions:

**1.** Local downgrade your **Gulp** to version **3.9.1** (the last one of 3rd version generation):

   $ `npm install gulp@3.9.1`

And your old **gulpfile.js** will work.

**2.** Rebuild your **gulpfile.js** into the **Gulp 4.0.0** ne

[2019-01-23 17:28] mrehayden1 commented on #167
If you remove the symbol from your HTML it renders fine.

[2019-01-23 22:14] the-foreigner commented on #240
Both are ticked but you cannot see the tick on white background

![image](https://user-images.githubusercontent.com/8706488/51640699-22095500-1f5c-11e9-8c32-8b52decd1323.png)

[2019-01-24 21:51] mwilliams1188 commented on #160
Bump this. Tried a lot of different solutions now and nothing. Any updates?

[2019-01-24 22:08] mwilliams1188 opened #244 "ERROR `/assets/css/dashboard.css' not found."
I have the server running and the page loads, just with no styling. It looks like it can't find anything in the assets folder. Any ideas?

[2019-01-24 22:46] emman355 commented on #111
<form>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col

[2019-01-24 22:47] emman355 commented on #111
<form>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col

[2019-01-24 22:48] emman355 commented on #111
`<form>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="co

[2019-01-24 22:49] emman355 commented on #111
[https://getbootstrap.com/docs/4.0/components/forms/](url)

[2019-01-27 22:55] kevinpapst commented on #244
You need to compile the assets first with `npm run gulp-build`.

[2019-01-28 13:16] vaga commented on #241
https://github.com/tabler/tabler/issues/184#issuecomment-417568142

:crossed_fingers:

[2019-02-03 14:15] paulftw commented on #226
I have the same problem on a clean "git clone". Many people may be affected by this

[2019-02-08 10:06] BarbaraDi opened #248 "Help for installation"
Dear community,

I wanted to try tabler and thus, I have installed downloaded the package (tabler-master, is it the right one?), Node, Ruby, Bundler and Jekyll.
I use Windows 10.

Apparently, I did something wrong, since I can not run the npm server. Here is the screenshot of the console:

![error](https://user-images.githubusercontent.com/13226574/52471576-80a41500-2b91-11e9-96f2-94fa596b4c03.png

[2019-02-12 12:26] fordarnold opened #250 "Common Installation Errors and Warnings (Update README?)"
So I finally managed to install Tabler, using instructions from the [README](https://github.com/tabler/tabler#setup-environment). But first, I ran into different warnings and errors that made me have to go digging the internet to look for solutions.

I believe that by showing users the **common** roadblocks they might encounter as well as the possible solutions, we will be able to save a lot of ti

[2019-02-12 12:57] fordarnold commented on #226
It must be an environment issue.

[2019-02-13 10:55] dchavours commented on #250
wow, excellent

[2019-02-13 10:55] dchavours commented on #250
wow, excellent

[2019-02-14 14:09] #233 closed

[2019-02-16 22:27] chimsgraphic opened #251 "Popover not working!!!!"
Any time I add another Javascript file e.g vue.js to my header, the popover or drop-down immediately stops working.

Can this be this problematic Require.js or what. It has been so frustrating...!!!

[2019-02-17 13:20] ahmetcangir commented on #248
Open Cmd
Type git clone, and then paste clone url of repository. Press Enter.
Your local clone will be created.

Full code shuold be like this:
git clone https://github.com/tabler/tabler.git

[2019-02-19 00:22] ahmetcangir commented on #248
Download [ZIP](https://github.com/tabler/tabler/archive/master.zip) or Git Clone.

In order to clone git repository:
`git clone https://github.com/tabler/tabler.git`

[2019-02-19 09:43] nkanaev opened #253 "custom select indicator disappeared"
Since Chrome 72, `#` in data uris are invalid.

Would you consider changing the line below to escape the character in [_variables.scss]

from:

to:

[_variables.scss]: https://github.com/tabler/tabler/blob/master/src/assets/scss/_variables.scss

[2019-02-21 07:02] matt-daneshvar commented on #88
Looks like Bootstrap itself doesn't ship with this functionality. According to [Bootstrap's docs](https://getbootstrap.com/docs/4.3/components/forms/#file-browser), they're using an additional plugin ([bs-custom-file-input](https://www.npmjs.com/package/bs-custom-file-input)) to handle this even on the documentation page demo itself.

[2019-02-21 10:45] li10217 opened #254 "请问dist文件夹里的文件是什么时候生成的？"
当我运行npm run serve 之后，并没有生成dist里的文件。

我不需要预览，我只需要最终文件，所以我想删除"&& npm-run-all --parallel gulp-watch jekyll-serve"

"serve": "gulp build && npm-run-all --parallel gulp-watch jekyll-serve", =>
"serve": "gulp build"

但是这样只是重新生成了src/assets/css下的文件。

我想知道src/*.html是怎么变成dist/*.html?

[2019-02-21 20:54] alejandrofloresm opened #255 "$(...)tooltip is not a function on core.js"
I'm using tabler through the dist assets (not using npm, jekyll or any bundler) and I have almost setup everything (I can see the dashboard correctly and the dropdown menus are working correctly) but I keep getting the error:

[code]

I have commented the line but then I get the error of popover is not a function.

Any idea on how to solve this problems?

[2019-02-21 22:23] alejandrofloresm commented on #255
The problem appears to be on my side, require really doesn't like if you are adding another javascript if it's not through the desired way.

In specific the problem was because I'm using Laravel + Debug bar and since debug bar injects itself (js) into the view then it messes up require, just turning off debug bar was enough

[2019-02-22 06:43] jiuri0624 commented on #171
我也有打算把这个用在flask程序中作为前端和后端界面。 虽然直接把dist的文件放在static和template中可以使用。 但是不知道这样是否是合适的方式。

[2019-02-25 20:23] codecalm commented on #241
Dark theme will be avaliable in 1.0 version :)

[2019-02-25 20:23] #241 closed

[2019-02-25 21:38] chrisbaswell commented on #236
@phalbert Basic tables are demo'd on the dashboard page

[2019-02-26 10:58] mhcifci opened #256 "Copyright licence"
Please check this https://sloop.kampungdev.com/

[2019-02-26 10:59] mhcifci commented on #256
https://www.codester.com/items/10793/sloop-bootstrap-4-admin-dashboard-template

[2019-02-26 19:04] ccleve commented on #244
No. If you git clone the dev branch, npm run gulp-build generates this error:

Error in plugin "sass"
Message:
    src/assets/scss/bundle.scss
Error: File to import not found or unreadable: ~bootstrap/scss/bootstrap.scss.
        on line 6 of src/assets/scss/bundle.scss

[2019-02-26 21:29] Jeckerson commented on #256
Well, its easier to write to codester support - https://support.codester.com/hc/en-us/requests/new about current situation...

[2019-02-27 01:10] ahmetcangir commented on #256
Is not it allowed with a MIT licensed software to sell on commercial platforms? Just I want to clarify it.

[2019-02-27 10:02] Jeckerson commented on #256
`A copy of the license and copyright notice must be included with the software.`

https://github.com/tabler/tabler/blob/dev/LICENSE

[2019-02-27 10:55] mhcifci commented on #256
I'm not selling just saw there and wanted to ask is it right?

[2019-02-28 16:38] treanaslocum commented on #155
Thanks I was struggling with this.

[2019-02-28 18:32] devjunior91 opened #257 "HTML Table Filter"
Hi guys,

I’m new to development and was wondering if anyone can assist with this. I have a html table and I want to filter the table automatically to display certain rows based on a value.

E.g. I only want to display rows where the word “volunteer” is present and hide everything else.

Thanks

[2019-03-04 22:09] ahmedanadi commented on #244
Hello, I have the same problem!!

[2019-03-04 23:20] kevinpapst commented on #256
What about opening an issue here? https://github.com/KampungDev/Sloop-UI

The LICENSE file is definitely not included in the repo. @codecalm

[2019-03-05 02:30] CoderSquirrel commented on #257
h @devjunior91 you are using any js framework?
Cause it can depend on the framework you are using to render the content.
If you use simple html to render (eg. `<table><tr><td>content</td><td>value</td></tr></table>`) you can try @w3c exemple https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_filter_table

[2019-03-05 02:40] CoderSquirrel commented on #240
@the-foreigner as you can see in [Form Elements' Page](https://preview.tabler.io/form-elements.html ) there's no built in white checkbox
but i think it may be because of the color that the checkmark uses in the svg used for it.
can you provide a link of exemple so i may help you?

in advance i think that you'll problame have to add another svg with the mark filled as black only for the white check

[2019-03-05 02:47] CoderSquirrel commented on #240
or you can make in this way
[code]

[2019-03-05 04:55] hooleahn commented on #244
Change line 6 in src/assets/scss/bundle.scss to:
`@import '../../../node_modules/bootstrap/scss/bootstrap.scss';`

[2019-03-05 06:27] ahmedanadi commented on #244
Thank you!! Now is Working!

[2019-03-06 08:44] enzorre opened #258 "card-aside-column not responsive"
Hi,

I'm noticing that the rendering of card-aside-column in the mobile is terribile because the image is not moved on the top of the card, but remaind on the left woth a small slice of window:

![image](https://user-images.githubusercontent.com/48055312/53867438-23ff1300-3ff4-11e9-898c-db1925a0f78e.png)

Are you agree? Please let me know how to solve, thanks.

[2019-03-07 14:44] Hameds commented on #100
This repo seems dead so it doesn't matter anymore

[2019-03-07 14:44] #100 closed

[2019-03-08 07:15] ridhwandaud commented on #208
they change page-main to flex-fill

[2019-03-08 18:49] devsi commented on #253
Second this. I've had to retrofit `background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 5'%3E%3Cpath fill='%23999' d='M0 0L10 0L5 5L0 0'/%3E%3C/svg%3E");` in to a custom scss file to fix the problem.

[2019-03-08 19:30] mohe2015 commented on #253
If doing something like that why not something like: https://gist.github.com/B-iggy/14da053d2cebf92e1930
that would make the svg more readable.

[2019-03-10 10:30] osmanrahimi opened #259 "how to show some specific elements in mobile"
Nice and useful template.

I have some specific elements and I want to show them to use just while user's device is mobile?
Is there any `css class` to apply ? I could not find it.

Thank you in advance.

[2019-03-10 11:42] ollym opened #260 "Tabler Sponsorship - project maintenance offer"
Hi @codecalm, we use tabler heavily at ventrata.com and it's become the main UI framework for our dashboard which is being actively updated and maintained by our whole front-end team.

One of our major concerns is the lack of activity within the core of the project, and I wanted to offer if we could sponsor the maintenance (either funding the project, or providing dev time).

I appreciate you're b

[2019-03-10 14:19] tuyennguyen2906 commented on #256
Hello

Can I use this template for my PHP scripts and sell my script another clients?

[2019-03-10 18:13] Jeckerson commented on #256
@tuyennguyen2906 Check license page

`This software and derivatives may be used for commercial purposes.`

https://github.com/tabler/tabler/blob/dev/LICENSE

[2019-03-12 10:08] codecalm commented on #260
@ollym I've send you email

[2019-03-12 10:08] #260 closed

[2019-03-12 12:54] jonthomp commented on #260
@ollym if you could let us all know the outcome of this it would be great, I'm sure there are a few people here waiting to find out about the future of the project and I know some have unfortunately moved away from the Tabler altogether because of exactly this :(

[2019-03-20 13:08] mattlindop commented on #244
I've got a similar problem and changing the @import statement as @hooleahn suggests hasn't fixed it. Problem seems to be dashboard.css isn't being found...?

/usr/local/lib/ruby/gems/2.6.0/gems/liquid-4.0.0/lib/liquid/utils.rb:49: warning: BigDecimal.new is deprecated; use BigDecimal() method instead.
                    done in 2.04 seconds.
 Auto-regeneration: enabled for 'src'
LiveReload addres

[2019-03-21 20:21] gintsmurans commented on #108
Same issue here. Just noticed.

[2019-03-24 05:40] tuyennguyen2906 commented on #256
@Jeckerson  thank you for your answer. I intend to change many things in HTML, CSS for my PHP script  and then sell my script to another clients. But i can remove the copyright in the footer page like this image: http://prntscr.com/n2425j and then change to My PHP project name.
i also include the license file in source code.

Please answer and tell your mind. Thanks

[2019-03-24 13:19] WinterSilence opened #261 "Wrong type of $grid-gutter-width"
$grid-gutter-width defined in https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss using to calculate container width: `container-max-width = grid-breakpoint - (grid-gutter-width * 2)`. You cant set breakpoints as px and $grid-gutter-width as rem: size of rem in px independent of screen size - u can set any font size for any screen size in browser settings.

[2019-03-25 11:49] WinterSilence opened #264 "Need fix error in _config.yml"
I try intall, but `npm run serve` crashed and display error at "source: src"... and its after i fix bugs at sass/gult :(

[2019-03-26 07:34] rusha29 opened #266 "Need To Fix Issue OF require.min.js while using in codeigniter framawork in PHP"
![issue](https://user-images.githubusercontent.com/45932696/54977826-7c5a7c80-4fc4-11e9-96d8-7c92d459279d.png)
I have issue in this theme i need open an modal box for confirmation. it works on well on other page but when i pass some value in url then it shows require.min.js error. I am using this theme in codeigniter 3.0

[2019-03-27 00:59] CnNullptr opened #267 "Did your demo have a "input" tag for data-time-picker?"

[2019-04-02 21:15] Clivern commented on #266
it is hard to expect the fix but it is clear that jQuery path is wrong (404 not found), it should be absolute i guess `/assets/js/....`

[2019-04-03 06:36] rusha29 commented on #266
Actually path is like /assests/js/...

[2019-04-03 12:52] lfdajr commented on #189
Just for the record. You can use something like this in the head.html

[code]
});

[2019-04-05 06:20] ZeoNish opened #270 "require disable?"
how do I connect all libraries without using require.js ?
require.js is constantly buggy and creates a lot of problems!!!

[2019-04-05 06:40] ZeoNish commented on #270
pls create version not use require.js

[2019-04-07 08:56] itkhansunny commented on #270
Require.js is awesome. And it is easy to use

[2019-04-07 22:04] frederikhors opened #271 "Is there a changelog?"
Is there a changelog?

What changes from 0.0.32 to 0.0.34/35?

[2019-04-11 15:19] mfuentesg opened #272 "npm package too big for jsDelivr"
I'm trying to load this package from [jsDelivr CDN](https://www.jsdelivr.com/package/npm/tabler-ui) but it fails because the package is over 50 MB. Are there any files that could be removed to reduce the package size?

[2019-04-12 14:09] lvhaiquan opened #273 "angular"

[2019-04-12 14:11] lvhaiquan opened #274 "angular"
angular

[2019-04-17 15:23] mbufi opened #276 "Dynamically displaying all images in a particular directory inside Gallary"
Hello,

I am not sure how to dynamically display all the images in particular directory without having to hardcode the image path in the `src/_data/photos.yml` ?

If I have a directory at the following location `/tabler/src/images` that contains 2000 images that may be continuously changing, how do make the gallery.html load all the current images? I really dont want to have to hard code all the i

[2019-04-22 18:29] camainc commented on #108
Same issue here.

[2019-04-28 11:44] jet10000 opened #280 "Is there a treeview for json component?"
Any suggestion? Thanks

[2019-04-29 08:46] vinliao opened #281 "Is there any way I can use the tabler.io's landing page?"
I think that the landing page is nice and clean, but I can't seem to find the file. Is there any way I can use this?

[2019-04-29 18:04] rajkumarpb commented on #166
Hi, I try to do this along with requirejs.config({..}) script in dashboard to load an autocomplete plugin(dynamically). But it is not working and throwing error $ is not defined error.

Adding jquery related dependencies is really tough and it would be helpful if someone give some explanation.

[2019-04-30 13:33] Hanysamy25 opened #282 "datatables extensions"
I can't add datatables extensions like print buttons please how to configure it

[2019-05-05 09:59] wenky commented on #251
Hi,
I'm also having the similar issue,is there any workaround for it?

[2019-05-05 14:53] chimsgraphic commented on #251
You need to get rid of the require.js library reference completely and reference all other JavaScript dependences that come with the template, excluding require.js.

Though you need to check require.js to see all the other JavaScript references. Stupid template! What were the creators thinking by adding require.js, it's a big spoiler.

[2019-05-05 14:53] #251 closed

[2019-05-06 14:56] #281 closed

[2019-05-10 15:18] h-guerrero commented on #241
Is this feature already launched?

[2019-05-11 11:01] WinterSilence commented on #280
@ jet10000 what is "json component"?

[2019-05-14 16:13] dhavenith commented on #241
I hope so. I'm currently looking for it

[2019-05-21 21:03] fordarnold commented on #206
Thanks a lot @maxoyed 💯

Someone should close the issue.

[2019-05-22 05:08] #206 closed

[2019-05-22 06:00] ahmetcangir commented on #280
Maybe [this](https://www.w3schools.com/howto/howto_js_treeview.asp) can give you an idea.

[2019-05-22 06:08] ahmetcangir commented on #256
[MIT license](https://github.com/tabler/tabler/blob/dev/LICENSE) says that:
1. Do whatever you want
2. But the license file will stay in the project folder.

That means; MIT licensed parts will forever remain MIT licensed.

So, You are free to remove links or anything, provided that the license file stays there.

Note: If I am wrong, please someone correct it. Thanks 😊

[2019-05-22 07:06] Eliepse commented on #254
你好，
为了问个问题，你要说英语。这里没有人听懂中文。可以翻译吗？
我不知道怎么帮你。再告诉我们你得麻烦（说英文）。

I think this issue can be closed.
I indicated this person that he must speek English in order to hope any help.

[2019-05-22 12:39] ndbroadbent opened #284 "[Request] Would it be possible to add an example to show a number with a quota?"
I could use some help designing a card that shows a number for a given quota. E.g. "43 / 99".
I'm finding it really hard to design something that looks good. Here's what I've been trying so far.

*Definitely wrong:*

<img width="390" alt="Screen Shot 2019-05-22 at 7 37 23 PM" src="https://user-images.githubusercontent.com/139536/58174892-1e4acc80-7cc9-11e9-965b-47a7af8b4ebe.png">

*Numbers look to

[2019-05-22 13:04] ndbroadbent commented on #284
I think I'm happy with this:

<img width="395" alt="Screen Shot 2019-05-22 at 8 03 19 PM" src="https://user-images.githubusercontent.com/139536/58176526-abdbeb80-7ccc-11e9-8392-f8053d52b572.png">

I used the `.text-muted` class to make the text a lighter color, and made the font slightly larger.

[2019-05-22 13:04] #284 closed

[2019-05-26 12:31] #280 closed

[2019-05-31 13:12] Jaskaran12 opened #285 "check"

[2019-05-31 13:13] Jaskaran12 commented on #285
done the task.

-[ ] yes

-[ ] no

[2019-05-31 13:14] Jaskaran12 opened #286 "check"

[2019-06-01 11:55] Tairau commented on #282
https://datatables.net/extensions/buttons/examples/print/simple

[2019-06-05 08:23] ViKingQ commented on #282
I need the datatables extensions like 'datatables.responsive', but I don't know how to configure it via requirejs

[2019-06-05 08:26] ViKingQ commented on #282
How to configue it via requirejs, please

[2019-06-06 15:57] saileshkush95 opened #288 "I want vertical layout for menu"
Different layout for menu like vertical

[2019-06-07 14:07] codecalm commented on #288
in version 1.0 we'll publish sidebar navigation

![Screenshot 2019-06-07 at 16 06 11](https://user-images.githubusercontent.com/1282324/59109919-3fa0ef00-893e-11e9-9af4-93d7187d5e37.png)

[2019-06-07 14:07] #254 closed

[2019-06-07 14:07] #286 closed

[2019-06-07 14:07] #285 closed

[2019-06-09 06:34] saileshkush95 commented on #288
Thanks for your work

[2019-06-13 09:19] kucw opened #289 "Different padding on sidebar nav"
I find the padding of two different type menu is not the same. It's not clear when the width is  set as 2rem, but it's really apperently when I set width to 10rem or using Chinese language.
Could you fix this bug? Thanks.

[2019-06-13 09:21] kucw commented on #289
![](https://upload.cc/i1/2019/06/13/dcJxke.png)
![](https://upload.cc/i1/2019/06/13/otpXzv.png)

[2019-06-17 15:53] dsznajder commented on #273
Hi @lvhaiquan!

Sorry, but there is no description here.

If you have any issues related to tabler, please provide minimal reproduction/chunk of code for easier debugging. It will help us to fix it as soon as possible. Thanks!

[2019-06-17 15:53] #273 closed

[2019-06-17 15:53] dsznajder commented on #274
Hi @lvhaiquan!

Sorry, but there is no description here.

If you have any issues related to tabler, please provide minimal reproduction/chunk of code for easier debugging. It will help us to fix it as soon as possible. Thanks!

[2019-06-17 15:53] #274 closed

[2019-06-17 15:58] dsznajder commented on #85
@icdindia Thanks for the issue.

We are currently working on `v1`! I added this one to our wish-list before release. Closing for now to cleanup repository as there is no discussion ongoing :)

[2019-06-17 15:58] #85 closed

[2019-06-17 16:00] dsznajder commented on #91
Thanks for the issue.

We are currently working on `v1`! I can't check the example because of error. If anyone has some preview of this feature please add it as a new issue.

[2019-06-17 16:00] #91 closed

[2019-06-17 16:06] dsznajder commented on #141
Hi @Mukeshgarg1984

There has been a lack of activity here. If the issue still exists please open a new one with some reproduction/description as there is only copy pasted error.

[2019-06-17 16:06] #141 closed

[2019-06-17 16:08] #140 closed

[2019-06-17 16:14] dsznajder commented on #133
Hi @erloncharlesbf!

We are currently working on `v1`!
This issue has a lack of activity for some time. If you still miss this feature please open a new one with reproduction/example of code for easier debugging. It will help a lot!

[2019-06-17 16:14] #133 closed

[2019-06-17 16:15] dsznajder commented on #89
@Hoohaha Closing, as there is a lack of activity and answer appeared.

[2019-06-17 16:15] #89 closed

[2019-06-17 16:18] dsznajder commented on #238
@alidehghan All available examples are available on https://preview.tabler.io/
If something is missing, feel free to add one on your own with PR! We will be glad to help you deliver this one!

[2019-06-17 16:18] #238 closed

[2019-06-17 16:19] #35 closed

[2019-06-17 16:21] dsznajder commented on #94
@deepak1725 Hi, Thank you for the issue.
We are currently working on `v1`! I've added it to our wish-list.

[2019-06-17 16:21] #94 closed

[2019-06-17 16:22] #92 closed

[2019-06-17 19:02] codecalm commented on #270
Hi! Version 1.0 will be without require.js

[2019-06-17 19:02] #270 closed

[2019-06-17 20:05] #79 closed

[2019-06-17 20:07] #159 closed

[2019-06-17 20:08] dsznajder commented on #72
Hi all, We started `v1` version. We will add it as a feature request to vote which part should be applied before / right-after release. Stay tuned!

[2019-06-17 20:08] #72 closed

[2019-06-17 20:10] dsznajder commented on #83
Hi all, We started working on a new version and this will be released with `v1`! Stay tuned

[2019-06-17 20:10] #83 closed

[2019-06-17 20:11] dsznajder commented on #96
@wille-io We will add it as a feature request and together decide if this will be included in v1 or right after. Stay tuned!

[2019-06-17 20:11] #96 closed

[2019-06-17 20:12] dsznajder commented on #106
@rtd62 Hi, we started working on `v1` version. We will add it as a feature request and apply it before / right-after release. Stay tuned!

[2019-06-17 20:12] #106 closed

[2019-06-17 20:13] dsznajder commented on #105
@rtd62 Hi, we started working on `v1` version. We will add it as a feature request and apply it before / right-after release. Stay tuned!

[2019-06-17 20:13] #105 closed

[2019-06-17 20:14] dsznajder commented on #163
@shirshak55  Hi, we started working on `v1` version currently and investigating the best tool to ship tabler :) Stay tuned, soon we will release road map :)

[2019-06-17 20:14] #163 closed

[2019-06-17 20:16] #122 closed

[2019-06-17 20:16] #114 closed

[2019-06-17 20:19] #130 closed

[2019-06-17 20:21] dsznajder commented on #264
@WinterSilence I'm not sure what you've tried to do. If you could open a new issue with some more details or reproduction for easier debugging/resolving this issue.

[2019-06-17 20:21] #264 closed

[2019-06-17 20:21] #134 closed

[2019-06-17 20:22] #84 closed

[2019-06-17 20:23] dsznajder commented on #191
@ZeoNish Thanks for the suggestion! We will discuss internally for some ideas and will get back with some announcements on road map

[2019-06-17 20:23] #191 closed

[2019-06-17 20:24] dsznajder commented on #243
@twooclock Unfortunately not. Currently, we are working on `v1` version to release it with the newest boostrap. Stay tuned

[2019-06-17 20:24] #243 closed

[2019-06-17 20:25] dsznajder commented on #234
@ahmed37 If you still have an issue please open a new one with more details because I'm missing some of them currently. Thanks!

[2019-06-17 20:25] #234 closed

[2019-06-17 20:26] dsznajder commented on #190
@MarcusMann Thanks for the suggestion. We will discuss it internally and get back with some road map for `v1` so stay tuned.

[2019-06-17 20:26] #190 closed

[2019-06-17 20:29] #196 closed

[2019-06-17 22:23] cangir opened #292 "License question about specific project"
I used [tabler](https://github.com/tabler/tabler) in one of my projects and want to use it also in future projects. I want to be sure if there is a license problem. Could someone kindly check if there is a license problem? I have credited [tabler](https://github.com/tabler/tabler) and other vendors in the readme file.

**My main problem is:** I want to use some _scss files and js files of tabler-u

[2019-06-18 19:44] #97 closed

[2019-06-18 19:44] #88 closed

[2019-06-18 19:44] #87 closed

[2019-06-18 19:44] #80 closed

[2019-06-18 19:46] #117 closed

[2019-06-18 19:46] dsznajder commented on #129
We won't include require.js in `v1`! :)

[2019-06-18 19:46] #129 closed

[2019-06-18 19:47] dsznajder commented on #172
@ashkanak 	We are currently in a middle of chart implementation. Stay tuned for `v1`!

[2019-06-18 19:47] #172 closed

[2019-06-18 19:48] #180 closed

[2019-06-18 19:49] dsznajder commented on #193
@ZeoNish 	We've added a task to update dependencies before `v1` release so stay tuned! :)

[2019-06-18 19:49] #193 closed

[2019-06-18 19:49] #197 closed

[2019-06-18 19:50] #216 closed

[2019-06-18 19:50] #200 closed

[2019-06-18 19:51] dsznajder commented on #227
@akmalhazim24 You can currently use rollbar.js with `yarn build`

[2019-06-18 19:51] #227 closed

[2019-06-18 19:51] #225 closed

[2019-06-18 19:52] dsznajder commented on #237
@xqsit We are not using require.js anymore :)

[2019-06-18 19:52] #237 closed

[2019-06-18 19:52] #232 closed

[2019-06-18 19:54] dsznajder commented on #221
@JustJunaid 	We started implemetation of charts. It will be released in `v1`

[2019-06-18 19:54] #221 closed

[2019-06-18 19:54] #223 closed

[2019-06-18 19:54] #224 closed

[2019-06-18 19:54] #210 closed

[2019-06-18 19:56] dsznajder commented on #259
@osmanrahimi 	Should work out of the box :)

[2019-06-18 19:56] #259 closed

[2019-06-18 19:57] dsznajder commented on #266
@rusha29 	We dropped require.js in `v1` :)

[2019-06-18 19:57] #266 closed

[2019-06-18 20:00] #189 closed

[2019-06-18 20:01] #248 closed

[2019-06-19 04:20] AbbyJanke commented on #292
https://github.com/tabler/tabler/blob/master/LICENSE

[2019-06-19 10:10] madaovh opened #294 "Invoice page"
Hello,
it would be interesting to see an "Invoice" page in the theme,
Any plan to add it?
Thank you.

[2019-06-23 18:39] #104 closed

[2019-06-23 18:40] #111 closed

[2019-06-23 18:41] #123 closed

[2019-06-23 18:41] #124 closed

[2019-06-23 18:41] #138 closed

[2019-06-23 18:42] #147 closed

[2019-06-23 18:42] #151 closed

[2019-06-23 18:43] #156 closed

[2019-06-23 18:43] #157 closed

[2019-06-23 18:44] #160 closed

[2019-06-23 18:44] #164 closed

[2019-06-23 18:44] #165 closed

[2019-06-23 18:45] #167 closed

[2019-06-23 18:45] #173 closed

[2019-06-23 18:45] #175 closed

[2019-06-23 18:46] #178 closed

[2019-06-23 18:51] #195 closed

[2019-06-23 18:52] #186 closed

[2019-06-23 18:52] #184 closed

[2019-06-23 18:53] #201 closed

[2019-06-23 18:54] #205 closed

[2019-06-23 18:54] #207 closed

[2019-06-23 18:55] #208 closed

[2019-06-23 18:55] #212 closed

[2019-06-23 18:55] #218 closed

[2019-06-23 18:55] #229 closed

[2019-06-23 18:56] #240 closed

[2019-06-23 18:56] #242 closed

[2019-06-23 18:57] #244 closed

[2019-06-23 18:57] #250 closed

[2019-06-23 18:58] #253 closed

[2019-06-23 18:58] #255 closed

[2019-06-23 18:58] #256 closed

[2019-06-23 18:59] #276 closed

[2019-06-23 18:59] #282 closed

[2019-06-23 20:33] alihesari commented on #104
@dsznajder Without any solution?

[2019-06-24 05:16] devsi commented on #253
Hi all, was this closed because fixed?

[2019-06-24 05:52] dsznajder commented on #253
@devsi Sorry, I've forgot to label it. We will handle this in `v1` version, but we have other task on it -> Web compatibility, so definitely will be fixed :)

[2019-06-24 05:54] dsznajder commented on #104
@alihesari Have you tried the explanation from page?
also, we are not using gulp anymore, so I'm pretty sure that it's related to version of it.
If you still have issue, feel free to open a new one, with dependency versions -> (gulp, node, npm, etc.) :)

[2019-06-27 11:34] nithi2023 commented on #188
Please look at this also, if it is not too late : http://www.daterangepicker.com/#examples

[2019-06-27 13:55] WinterSilence opened #295 "Add new braches"
I think need add branches: "v2 master", "v2 develop" and tag "v2" for issue/pr.

[2019-06-28 09:51] codecalm opened #296 "SCSS plugins compilation"
We need to compile tabler core (`tabler.scss`) and all tabler scss plugins like `tabler-*.scss`.

All files like `.min.css`, `.min.css.map`, `css.map`, etc. also should be generated.

[2019-06-28 10:03] dsznajder commented on #296
@codecalm I'm pretty sure that it's already done, but I will check it!

[2019-06-29 12:07] codecalm commented on #188
@nithi2023 new tabler will be with this package

[2019-06-29 12:33] dsznajder commented on #296
@codecalm They need to be compiled separatelly, but command is added and if next one will appear you need only copy add `css-compile-<name_of_plugin>` and `css-minify-<name_of_plugin>` with path.

PR is ready :)

[2019-06-29 12:35] codecalm commented on #296
I think that we need to build plugins separately, like `tabler-charts`, `tabler-forms`, etc

[2019-06-29 12:40] dsznajder commented on #296
@codecalm Yes, I've added a commands which will imitate next plugins when they appear :)

[2019-06-29 12:40] codecalm commented on #296
okay, thanks

[2019-07-05 14:40] codecalm commented on #296
done

[2019-07-05 14:40] #296 closed

[2019-07-05 18:40] dsznajder commented on #295
@WinterSilence We did not release `v1` yet! :D I'm pretty sure that `tags` are enough for people to download specific version. For future, we will handle it problably the same as now.

[2019-07-05 18:40] #295 closed

[2019-07-05 19:10] WinterSilence commented on #295
@dsznajder I'm wrongly explained: you adds new PRs to `dev` branch, but some PRs with fixes/updates are relevant to `master` branch too. There are many differences between branches, therefore adding this PRs to both branches is sometimes problematic. Maybe create an intermediate branch (`v2` > `dev 0.4`) containing only fixes for `master` branch and updates of vendor libraries?

[2019-07-05 19:26] WinterSilence opened #299 "Demo for dev branch"
The `dev` branch has many differences with the `master` branch. Maybe create `dev-preview.tabler.io` for `dev` branch?

[2019-07-06 12:12] electrocoder opened #300 "Table sorting asc or desc"
Table is default sorting. I change is date column is sorting asc  or desc. How can I do it?

[2019-07-09 02:47] WinterSilence opened #301 "Need fix package.json (dev branch, Windows)"
Errors in strings:
[code]
I fix "html-watch", "html-build", but cant fix problems with `sed` in "css-minify":
[code]

[2019-07-09 02:55] WinterSilence commented on #300
@electrocoder https://datatables.net/extensions/rowreorder/examples/initialisation/simple.html

[2019-07-09 07:06] #300 closed

[2019-07-09 07:06] electrocoder commented on #300
Thanks

[2019-07-09 08:00] codecalm commented on #301
@dsznajder we must replace `sed` with different app which works on windows

[2019-07-09 08:47] WinterSilence commented on #301
@codecalm  sed work on Windows, i think problem in syntax. As u can see for/set too have other syntax. Why u dont use jekyll for this? [sass converter](https://github.com/jekyll/jekyll-sass-converter) +[html/css/js minifier](https://github.com/digitalsparky/jekyll-minifier)

[2019-07-09 08:57] xzkzdx opened #302 "paginator"
没有paginator分页器啊

[2019-07-10 10:58] #302 closed

[2019-07-10 21:07] lailton opened #304 "Can not compile"
I am trying to compile without success.

MacBook:tabler lailton$ npm run serve
npm ERR! missing script: serve

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/lailton/.npm/_logs/2019-07-10T21_02_05_324Z-debug.log
MacBook:tabler lailton$ cat /Users/lailton/.npm/_logs/2019-07-10T21_02_05_324Z-debug.log
0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node'

[2019-07-11 09:28] codecalm commented on #304
@lailton try `npm run start` instead of `serve`

[2019-07-11 14:07] lailton commented on #304
Hi @codecalm,

Thanks for reply.

If I do it, it open but look like something was not complete.
attached screenshot
<img width="1670" alt="Screen Shot 2019-07-11 at 11 05 46" src="https://user-images.githubusercontent.com/39895255/61057645-1acfe980-a3cc-11e9-9198-dafab4f4528c.png">
<img width="788" alt="Screen Shot 2019-07-11 at 11 05 31" src="https://user-images.githubusercontent.com/39895255/610

[2019-07-11 15:03] codecalm commented on #304
which branch?

[2019-07-11 15:27] lailton commented on #304
I am trying from the branch DEV

I have tested now the branch dev-layout-manager and master and your command works.
so I think that it is isolated only on DEV branch.

[2019-07-11 15:28] codecalm commented on #304
it looks like you dont have the newest version, this screen looks like ~2 months ago

[2019-07-11 15:50] lailton commented on #304
I think that I have.
I did a git fetch --all

so I think that I have everything, it say updated.

[2019-07-11 15:53] codecalm commented on #304
git pull download the newest version

[2019-07-11 22:23] WinterSilence opened #306 "Data table demo"
I write [custom DataTable example](https://gist.github.com/WinterSilence/bb5c5d6588fac56dc1440c7181b9bed6), maybe combine with `dev/pages/crypto-currencies.html`?

[2019-07-11 23:33] lailton commented on #304
@codecalm,

I have deleted all files and started from scratch.

now after all commands called.

git clone https://github.com/tabler/tabler.git
cd tabler
npm install
gem install bundler
bundle install

and finally:

npm run start

<img width="1680" alt="Screen Shot 2019-07-11 at 20 28 43" src="https://user-images.githubusercontent.com/39895255/61092076-1e3e9180-a41b-11e9-9185-69bb2ab55acf.png">
<im

[2019-07-12 11:15] codecalm commented on #304
@lailton try now :)

[2019-07-12 17:34] lailton commented on #304
@codecalm,

Excellent! now it is working ok.
Thank you and congratulation for the amazing work!

[2019-07-12 17:34] #304 closed

[2019-07-12 17:37] ghost opened #307 "Dark Theme"
I found two thing on the dark theme that should be changed.

the mouse over ( to the links ) make the text dissapear.

and the Toast message in dark mode the content color is not good. maybe you should change it.

Thanks
<img width="343" alt="Screen Shot 2019-07-12 at 14 31 57" src="https://user-images.githubusercontent.com/39895255/61147322-7aa0c000-a4b2-11e9-9b89-e1eeaeb39d90.png">
<img width="5

[2019-07-12 19:17] dsznajder commented on #301
@WinterSilence What's the problem with sed? I can't check it as I do not have Windows on my own for now. Could you share some error stack that you have?

[2019-07-12 19:18] dsznajder commented on #299
@WinterSilence Soon :) We need to be sure that everything that we are working on is working and looks in way that we wanted :) Just stay tuned :)

[2019-07-12 19:18] #299 closed

[2019-07-12 19:19] dsznajder commented on #271
@frederikhors Unfortunately we can't actually track them but, new documentation will clarify every element that you are probably using in your project :)

[2019-07-12 19:20] dsznajder commented on #272
@mfuentesg We reduced everything from build now and I'm currently working on CDN's deploy :) Thanks for issue!

[2019-07-12 20:32] WinterSilence commented on #301
@dsznajder
[code]
fix: `rm` to `rmdir`
[code]
oook, lets try `mkdir dist && cd dist && mkdir css && mkdir js`
[code]
 JEKYLL_ENV = development bundle exec jekyll build --watch
"JEKYLL_ENV" is not internal or external
command, executable program or batch file.
[code]
"html-watch": "set JEKYLL_ENV=development bundle exec jekyll build --watch",
"html-build": "set JEKYLL_ENV=production bundle exec jek

[2019-07-13 16:48] abponcio commented on #183
I think it far too late to answer but, either you remove the class close, or remove the x

[2019-07-15 19:04] edwinvandeven opened #309 "Form.Help appears to be not working"
Nothing happens at the moment when clicking the form help: https://tabler-react.com/form-elements (It's next to the zip code box).

`
<Form.Help message={<><p>ZIP Code must be US or CDN format. You can use an extended ZIP+4 code to determine address more accurately.</p><p class="mb-0"><a href="#">USP ZIP codes lookup tools</a></p></>} />
`

[2019-07-15 19:06] edwinvandeven commented on #309
Sorry, this should go to tabler-react, closing this one.

[2019-07-15 19:06] #309 closed

[2019-07-15 22:53] manuponce1993 commented on #219
Hi, I was looking for a template to include in a project from my university and luckily I found this open source development.
I think the problem is that there's no JS function that loads the name of the file attached to the input. Adding this function will do the magic!

[code]

[2019-07-18 19:05] Jake-Breaks-Stuff commented on #108
I've got the same issue.

[2019-07-24 15:51] Oscarteg opened #315 "Dev documentation is not being updated"
The development documentation is not being updated anymore. I checked out the dev branch and can run it locally but when I try to create a build of this it doesn't reflect the dev branch.

[2019-07-24 17:29] WinterSilence commented on #315
@Oscarteg u use Windows?

[2019-07-24 18:18] #301 closed

[2019-07-24 19:56] WinterSilence opened #320 "I found how to solve the problem with running in Windows"
@codecalm I send PRs #317 #318 to update docs (apply Windows fixes in `master` too) and #319 to set host/port at any case.

[2019-07-24 20:01] WinterSilence commented on #301
@dsznajder #320 fixed any problems

[2019-07-24 22:50] Oscarteg commented on #315
No I tried it on mac. The steps I did was the following.

[code]

And then I noticed that the `_site` directory is not created.

[2019-07-25 00:21] WinterSilence commented on #315
@Oscarteg
1. [Install Node.js](https://nodejs.org/download/), which we use to manage our dependencies.
2. Navigate to the root `/tabler` directory and run `npm install` to install our local dependencies listed in `package.json`.
2. Navigate to the root `/tabler` directory and run `npm install` to install our local dependencies listed in `package.json`.
3. [Install Ruby](https://www.ruby-lang.org/e

[2019-07-25 00:25] WinterSilence commented on #315
@Oscarteg > And then I noticed that the _site directory is not created.
`dev` create files in [/tmp](https://github.com/tabler/tabler/blob/dev/_config.yml#L2)

[2019-07-25 05:41] HungKuei opened #322 "Bugs fly everywhere"
Bugs fly everywhere

[2019-07-25 08:06] codecalm commented on #322
@HungKuei v1 is made from scratch, so at this moment bugs are normal. Try tu use `master` branch, or package from tabler.io website.

[2019-07-25 08:06] #322 closed

[2019-07-25 10:44] Oscarteg commented on #315
@WinterSilence I have followed those steps and it is working for the dev environment but not for a production build of the `dev` branch. The HTML files are created in `tmp` but when I try to open them them it is missing the CSS and JS dependencies.

What I am trying to achieve is to create a production build of `dev` branch. So just the JS/CSS/HTML files to be able to host it on a static hoster.

[2019-07-25 12:13] WinterSilence commented on #315
@Oscarteg u can use [jekyll-redirect-from](https://github.com/jekyll/jekyll-redirect-from)

[2019-07-25 15:48] #320 closed

[2019-07-26 15:27] codecalm commented on #299
https://preview-dev.tabler.io/ there will be dev branch

[2019-07-29 05:28] jaydeepakbari opened #328 "Left Side Admin Menu"
How to Create a left side menu like admin panel

[2019-07-29 05:28] jaydeepakbari commented on #164
Thanks

[2019-08-02 16:23] rlightner opened #329 "Update https://preview.tabler.io/ with latest from dev branch"
Looks like classes were removed `header` specifically and would be nice to see what the new syntax should be for some pages.

[2019-08-10 10:55] antonb53 opened #330 "Nothing on 4000 port"
Hello, after installation on Windows platform works only BrowserSync. http://localhost:4000/ - not responce. No errors during installation.

[Browsersync] Access URLs:
 -------------------------------------
       Local: http://localhost:4567
    External: http://192.168.1.10:4567
 -------------------------------------
          UI: http://localhost:3001
 UI External: http://localhost:3001
 ------

[2019-08-10 13:25] #330 closed

[2019-08-15 09:34] masaddy opened #331 "Tabler DataTable"
Datatables have been found in the dashboard. Why the tabler that I downloaded has no DataTables in it.

How to integrate DataTables into tabler.

please give me an example how to use DataTables into Tabler, i dont i understand in using require.js

[2019-08-15 09:51] #331 closed

[2019-08-16 06:00] WinterSilence commented on #329
@rlightner  see https://preview-dev.tabler.io

[2019-08-16 06:23] WinterSilence opened #333 "Need fix custom form"
Need fix `.custom-file`, `.custom-select`, see https://preview-dev.tabler.io/form-elements.html

[2019-08-16 06:27] WinterSilence commented on #333
Encode text in attribute `data-content` of `.form-help`

[2019-08-16 06:31] WinterSilence commented on #333
`.select-countries`, `.select-users` and etc. - images not displayed, see elements in [master](https://preview.tabler.io/form-elements.html)

[2019-08-16 06:47] WinterSilence commented on #333
in dev demo wrong path to js files

[2019-08-16 13:50] #329 closed

[2019-08-16 23:50] neozhu opened #334 "How to run in a pure js (jquery, ajax) environment"
How to run in a pure js (jquery, ajax,asp.net) environment

[2019-08-18 11:14] WinterSilence commented on #334
@neozhu rewrite nodejs? good luck))

[2019-08-18 12:15] neozhu commented on #334
jquery client html page，no server-side

[2019-08-18 12:18] WinterSilence commented on #334
@neozhu tell me more, what are you doing?

[2019-08-19 05:21] neozhu commented on #334
Thank you reply, I know how to do it.

[2019-08-19 05:21] #334 closed

[2019-08-24 12:24] ZeoNish opened #335 "Thank you for what you are doing !!!"
Dear developers thank you very much for what you are doing !!!

[2019-08-24 12:27] ZeoNish commented on #188
http://t1m0n.name/air-datepicker/docs/index.html

[2019-08-25 05:47] 4NG3L1337 opened #336 "datatables not working"
In the demo page data tables works well but when i download the template from tabler.io (download button) this version don't have the css for data tables and the plugin for datatable, how i can fix this  thank you!! and i love your work guys!

[2019-08-26 04:57] nasirkhan opened #337 "Tabler with webpack"
I am using webpack on a project and wanted to use Tabler there. Right now is it using the basic bootstrap along with some other plugins.

On the demo and downloaded source  code i found that Tabler is using Require js. Is there any doc available or can you please guide meto use it wilh webpack?

[2019-08-27 08:36] DMW007 opened #338 "Add documentation for select lists with selectize.js"
Hi,

I'm using tabler in a project where advanced lists with icons/image are required. The [form examples](https://preview.tabler.io/form-elements.html) shows some lists with those features, but I couldn't find it in [the documentation](https://preview.tabler.io/docs/index.html). Not in [the form section](https://preview.tabler.io/docs/form-components.html) as well as other sections.

By looking i

[2019-08-27 23:03] Tairau commented on #188
@ZeoNish last update at three years ago

@nithi2023 https://github.com/flatpickr/flatpickr

[2019-08-28 10:15] ianotida commented on #49
github Tabs is much nicer than bootstrap but the same theme

![image](https://user-images.githubusercontent.com/38063617/63847145-dad1bf80-c995-11e9-84ce-ad34b590af89.png)

![image](https://user-images.githubusercontent.com/38063617/63847193-f1781680-c995-11e9-89c2-5c4aaa09d540.png)

[2019-08-29 09:34] bonekost opened #339 "npm bootsrtap dependency"
Hi @codecalm,
first at all thank you for great job with the tabler.

I am trying to implement tabler to one of our project and I got problem when I am using tabler dev version cause there is this line in package.json:
` "bootstrap": "twbs/bootstrap#fb475e9",`

We are using bootstrap 4.3.1 in our project and there is some missing variables.

Is it possible in next iteration to use stable version of

[2019-08-31 09:16] WinterSilence commented on #339
@bonekost bootstrap dev in tabler dev - good solution. pls, dont try use tabler dev in production - this version have [bugs](https://github.com/tabler/tabler/issues/333)

[2019-09-07 05:35] #288 closed

[2019-09-11 22:34] kevin-jj commented on #337
Currently, Tabler can not be  able to work with webpack. cc @codecalm @dsznajder

[2019-09-14 10:51] neerajsinghsonu commented on #83
Hello All,

First of all "Thank you so much :)" for this awesome work. If you are looking for 'Sidebar Option' then you cn find the below screenshot and code usefull. I think its required lil update but thats okay.

I have just build a dashboard with left-menu-sidebar and hope it will help you guys too.

![Screenshot_2019-09-14 Tabler Sidebar - CMS(1)](https://user-images.githubusercontent.com/137

[2019-09-14 10:55] neerajsinghsonu commented on #86
Hi, You can find a [demo here](https://github.com/tabler/tabler/issues/83#issuecomment-531470052)

Thank you :)

[2019-09-14 11:09] WinterSilence opened #346 "Roadmap"
@codecalm @dsznajder Today project not so "user friendly" and hard to integrated, i suggest a few steps to fix it:

- [ ] [Disqus](https://disqus.com/admin/create/) for demo sites
- [ ] Doc page with third-party libraries (link, brief, examples)
- [ ] Doc page with "file map" - derscription for folders/files:
* [pages](https://github.com/tabler/tabler/tree/dev/pages) - [page templates](https://jek

[2019-09-14 11:38] WinterSilence commented on #346
I can help with Disqus and WYSIWYG editor

[2019-09-14 15:58] pess0a commented on #336
i copied databoard.css from hosted source and pasted into my file
and then it works.

[2019-09-15 08:55] WinterSilence commented on #346
[Grid scaffolds](https://github.com/Frontwise/grid-editor)

[2019-09-15 10:58] arnaud314315 opened #347 "W3C validation"
Hello,

I find tabler a great initiatives and tools to build a powerful dashboard. I think it will be good to stick w3c validation as much as possible for code best pratices ? What do you think ?

Please see below as example warning and error messages from w3c validator for login.html
![tablerw3c](https://user-images.githubusercontent.com/35598037/64920460-90c74700-d7a7-11e9-8664-025f5d1850c8.png)

[2019-09-21 20:33] adam314315 commented on #347
Is it a local bug then or are there any automated check process for w3c validation?

[2019-09-22 06:25] jartaud commented on #337
I'm using it with Laravel Mix (Webpack wrapper)
[code]

[2019-09-26 14:23] cjbaezilla opened #348 "Request: Calendar"
Hello there, first of all, thank you for the great work,

Iit's the first time im doing this so i'm sorry if this is not the right channel to do it, but it was the only one i manage to get.

Is there a possibility to add a calendar layout, for booking or schedule, please?, or could you pleas ehelp me to integrate one without losing the look and feel of your theme, its awesome!!!

thank you guys, h

[2019-09-26 21:53] antond1990 opened #349 "Where is the documentation for form custom selects?"
Just not found...

[2019-09-27 15:29] kevin-jj commented on #337
using webpack instead of gulp | grunt

[2019-09-29 20:47] DanielRuf opened #351 "Use only woff and woff2 fonts"
https://github.com/tabler/tabler/blob/dev/scss/fonts/_tabler-webfont.scss

eot, ttf, svg and so on are not really needed anymore.

[2019-09-30 14:49] WinterSilence commented on #349
https://selectize.github.io/selectize.js/

[2019-10-01 14:43] brian-welch opened #352 "`npm run start` Does Not Start Server on localhost:4000"
This is the output after running `npm run start` (I'll cut out the unimportant parts):

[code]

So as you can see, my server runs on port 3000.  Just thought you should know ( i'm on a mac just for info)

- Brian

[2019-10-01 19:34] Daemach opened #353 "Slack link no longer works"
I would like to join you in Slack.  Can you provide a working invite link please?

[2019-10-01 19:47] Daemach opened #354 "Nodejs 10 or 12?"
Please recommend.

[2019-10-02 16:14] Daemach opened #355 "How do I build the following table on your home page?"
Where do I find the source code used to create this table: https://www.screencast.com/t/pZ2YVhf9nx

It's found on this page: https://preview.tabler.io/index.html

[2019-10-03 12:10] AntonLoktionov commented on #336
please, someone share actual version of rendered html with datatables

[2019-10-05 07:25] MahdiMajidzadeh commented on #26
I make a pr for rtl https://github.com/tabler/tabler/pull/356

[2019-10-09 15:53] interlucency commented on #131
Are there any updates on this? If I can get the original file from @milosmatic I would be more than happy to make the necessary changes.

[2019-10-15 05:36] WinterSilence commented on #355
https://github.com/tabler/tabler/blob/master/src/_includes/cards/table-users.html

[2019-10-16 02:34] taewookim commented on #288
hi. Is the vertical layout ready?

[2019-10-20 16:19] viraladmin opened #359 "Pure html/css version?"
Is there any way to obtain this dashboard in pure html/css without the need for everything else required to install this? I love the look of this dashboard but calling it an html dashboard is not exactly correct. HTML does not have ruby requirements.

[2019-10-21 13:24] CyberSinister commented on #175
Does anyone know a fix to this?

[2019-10-27 19:32] premedios commented on #359
I was going to take a crack at this but this thing is using jekyll. Forget it! I'm going to keep working on Gentellela non Bootstrap version!

[2019-10-28 10:18] #289 closed

[2019-10-28 17:00] ShirazCoders opened #362 "RTL SCSS file not exit in npm version"
Hello,
I try `npm i tabler-ui` but I can't find _rtl.scss file.

[2019-10-29 08:49] alighasemzadeh commented on #328
I think it is good idea.

[2019-11-04 10:55] harshalone commented on #359
pure html/css version is required for many reasons. Is that even possible of we more to another template?

[2019-11-05 02:44] ibnux opened #374 "Anyone know how to create TV mode?"
auto size by windows

so it will full width on tv/Monitor

Thank You

[2019-11-06 17:22] darkalghul opened #377 "Variables not found"
I have encounter a lot of different errors when compiling the scss code here at some example:

Mixin button-size is missing argument $border-radius.

Variables not found:
$form-check-input-checked-bg-color
$form-check-input-checked-bg-image
$form-check-input-checked-bg-repeat
$form-check-input-checked-bg-position
$form-check-input-checked-border-color
$hr-height
$form-select-bg
$form-select-focus-

[2019-11-07 09:54] ManukMinasyan opened #378 "Update tabler-ui."
Hey guys, thanks for the great work.
Please update tabler-ui for use with webpack.

Thanks.

[2019-11-20 03:18] byruddy commented on #118
+1

[2019-12-02 11:13] kicaj opened #403 "Divider"
In documentation, section about Divider is signed as ended. But divider, mainly "or" word doesn't work as expect.

[2019-12-03 09:17] codecalm commented on #403
@kicaj now should be better :)

[2019-12-03 09:18] codecalm commented on #403
![Screenshot 2019-12-03 at 10 18 33](https://user-images.githubusercontent.com/1282324/70037090-48554380-15b6-11ea-8d4d-3883cb2a88ad.png)

[2019-12-03 10:43] kicaj commented on #403
Yes, much better:)

[2019-12-03 10:43] #403 closed

[2019-12-04 12:59] alidehghan opened #404 "Bootstrap 4.4"
Would you please update tabler to Bootstrap 4.4?

[2019-12-04 13:29] david03h commented on #404
Im sorry, but we no longer support this version of Tabler. The latest Bootstrap will be implemented in Tabler version 1.0.0.

[2019-12-04 13:49] #404 closed

[2019-12-10 20:47] a4men222 opened #421 "W"
[bootstrap-4.4.1-dist.zip](https://github.com/tabler/tabler/files/3947067/bootstrap-4.4.1-dist.zip)

[2019-12-13 18:32] KhanMaytok opened #426 "Icons AS SVG?"
I build the master branch and now the icons are svg. Where is the list of all icons to be used?

[2019-12-13 18:34] codecalm commented on #426
You can use any icons in svg. In Tabler we use https://feather.netlify.com/

[2019-12-13 18:35] codecalm commented on #378
version 1.0 will be able to use with webpack

[2019-12-13 18:35] #378 closed

[2019-12-13 18:37] KhanMaytok commented on #426
I understand. many thanks for the respose.

[2019-12-13 18:38] #426 closed

[2019-12-13 18:40] codecalm commented on #359
version 1.0 will be available in HTML only version, we will distribute it the same  like Bootstrap (via npm, cdn, etc)

[2019-12-13 18:43] codecalm commented on #328
in version 1.0 side menu will be available

![localhost_3001_index html](https://user-images.githubusercontent.com/1282324/70823705-ddd7ab00-1de0-11ea-8214-8cac316982cf.png)

[2019-12-13 18:44] codecalm commented on #328
in folded version too

![localhost_3001_index html (4)](https://user-images.githubusercontent.com/1282324/70823749-f47e0200-1de0-11ea-80f8-7728187f97de.png)

[2019-12-14 03:51] jaydeepakbari commented on #328
@codecalm Thanks for sharing that, it looks really handy!

[2019-12-14 03:51] #328 closed

[2019-12-16 01:39] alejandrodevs opened #427 "New NPM version."
Are you planning a new npm release soon?

[2019-12-16 06:52] david03h commented on #427
Yes, it will come out soon.

[2019-12-16 06:52] #427 closed

[2019-12-16 09:32] codecalm commented on #427
@alejandrodevs new version of Tabler will be released via npm and other popular package managers

[2019-12-16 17:37] gideonaa commented on #353
I would also love to join a slack group for Tabler if one still exists.

[2019-12-17 11:17] tanirmedya opened #428 "Tabler Design Files"
Hi,

Can you share Tabler design files?

It doesn't matter (Sketch, Adobe XD, Figma)

Thank you!

[2019-12-18 04:09] mendozagioo commented on #261
I want to help, but I don't understand the problem.
First of all, `$grit-gutter-width` doesn't used to calculate `$container-max-width`, in fact doesn't exist, because exist: `$container-max-widths` that is a set of sizes by default, defined in `_variables.scss`. Can you explain more about this? @WinterSilence